[Desktop Entry]
Name=Main Menu
Name[af]=Hoofkieslys
Name[ar]=القائمة الرئيسية
Name[bg]=Основно меню
Name[bn]=প্রধান মেনু
Name[br]=Pennlañser
Name[ca]=Menú principal
Name[cs]=Hlavní nabídka
Name[cy]=Prif Ddewislen
Name[da]=Hovedmenu
Name[de]=Hauptmenü
Name[el]=Κυρίως μενού
Name[en_GB]=Main Menu
Name[eo]=Ĉefa menuo
Name[es]=Menú principal
Name[et]=Peamenüü
Name[eu]=Menu nagusia
Name[fa]=منوی اصلی
Name[fi]=Päävalikko
Name[fr]=Menu principal
Name[fy]=Haadmenu
Name[ga]=Príomhroghchlár
Name[gl]=Menú principal
Name[gu]=મુખ્ય મેનુ
Name[he]=תפריט ראשי
Name[hi]=मुख्य मेन्यू
Name[hr]=Glavni izbornik
Name[hu]=Főmenü
Name[it]=Menù principale
Name[ja]=メイン・メニュー
Name[kk]=Бас мәзір
Name[km]=ម៉ឺនុយ​មេ
Name[ko]=주 메뉴
Name[lt]=Pagrindinis meniu
Name[lv]=Galvenā izvēlne
Name[mk]=Главно мени
Name[mn]=Үндсэн цэс
Name[ms]=Menu Utama
Name[nb]=Hovedmeny
Name[nds]=Hööftmenü
Name[nl]=Hoofdmenu
Name[nn]=Hovudmeny
Name[pa]=ਮੁੱਖ ਮੇਨੂ
Name[pl]=Menu główne
Name[pt]=Menu Principal
Name[pt_BR]=Menu principal
Name[ro]=Meniu principal
Name[ru]=Главное меню
Name[sk]=Hlavná ponuka
Name[sl]=Glavni meni
Name[sr]=Главни изборник
Name[sv]=Huvudmeny
Name[ta]=முதன்மை புப் பட்டி
Name[tr]=Ana Menü
Name[uk]=головне меню
Name[vi]=Trình đơn chính
Name[zh_CN]=主菜单
Name[zh_TW]=主選單
Comment=Add or remove applications from the main menu
Comment[bg]=Добавяне или премахване на програмите в основното меню
Comment[ca]=Afegiu o suprimiu aplicacions al menú principal
Comment[cs]=Přidat aplikace do nebo odebrat z hlavní nabídky
Comment[da]=Tilføj eller fjern programmer fra hovedmenuen
Comment[de]=Anwendungen dem Hauptmenü hinzufügen oder löschen
Comment[el]=Προσθέστε ή αφαιρέστε εφαρμογές από το κύριο μενού
Comment[en_GB]=Add or remove applications from the main menu
Comment[es]=Añadir o quitar aplicaciones del menú principal
Comment[et]=Peamenüüs näidatavate rakenduste lisamine või eemaldamine
Comment[fi]=Lisää tai poista päävalikossa näytettäviä sovelluksia
Comment[fr]=Ajouter ou supprimer des applications à partir du menu principal
Comment[gl]=Engadir ou desinstalar aplicativos desde o menú principal
Comment[he]=ניתן להוסיף או להסיר יישומים מהתפריט הראשי
Comment[hu]=Alkalmazások hozzáadása vagy eltávolítása a főmenüből
Comment[lt]=Pridėti arba šalinti programas pagrindiniame meniu
Comment[lv]=Pievienot vai izņemt lietotnes no galvenās izvēlnes
Comment[nb]=Legg til eller fjern programmer fra hovedmenyen
Comment[pl]=Dodawanie lub usuwanie programów z głównego menu
Comment[pt]=Adicionar ou remover aplicações do menu principal
Comment[pt_BR]=Altere quais aplicativos são mostrados no menu principal
Comment[ru]=Добавить или удалить приложения из главного меню
Comment[sk]=Pridáva alebo odstraňuje aplikácie z hlavnej ponuky
Comment[sl]=Dodajanje in odstranjevanje programov v osnovnem meniju
Comment[sr]=Додајте или уклоните програме приказане у главном изборнику
Comment[zh_CN]=从主菜单中增加或移除应用程序
Comment[zh_TW]=從主選單加入或移除應用程式
Exec=alacarte
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;DesktopSettings;Utility;
NotShowIn=KDE;
Icon=alacarte
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=alacarte
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.11.91
