[Desktop Entry]
Name=Atom
Type=Application
Comment=A hackable text editor for the 21st Century.
Exec=/usr/bin/atom %U
TryExec=/usr/bin/atom
Icon=/usr/share/pixmaps/atom.png
Categories=GNOME;GTK;Utility;TextEditor;Development;
MimeType=text/plain;
StartupNotify=true
StartupWMClass=Atom
