[Desktop Entry]
Type=Application
Name=Avant Window Navigator
Name[af]=Avant Verster Navigator
Name[ar]=ملاح النوفذة أفانت
Name[bg]=Avant Window Navigator
Name[ca]=Navegador de finestres Avant
Name[cs]=Avant Window Navigator
Name[da]=Avant Window Navigator
Name[de]=Avant Window Navigator
Name[el]=Avant Window Navigator
Name[en_GB]=Avant Window Navigator
Name[eo]=Avant fenestro-eksplorilo
Name[es]=Navegador de ventanas Avant
Name[et]=Avant Window Navigator
Name[eu]=Avant Window Navigator
Name[fi]=Avant Window Navigator
Name[fr]=Avant Window Navigator
Name[gl]=Avant Window Navigator
Name[he]=Avant Window Navigator
Name[hi]=अवंत विंडो नाविगाटर
Name[hr]=Avant Window Navigator
Name[hu]=Avant ablaknavigátor
Name[is]=Avant Window Navigator
Name[it]=Avant Window Navigator
Name[ja]=Avant Window Navigator
Name[kk]=Avant терезе навигаторы
Name[ko]=아반트 윈도우 내비게이터
Name[lt]=Avant langų tvarkytuvas
Name[ms]=Pengemudi Tetingkap Avant
Name[nds]=Avant Window Navigator
Name[nl]=Avant Window Navigator
Name[pl]=Nawigator Okien Avant
Name[pt]=Avant Window Navigator
Name[pt_BR]=Avant Window Navigator
Name[ro]=Navigatorul de ferestre Avant
Name[ru]=Avant Window Navigator
Name[sk]=Avant Window Navigátor
Name[sl]=Avant Window Navigator
Name[sr]=Авангардни навигатор прозора
Name[sv]=Avant Window Navigator
Name[tr]=Avant Pencere Gezgini
Name[uk]=Avant Window Navigator
Name[zh_CN]=Avant 窗口导航器
Name[zh_TW]=Avant Window Navigator
Comment=A dock-like window navigator.
Comment[af]='n Dokagtige venster navigator.
Comment[ar]=ملاح نوفذة كالمرساة.
Comment[bg]=Док-подобен навигатор на прозорци
Comment[ca]=Un navegador de finestres de tipus acoblador.
Comment[cs]=Dokovací přepínač oken
Comment[da]=En docklignende vinduesnavigator.
Comment[de]=Ein Dock-ähnlicher Fensternavigator.
Comment[el]=Ενας πλοηγός παραθύρων τύπου-dock
Comment[en_GB]=A dock-like window navigator.
Comment[eo]=Doka fenestro navigilo.
Comment[es]=Un navegador de ventanas tipo dock.
Comment[et]=Dokk-stiilis aknanavigaator.
Comment[eu]=Atrake (dock) moduko leiho-nabigatzailea.
Comment[fi]=Telakkamainen ikkunanavigaattori.
Comment[fr]=Une barre des tâches de type « dock »
Comment[gl]=AWN fornece unha barra de aplicativos entallábel no escritorio
Comment[he]=נווט חלונות דמוי מעגן.
Comment[hu]=Dokkszerű ablaknavigátor
Comment[is]=Stika sem hægt er að stilla.
Comment[ja]=ドックライクなウィンドウナビゲーター
Comment[ko]=독 방식의 윈도우 내비게이터
Comment[lt]=Juostos tipo langų tvarkytuvas
Comment[ms]=Pengemudi tetingkap macam dock.
Comment[nl]=Dock-achtige vensternavigatie
Comment[pl]=Dokopodobny nawigator okien.
Comment[pt_BR]=Um navegador de janelas estilo doca.
Comment[ro]=Un navigator de ferestre asemănător barei de docare.
Comment[ru]=Панелеподобный навигатор
Comment[sk]=Dokovací prepínač okien
Comment[sl]=Sidrišču podoben krmar oken.
Comment[sv]=En dock-liknande fönsternavigator.
Comment[tr]=Yuva benzeri pencere gezgini
Comment[uk]=Панельіконний навігатор на основі панелей.
Comment[zh_CN]=Dock样式的窗口导航
Comment[zh_TW]=一個 dock 類型的視窗導覽工具
Exec=avant-window-navigator
Icon=avant-window-navigator
Categories=GNOME;Utility;
