[Desktop Entry]
Type=Application
Name=Awn Settings
Name[ar]=إعدادت ملاح النوافذ أفنت
Name[bg]=Настройки на Awn
Name[cs]=Nastavení Awn
Name[de]=Awn-Einstellungen
Name[el]=Ρυθμίσεις του Awn
Name[en_GB]=Awn Settings
Name[es]=Configuración de Awn
Name[et]=awn eelistused
Name[eu]=Awn-ren ezarpenak
Name[fi]=Awn-asetukset
Name[fr]=Préférences de Awn
Name[gl]=Configuración de Awn
Name[he]=הגדרות Awn
Name[hr]=Awn Postavke
Name[hu]=Awn Beállítások
Name[ja]=Awn 設定
Name[kk]=Awn баптаулары
Name[ko]=AWN 설정
Name[lt]=Awn nustatymai
Name[ms]=Tetapan Awn
Name[nl]=Awn-instellingen
Name[pl]=Ustawienia Awn
Name[pt_BR]=Configurações do Awn
Name[ro]=Configurări Awn
Name[ru]=Настройки Awn
Name[sk]=Nastavenie programu Awn
Name[sl]=Awn Nastavitve
Name[sv]=Awn-inställningar
Name[ta]=Awn அமைப்புகள்
Name[tr]=Awn Ayarları
Name[uk]=Налаштування Awn
Name[zh_CN]=Awn 设置
Comment=Manage Awn preferences, launchers, applets and themes
Comment[af]=Bestuur AWN voorkeure, programlanseerders, mini-programme en temas
Comment[ar]=خصائص ادارة البرنامج , السيمات
Comment[bg]=Управлява настройките, препратките, аплетите и темите на Awn
Comment[ca]=Gestiona les preferències de l'AWN, els llançadors, les miniaplicacions i els temes
Comment[cs]=Správa nastavení Awn, spouštěčů, apletů a témat
Comment[cy]=Rheoli hoffterau, lanswyr, apledei a themâu Awn
Comment[da]=Kontroller Awn indstillinger, opstartere, tilføjelser og temaer
Comment[de]=Awn-Einstellungen, -Starter, -Applets und -Themen verwalten
Comment[el]=Διαχειριστείτε προτιμήσεις, εκκινητές, μικροεφαρμογές και θέματα για τον Awn
Comment[en_GB]=Manage Awn preferences, launchers, applets and themes
Comment[eo]=Administri preferaĵojn, lanĉilojn, apletojn kaj etosojn
Comment[es]=Gestione las preferencias de Awn, lanzadores, miniaplicaciones y temas
Comment[et]=Halda Awn'i eelistusi, käivitajaid, rakendusi ja teemasid
Comment[eu]=Kudeatu Awn-ren hobespenak, abiarazleak, appletak eta gaiak
Comment[fi]=Hallitse awn:n asetuksia, käynnistimiä, sovelmia ja teemoja
Comment[fr]=Gérer les préférences, les lanceurs, les applets et les thèmes AWN
Comment[gl]=Xestiona as preferencias de AWN, iniciadores, miniaplicativos e temas
Comment[he]=ניהול העדפות Awn, משגרים, יישומונים וערכות נושא
Comment[hr]=Upravljaj Awn postavkama, pokretačima, appletima i temama
Comment[hu]=Az Awn beállításainak, alkalmazásindítóinak, kisalkalmazásainak és témáinak kezelése
Comment[is]=Haltu utan um forritin, ræsina og stillingarnar á Awn stillingar og breyttu því hvernig það lítur út
Comment[it]=Gestisce le preferenze, i lanciatori, le applet e i temi di Awn
Comment[ja]=Awn の設定、ランチャー、アプレットやテーマを管理する
Comment[kk]=Awn баптауларын, бағдарламаларды ашу (launcher), апплеттерді және әсемдеу тақырыптын басқару
Comment[ko]=Awn 설정, 런처, 애플릿, 테마를 관리합니다
Comment[lt]=Tvarkyti Awn nustatymus, paleidėjus, pusprogrames ir temas
Comment[ms]=Uruskan tetapan Awn, pelancar Awn, applet Awn, dan tema Awn
Comment[nl]=Beheer AWN-voorkeuren, starters, applets en thema's
Comment[pl]=Zarządzaj ustawieniami, aktywatorami, apletami oraz motywami AWN.
Comment[pt]=Gerir as preferências, iniciadores, applets e temas do Awn
Comment[pt_BR]=Gerencie as preferências do Awn, lançadores, applets e temas
Comment[ro]=Administrați preferințele Awn, lansatoarele, miniaplicațiile și temele
Comment[ru]=Управление настройками, приложениями, апплетами и темами Awn
Comment[sk]=Spravovať nastavenia, spúšťače, applety a témy programu Awn
Comment[sl]=Upravljanje Awn možnosti,zaganjalnika, vstavkov in teme
Comment[sr]=Управљајте Awn поставкама, покретачима, програмчићима и темама
Comment[sv]=Hantera inställningar, programstartare, miniprogram och teman för Awn
Comment[tr]=Awn tercihlerini, başlatıcıları, uygulamaları ve temaları  yönetin.
Comment[uk]=Керування параметрами Awn, кнопками запуску, аплетами та темами
Comment[vi]=Quản lý tùy chỉnh, bộ khởi chạy, tiểu dụng và diện mạo
Comment[zh_CN]=管理 Awn 首选项、启动器、小程序和主题
Comment[zh_TW]=管理 Awn 的偏好設定、啟動器、小程式和主題
Exec=awn-settings
Icon=awn-settings
Categories=Settings;DesktopSettings;GTK;

