[Desktop Entry]
Encoding=UTF-8
Name=Bonobo Component Browser
Name[af]=Bonobo-komponentblaaier
Name[ar]=متصفحّ مكوّنات بونوبو
Name[bg]=Компонент за браузър на Bonobo
Name[bn]=বনোবো কম্পোনেন্ট ব্রাউজার
Name[ca]=Navegador de components Bonobo
Name[cs]=Prohlížeč komponent Bonobo
Name[cy]=Porwr Cydrannau Bonobo
Name[da]=Bonobo-komponentbrowser
Name[de]=Bonobo-Komponenten-Browser
Name[el]= Περιηγητής συστατικού Bonobo
Name[en_GB]=Bonobo Component Browser
Name[es]=Examinador de componentes Bonobo
Name[et]=Bonobo komponendisirvija
Name[eu]=Bonobo osagai-arakatzailea
Name[fa]=مرورگر مؤلفه‌های بونوبو
Name[fi]=Bonobo-komponenttien selain
Name[fr]=Navigateur de composants Bonobo
Name[gl]=Navegador de compoñentes Bonobo
Name[gu]=બોનોબો કમ્પોનન્ટ બ્રાઉઝર
Name[he]=דפדפן הרכיבים של Bonobo
Name[hi]=Bonobo घटक ब्रॉउजर
Name[hr]=Pretraživač Bonobo komponenti
Name[hu]=Bonobo-komponensböngésző
Name[it]=Browser dei componenti Bonobo
Name[ja]=Bonobo コンポーネント・ブラウザ
Name[ko]=보노보 컴포넌트 브라우저
Name[lt]=Bonobo komponentų naršyklė
Name[lv]=Bonobo komponenšu pārlūks
Name[mk]=Бонобо компонента прелистувач
Name[mn]=Bonobo-ийн хэсгийн Хөтөч
Name[nb]=Komponentvisning for Bonobo
Name[nl]=Bonobo componentverkenner
Name[nn]=Bonobo komponentvisar
Name[pa]=ਬੋਨਬੋ ਭਾਗ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka komponentów Bonobo
Name[pt]=Navegador de Componentes Bonobo
Name[pt_BR]=Navegador de Componentes Bonobo
Name[ro]=Navigator componente Bonobo
Name[ru]=Обозреватель компонентов Bonobo
Name[sk]=Prehliadač súčastí bonobo
Name[sl]=Brskalnik komponent Bonobo
Name[sr]=Разгледач Бонобо компоненти
Name[sv]=Bonobo-komponentbläddrare
Name[ta]=போனபோ  கூறு உலாவி
Name[tr]=Bonobo Bileşen Tarayıcısı
Name[uk]=Оглядач компонентів Bonobo
Name[vi]=Bộ duyệt thành phần Bonobo
Name[zh_CN]=Bonobo 组件浏览器
Name[zh_TW]=Bonobo 元件瀏覽器
Comment=Shows available Bonobo components
Comment[af]=Wys beskikbare Bonobo-komponente
Comment[ar]=يعرض مكوّنات بونوبو المتوفّرة
Comment[bg]=Показване на наличните компоненти на Bonobo
Comment[bn]=বিদ্যমান বনোবো কম্পোনেন্ট প্রদর্শন
Comment[ca]=Mostra els components Bonobo disponibles
Comment[cs]=Zobrazí dostupné komponenty Bonobo
Comment[cy]=Dangos y cydrannau Bonobo sydd ar gael
Comment[da]=Viser tilgængelige bonobo-komponenter
Comment[de]=Verfügbare Bonobo-Komponenten anzeigen
Comment[el]=Εμφανίζει τα διαθέσιμα συστατικά  Bonobo
Comment[en_GB]=Shows available Bonobo components
Comment[es]=Muestra los componentes Bonobo disponibles
Comment[et]=Saadaolevate Bonobo komponentide näitamine
Comment[eu]=Eskuragarri dauden Bonoboren osagaiak erakusten ditu
Comment[fa]=مؤلفه‌های موجود بونوبو را نمایش می‌دهد
Comment[fi]=Näytä saatavilla olevat Bonobo-komponentit
Comment[fr]=Affiche les composants Bonobo disponibles
Comment[gl]=Mostrar os compoñentes dispoñíbeis do Bonobo
Comment[gu]=ઉપ્લબ્ધ બોનોબો કમ્પોનન્ટો બતાવે છે
Comment[he]=מציג את כל רכיבי Bonobo הקיימים
Comment[hi]=उपलब्ध Bonobo घटक सहेजें
Comment[hr]=Prikazuje dostupne Bonobo komponente
Comment[hu]=Elérhető Bonobo-komponensek megjelenítése
Comment[it]=Mostra i componenti Bonobo disponibili
Comment[ja]=利用可能な Bonobo コンポーネントを表示します
Comment[ko]=사용할 수 있는 보노보 컴포넌트를 표시합니다
Comment[lt]=Rodo prieinamus Bonobo komponentus
Comment[lv]=Rādīt pieejamos Bonobo komponentus
Comment[mk]=Ги покажува сите достапни Бонобо компоненти
Comment[mn]=Хүчинтэй Bonodo бүрэлдэхүүн хэсгийг харуулах
Comment[nb]=Viser tilgjengelige Bonobo-komponenter
Comment[nl]=Toont beschikbare Bonobo-componenten
Comment[nn]=Visar tilgjengelege Bonobo-komponentar
Comment[pa]=ਉਪਲੱਬਧ ਬੋਨਬੋ ਭਾਗ ਵੇਖੋ
Comment[pl]=Wyświetla dostępne komponenty Bonobo
Comment[pt]=Apresenta componentes Bonobo disponíveis
Comment[pt_BR]=Mostra os componentes Bonobo disponíveis
Comment[ro]=Arată componentele Bonobo disponibile
Comment[ru]=Показывает доступные компоненты Bonobo
Comment[sk]=Zobraziť dostupné súčasti bonobo
Comment[sl]=Pokaže razpoložljive enote Bonobo
Comment[sr]=Прикажи доступне Бонобо компоненте
Comment[sv]=Visar tillgängliga Bonobo-komponenter
Comment[ta]=இருக்கும் போனபோ கூறுகளை காட்டுகிறது
Comment[tr]=Geçerli Bonobo bileşenlerini gösterir
Comment[uk]=Відображає доступні компоненти Bonobo
Comment[vi]=Hiển thị các thành phần Bonobo sẵn sàng
Comment[zh_CN]=显示可用的 Bonobo 组件
Comment[zh_TW]=顯示現有的 Bonobo 元件
Exec=bonobo-browser
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=bonobo
X-GNOME-Bugzilla-Component=libbonoboui
