[Desktop Entry]
Name=File Management
Name[af]=Lêerbestuur
Name[ar]=إدارة الملفات
Name[az]=Fayl İdarəsi
Name[bg]=Управление на файлове
Name[bn]=ফাইল ব্যবস্থাপনা
Name[br]=Merañ ar restroù
Name[bs]=Upravljanje datotekama
Name[ca]=Gestió de fitxers
Name[cs]=Správa souborů
Name[cy]=Rheolaeth Ffeiliau
Name[da]=Filhåndtering
Name[de]=Verwaltung von Dateien
Name[el]=Διαχείριση αρχείων
Name[en_GB]=File Management
Name[eo]=Administrado de dosieroj
Name[es]=Gestión de archivos
Name[et]=Failihaldus
Name[eu]=Fitxategi-kudeaketa
Name[fa]=مدیریت پرونده‌ها
Name[fi]=Tiedostonhallinta
Name[fr]=Gestion des fichiers
Name[ga]=Bainistíocht Comhad
Name[gl]=Xestión de ficheiros
Name[gu]=ફાઈલ વ્યવસ્થાપક
Name[he]=ניהול קבצים
Name[hi]=फ़ाइल प्रबंधन
Name[hr]=Upravljanje datotekama
Name[hu]=Fájlkezelés
Name[is]=Skráarstjórnun
Name[it]=Gestione file
Name[ja]=ファイル管理
Name[ko]=파일 관리
Name[lt]=Failų tvarkymas
Name[lv]=Failu pārvalde
Name[mk]=Подредување на датотеки
Name[mn]=Файлуудыг зохицуулах
Name[ms]=Pengurusan Fail
Name[nb]=Filhåndtering
Name[nds]=Dateioppassen
Name[nl]=Bestandsbeheer
Name[nn]=Filhandsaming
Name[pa]=ਫਾਇਲ ਪਰਬੰਧ
Name[pl]=Zarządzanie plikami
Name[pt]=Gestão de Ficheiros
Name[pt_BR]=Gerenciamento de arquivos
Name[ro]=Administrare fișiere
Name[ru]=Управление файлами
Name[sk]=Správa súborov
Name[sl]=Upravljanje datotek
Name[sr]=Управљање датотекама
Name[sv]=Filhantering
Name[ta]=கோப்பு மேலாண்மை
Name[tr]=Dosya Yönetimi
Name[uk]=Керування файлами
Name[uz]=Fayl boshqaruvi
Name[vi]=Quản lý tập tin
Name[zh_CN]=文件管理
Name[zh_TW]=檔案管理
Comment=Change the behaviour and appearance of file manager windows
Comment[ar]=غيّر سلوك ومظهر نافذة مدير الملفات
Comment[bg]=Промяна на поведението и изгледа на прозорците на файловия мениджър
Comment[bn]=ফাইল পরিচালনব্যবস্থার উইন্ডোর আচরণ ও চেহারা পরিবর্তন করুন
Comment[br]=Kemmañ emzalc'h ha neuz presnestroù an ardoer restroù
Comment[ca]=Canvieu l'aparença i el comportament de les finestres del gestor de fitxers
Comment[cs]=Změnit chování a vzhled oken správce souborů
Comment[da]=Ændr opførslen og udseendet af filhåndteringsvinduer
Comment[de]=Legt das Verhalten und das Aussehen des Dateiverwalters fest
Comment[el]=Αλλαγή της εμφάνισης και της συμπεριφοράς των παραθύρων του διαχειριστή αρχείων
Comment[en_GB]=Change the behaviour and appearance of file manager windows
Comment[eo]=Ŝanĝi la konduton kaj aperon de dosieradministrilaj fenestroj
Comment[es]=Cambie el comportamiento y apariencia de las ventanas del gestor de archivos
Comment[et]=Failihalduri akende käitumise ja välimuse muutmine
Comment[eu]=Fitxategi-kudeatzaileen leihoen portaera eta itxura aldatu
Comment[fi]=Muuta tiedostonhallinnan ikkunoiden toimintaa ja ulkoasua
Comment[fr]=Changer le comportement et l'apparence des fenêtres du gestionnaire de fichiers
Comment[ga]=Athraigh oibriú agus cuma fuinneoga bhainisteoir comhad
Comment[gl]=Cambiar o comportamente e aparencia das xanelas do xestor de ficheiros
Comment[gu]=ફાઈલ વ્યવસ્થાપક વિન્ડોની વર્તણૂક અને દેખાવ બદલો
Comment[he]=שינוי ההתנהגות והמראה של חלונות מנהל הקבצים
Comment[hi]=फाइल मैनेजर विंडो का आचरण व प्रकटन बदलें
Comment[hr]=Promijeni ponašanje i izgled prozora upravitelja datoteka
Comment[hu]=A fájlkezelő ablakok viselkedésének és megjelenésének módosítása
Comment[is]=Breyta hegðan og útliti skráastjóraglugga
Comment[it]=Cambia il comportamento e l'aspetto delle finestre del file manager
Comment[ja]=ファイルマネージャの動きとウィンドウの外観を変更します
Comment[ko]=파일 관리자 창의 특성과 모양새를 바꿉니다
Comment[lt]=Keisti failų tvarkyklės langų išvaizdą ir veikimą
Comment[lv]=Izmainīt failu pārvaldnieka logu izskatu un izturēšanos
Comment[mk]=Смени го однесувањето и изгледот на прозорците на менаџерот за датотеки
Comment[ms]=Ubah kelakuan dan penampilan tetingkap pengurus fail
Comment[nb]=Endre oppførsel og utseende for filhåndterervinduer
Comment[nl]=Het gedrag en uiterlijk van de bestandsbeheervensters aanpassen
Comment[nn]=Endra oppførsel og utsjåande for filhandterervindauge
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਵਿੰਡੋ ਦਾ ਰਵੱਈਆ ਅਤੇ ਦਿੱਖ ਬਦਲੋ
Comment[pl]=Zmiana zachowania i wyglądu okien menedżera plików
Comment[pt]=Alterar o comportamento e aparência das janelas do gestor de ficheiros
Comment[pt_BR]=Altere o comportamento e aparência das janelas do gerenciador de arquivos
Comment[ro]=Modifică comportamentul și aspectul ferestrelor administratorului de fișiere
Comment[ru]=Изменить внешний вид и поведение окон файлового менеджера
Comment[sk]=Zmeniť správanie a vzhľad okien správcu súborov
Comment[sl]=Spremeni obnašanje in videz oken urejevalnika datotek.
Comment[sr]=Измени понашање и изглед прозора управљача датотека
Comment[sv]=Ändra beteendet och utseendet för filhanterarens fönster
Comment[ta]=கோப்பு மேலாளர் சாளரங்களின் நடத்தை மற்றும் காட்சியை மாற்றுக.
Comment[tr]=Dosya yönetici pencerelerinin işleyişini ve görünümünü değiştirin
Comment[uk]=Змінити зовнішній вигляд та поведінку вікон менеджера файлів
Comment[uz]=Qoʻyish buyrugʻini tanlasangiz, "%s"'dan nusxa olinadi
Comment[vi]=Thay đổi hành vi và diện mạo của cửa sổ trình quản lý tập tin
Comment[zh_CN]=更改文件管理器窗口的行为和外观
Comment[zh_TW]=改變檔案管理員視窗的行為與外觀
Exec=caja-file-management-properties
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-MATE-PersonalSettings;FileManager;
Keywords=file;manager;change;properties;behaviour;appearance;windows;MATE;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=Preferences
X-MATE-Bugzilla-Version=1.8.2
