[Desktop Entry]
Name=Computer
Name[af]=Rekenaar
Name[ar]=الحاسوب
Name[az]=Kompüter
Name[bg]=Този компютър
Name[bn]=কম্পিউটার
Name[br]=Urzhiataer
Name[bs]=Računar
Name[ca]=Ordinador
Name[cs]=Počítač
Name[cy]=Cyfrifiadur
Name[da]=Maskine
Name[de]=Rechner
Name[el]=Υπολογιστής
Name[en_GB]=Computer
Name[eo]=Komputilo
Name[es]=Equipo
Name[et]=Arvuti
Name[eu]=Ordenagailua
Name[fa]=کامپیوتر
Name[fi]=Tietokone
Name[fr]=Poste de travail
Name[fy]=Kompûter
Name[ga]=Ríomhaire
Name[gl]=Computador
Name[gu]=કમ્પ્યૂટર
Name[he]=מחשב
Name[hi]=कम्प्यूटर
Name[hr]=Računalo
Name[hu]=Számítógép
Name[is]=Tölvan
Name[it]=Computer
Name[ja]=コンピュータ
Name[kk]=Компьютер
Name[ko]=컴퓨터
Name[lt]=Kompiuteris
Name[lv]=Dators
Name[mk]=Компјутер
Name[mn]=тооцоолуур
Name[ms]=Komputer
Name[nb]=Datamaskin
Name[nds]=Rekner
Name[nl]=Computer
Name[nn]=Datamaskin
Name[pa]=ਕੰਪਿਊਟਰ
Name[pl]=Komputer
Name[pt]=Computador
Name[pt_BR]=Computador
Name[ro]=Calculator
Name[ru]=Компьютер
Name[sk]=Počítač
Name[sl]=Računalnik
Name[sr]=Рачунар
Name[sv]=Dator
Name[ta]=கணிப்பொறி
Name[tr]=Bilgisayar
Name[uk]=Комп'ютер
Name[uz]=Kompyuter
Name[vi]=Máy tính
Name[zh_CN]=计算机
Name[zh_TW]=電腦
Comment=Browse all local and remote disks and folders accessible from this computer
Comment[af]=Blaai deur alle plaaslike en afgeleë skywe en gidse wat toeganklik is vanaf hierdie rekenaar
Comment[ar]=تصفّح كل الأقراص والمجلّدات المحلّية والبعيدة المتاحة لهذا الحاسوب
Comment[bg]=Преглед на всички локални и отдалечени дискове и папки достъпни от този компютър.
Comment[bn]=চিহ্নিত কম্পিউটার থেকে ব্যবহারযোগ্য সকল স্থানীয় ও দূরবর্তী ডিস্ক ও ফোল্ডার ব্রাউজ করুন
Comment[br]=Furchal e-touez ar c'hantennoù lec'hel hag a-bell haezadus diouzh an urzhiataer-mañ
Comment[ca]=Navegueu tots els discs i carpetes locals o remotes accessibles des d'aquest ordinador
Comment[cs]=Procházet všechny místní a vzdálené disky a složky dostupné z tohoto počítače
Comment[da]=Gennemse alle lokale og eksterne diske og mapper der kan tilgås fra denne computer
Comment[de]=Alle lokalen und entfernten Datenträger und Ordner, die verfügbar sind, durchsuchen
Comment[el]=Περιήγηση σε όλους τους τοπικούς ή απομακρυσμένους δίσκους και φακέλους στους οποίους έχει πρόσβαση ο υπολογιστής
Comment[en_GB]=Browse all local and remote disks and folders accessible from this computer
Comment[eo]=Foliumu ĉiujn lokajn kaj forajn diskojn kaj dosierujojn atingeblajn de ĉi tiu komputilo.
Comment[es]=Examinar todos los discos remotos y carpetas accesibles desde este equipo
Comment[et]=Kõikide kohalike ja kaugkataloogide ning ketaste sirvimine
Comment[eu]=Ordenagailu honek atzi ditzakeen lokaleko eta urruneko disko eta karpeta guztiak arakatu
Comment[fi]=Selaa käytettävissä olevia paikallis- ja etäkansioita
Comment[fr]=Parcourir tous les disques locaux et distants ainsi que les dossiers accessibles depuis cet ordinateur
Comment[ga]=Brábhsáil gach diosca logánta agus cianda agus fillteáin inrochtana ón ríomhaire seo
Comment[gl]=Explorar todos os ficheiros locais e remotos e cartafoles accesíbeis desde este computador
Comment[gu]=આ કમ્પ્યૂટરમાંથી સુલભ બધી સ્થાનિક અને દૂરસ્થ ડિસ્કો અને ફોલ્ડરો બ્રાઉઝ કરો
Comment[he]=עיון בכל התיקיות והכוננים המקומיים והמרוחקים הנגישים ממחשב זה
Comment[hi]=इस कंप्यूटर से पहुंच योग्य सभी स्थानीय डिस्क व फोल्डर ब्रॉउज करें
Comment[hr]=Pregledaj sve lokalne i udaljene diskove i mape dostupne s ovog računala
Comment[hu]=A számítógépről elérhető összes helyi és távoli lemez és mappa tallózása
Comment[is]=Flakka um alla staðbundna og fjartengda diska (og möppur) sem aðgengileg eru frá þessari tölvu
Comment[it]=Esplora tutti i dischi e cartelle locali e remoti accessibili da questo computer
Comment[ja]=このコンピュータからアクセスできるすべてのディスクとフォルダを参照します
Comment[ko]=이 컴퓨터에서 접근할 수 있는 모든 로컬 및 원격 디스크와 폴더를 찾아봅니다
Comment[lt]=Naršyti visus vietinius ir nutolusius diskus ir aplankus, prieinamus iš šio kompiuterio
Comment[lv]=Pārlūkot visus no šīs mašīnas pieejamos lokālos un attālinātos diskus un mapes
Comment[mk]=Разгледај ги сите локални, далечни дискови и папки пристапливи од овој компјутер
Comment[ms]=Layar semua cakera jauh dan setempat serta folder boleh capai dari komputer ini
Comment[nb]=Bla gjennom alle lokale og eksterne disker og mapper som kan nås fra denne datamaskinen
Comment[nl]=Bladeren door lokale schijven en schijven op afstand
Comment[nn]=Bla gjennom alle lokale og eksterne diskar og mapper som kan nåast frå denne datamaskina
Comment[pa]=ਸਭ ਲੋਕਲ ਅਤੇ ਰਿਮੋਟ ਡਿਸਕਾਂ ਅਤੇ ਇਸ ਕੰਪਿਊਟਰ ਤੋਂ ਵਰਤੋਂਯੋਗ ਫੋਲਡਰ ਦੀ ਝਲਕ
Comment[pl]=Przeglądanie wszystkich lokalnych i zdalnych dysków oraz katalogów dostępnych z tego komputera
Comment[pt]=Navegar em todos os discos e pastas locais e remotos acessíveis deste computador
Comment[pt_BR]=Navegue todos os discos e pastas locais e remotos acessíveis desse computador
Comment[ro]=Navigează toate discurile locale și la distanță și dosarele accesibile de pe acest calculator
Comment[ru]=Просмотреть все локальные и удалённые диски и папки, доступные с этого компьютера
Comment[sk]=Prehliadať všetky lokálne a vzdialené disky a priečinky prístupné z tohto počítača
Comment[sl]=Brskanje po vseh krajevnih in oddaljenih diskih in mapah, ki so dostopni s tega računalnika
Comment[sr]=Разгледај све локалне и удаљене дискове и фасцикле доступне са овог рачунара
Comment[sv]=Bläddra bland lokala och fjärrdiskar samt mappar som är åtkomliga från den här datorn
Comment[ta]=இந்த கணினியிலிருந்து எல்லா உள்ளமை/தொலை வட்டுகள் மற்றும் அடைவுகளை அணுக உலாவு.
Comment[tr]=Bu bilgisayardan tüm yerel ve uzaktaki disklere ve klasörlere göz atın
Comment[uk]=Переглянути усі локальні та віддалені диски та теки, доступні з цього комп'ютера
Comment[vi]=Duyệt mọi đĩa cục bộ và đĩa từ xa cũng như các thư mục có thể truy cập từ máy này
Comment[zh_CN]=浏览可从本计算机访问的所有本地和远程磁盘和文件夹
Comment[zh_TW]=從本電腦瀏覽所有本機及遠端磁碟及資料夾
TryExec=caja
Exec=caja --no-desktop computer:
Icon=computer
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;System;Core;
Keywords=browse;disks;folders;local;remote;computer;MATE;
OnlyShowIn=MATE;
NoDisplay=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.2
