[Desktop Entry]
Name=Caja
Name[af]=Caja
Name[ar]=كاجا
Name[az]=Caja
Name[bg]=Файлов мениджър (Caja)
Name[bn]=Caja
Name[br]=Caja
Name[bs]=Caja
Name[ca]=Caja
Name[cs]=Caja
Name[cy]=Caja
Name[da]=Caja
Name[de]=Caja
Name[el]=Caja
Name[en_GB]=Caja
Name[eo]=Naŭtilo
Name[es]=Caja
Name[et]=Caja
Name[eu]=Caja
Name[fa]=ناتیلوس
Name[fi]=Caja
Name[fr]=Caja
Name[fy]=Caja
Name[ga]=Caja
Name[gl]=Caja
Name[gu]=નોટિલસ
Name[he]=Caja
Name[hi]=नॉटिलस
Name[hr]=Caja
Name[hu]=Caja
Name[is]=Caja
Name[it]=Caja
Name[ja]=Caja
Name[kk]=Caja
Name[km]=Caja
Name[ko]=카하
Name[lt]=Caja
Name[lv]=Caja
Name[mk]=Caja
Name[mn]=Наутилус
Name[ms]=Caja
Name[nb]=Caja
Name[nds]=Caja
Name[nl]=Caja
Name[nn]=Caja
Name[pa]=ਨਟੀਲਸ
Name[pl]=Caja
Name[pt]=Caja
Name[pt_BR]=Caja
Name[ro]=Caja
Name[ru]=Caja
Name[sk]=Caja
Name[sl]=Caja
Name[sr]=Наутилус
Name[sv]=Caja
Name[ta]=Caja
Name[tr]=Caja
Name[uk]=Caja
Name[uz]=Caja
Name[vi]=Caja
Name[zh_CN]=Caja
Name[zh_TW]=Caja
TryExec=caja
Exec=caja --no-desktop %U
NoDisplay=true
Terminal=false
Icon=folder-open
StartupNotify=true
Type=Application
MimeType=inode/directory;application/x-mate-saved-search;
OnlyShowIn=MATE;
Categories=FileManager;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.2
