[Desktop Entry]
Name=Caja
Name[af]=Caja
Name[ar]=كاجا
Name[az]=Caja
Name[bg]=Файлов мениджър (Caja)
Name[bn]=Caja
Name[br]=Caja
Name[bs]=Caja
Name[ca]=Caja
Name[cs]=Caja
Name[cy]=Caja
Name[da]=Caja
Name[de]=Caja
Name[el]=Caja
Name[en_GB]=Caja
Name[eo]=Naŭtilo
Name[es]=Caja
Name[et]=Caja
Name[eu]=Caja
Name[fa]=ناتیلوس
Name[fi]=Caja
Name[fr]=Caja
Name[fy]=Caja
Name[ga]=Caja
Name[gl]=Caja
Name[gu]=નોટિલસ
Name[he]=Caja
Name[hi]=नॉटिलस
Name[hr]=Caja
Name[hu]=Caja
Name[is]=Caja
Name[it]=Caja
Name[ja]=Caja
Name[kk]=Caja
Name[km]=Caja
Name[ko]=카하
Name[lt]=Caja
Name[lv]=Caja
Name[mk]=Caja
Name[mn]=Наутилус
Name[ms]=Caja
Name[nb]=Caja
Name[nds]=Caja
Name[nl]=Caja
Name[nn]=Caja
Name[pa]=ਨਟੀਲਸ
Name[pl]=Caja
Name[pt]=Caja
Name[pt_BR]=Caja
Name[ro]=Caja
Name[ru]=Caja
Name[sk]=Caja
Name[sl]=Caja
Name[sr]=Наутилус
Name[sv]=Caja
Name[ta]=Caja
Name[tr]=Caja
Name[uk]=Caja
Name[uz]=Caja
Name[vi]=Caja
Name[zh_CN]=Caja
Name[zh_TW]=Caja
GenericName=File Manager
GenericName[af]=Lêerbestuurder
GenericName[ar]=مدير الملفات
GenericName[az]=Fayl İdarəçisi
GenericName[bg]=Управление на файлове
GenericName[bn]=ফাইল পরিচালনব্যবস্থা
GenericName[br]=Ardoer restroù
GenericName[bs]=Upravitelj datoteka
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[cy]=Trefnydd Ffeiliau
GenericName[da]=Filhåndtering
GenericName[de]=Dateiverwaltung
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_GB]=File Manager
GenericName[eo]=Dosiera administrilo
GenericName[es]=Administrador de archivos
GenericName[et]=Failihaldur
GenericName[eu]=Fitxategi-kudeatzailea
GenericName[fa]=مدیر پرونده‌ها
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[ga]=Bainisteoir Comhad
GenericName[gl]=Xestor de ficheiros
GenericName[gu]=ફાઈલ વ્યવસ્થાપક
GenericName[he]=מנהל קבצים
GenericName[hi]=फ़ाइल प्रबंधक
GenericName[hr]=Upravitelj datoteka
GenericName[hu]=Fájlkezelő
GenericName[is]=Skráarstjóri
GenericName[it]=File manager
GenericName[ja]=ファイルマネージャ
GenericName[kk]=Файлдық басқарушы
GenericName[ko]=파일 관리자
GenericName[lt]=Failų tvarkyklė
GenericName[lv]=Failu pārvaldnieks
GenericName[mk]=Менаџер за датотеки
GenericName[mn]=Файл менежер
GenericName[ms]=Pengurus Fail
GenericName[nb]=Filhåndterer
GenericName[nds]=Dateioppasser
GenericName[nl]=Bestandsbeheer
GenericName[nn]=Filhandsamar
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer plików
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[ro]=Administrator fișiere
GenericName[ru]=Файловый менеджер
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sr]=Управник датотекама
GenericName[sv]=Filhanterare
GenericName[ta]=கோப்பு மேலாளர்
GenericName[tr]=Dosya Yöneticisi
GenericName[uk]=Керування файлами
GenericName[uz]=Fayl boshqaruvchisi
GenericName[vi]=Bộ Quản lý Tập tin
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理程式
Exec=caja
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
Categories=FileManager;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.2
X-MATE-Autostart-Phase=Desktop
X-MATE-Autostart-Notify=true
X-MATE-AutoRestart=true
X-MATE-Provides=filemanager
