[Desktop Entry]
Name=Caja
Name[af]=Caja
Name[ar]=كاجا
Name[az]=Caja
Name[bg]=Файлов мениджър (Caja)
Name[bn]=Caja
Name[br]=Caja
Name[bs]=Caja
Name[ca]=Caja
Name[cs]=Caja
Name[cy]=Caja
Name[da]=Caja
Name[de]=Caja
Name[el]=Caja
Name[en_GB]=Caja
Name[eo]=Naŭtilo
Name[es]=Caja
Name[et]=Caja
Name[eu]=Caja
Name[fa]=ناتیلوس
Name[fi]=Caja
Name[fr]=Caja
Name[fy]=Caja
Name[ga]=Caja
Name[gl]=Caja
Name[gu]=નોટિલસ
Name[he]=Caja
Name[hi]=नॉटिलस
Name[hr]=Caja
Name[hu]=Caja
Name[is]=Caja
Name[it]=Caja
Name[ja]=Caja
Name[kk]=Caja
Name[km]=Caja
Name[ko]=카하
Name[lt]=Caja
Name[lv]=Caja
Name[mk]=Caja
Name[mn]=Наутилус
Name[ms]=Caja
Name[nb]=Caja
Name[nds]=Caja
Name[nl]=Caja
Name[nn]=Caja
Name[pa]=ਨਟੀਲਸ
Name[pl]=Caja
Name[pt]=Caja
Name[pt_BR]=Caja
Name[ro]=Caja
Name[ru]=Caja
Name[sk]=Caja
Name[sl]=Caja
Name[sr]=Наутилус
Name[sv]=Caja
Name[ta]=Caja
Name[tr]=Caja
Name[uk]=Caja
Name[uz]=Caja
Name[vi]=Caja
Name[zh_CN]=Caja
Name[zh_TW]=Caja
GenericName=File Browser
GenericName[af]=Lêerblaaier
GenericName[ar]=متصفح الملفات
GenericName[az]=Fayl Səyyahı
GenericName[bg]=Файлов браузър
GenericName[bn]=ফাইল ব্রাউজার
GenericName[br]=Furcher restroù
GenericName[ca]=Navegador de fitxers
GenericName[cs]=Prohlížeč souborů
GenericName[cy]=Porwr Ffeil
GenericName[da]=Filhåndtering
GenericName[de]=Datei-Browser
GenericName[el]=Περιηγητής αρχείων
GenericName[en_GB]=File Browser
GenericName[eo]=Foliumilo de dosieroj
GenericName[es]=Navegador de archivos
GenericName[et]=Faililehitseja
GenericName[eu]=Fitxategi-arakatzailea
GenericName[fa]=مرورگر پرونده
GenericName[fi]=Tiedostoselain
GenericName[fr]=Navigateur de fichiers
GenericName[ga]=Brabhsálaí Comhad
GenericName[gl]=Explorador de ficheiros
GenericName[gu]=ફાઈલ બ્રાઉઝર
GenericName[he]=דפדפן הקבצים
GenericName[hi]=फ़ाइल ब्राउज़र
GenericName[hr]=Preglednik datoteka
GenericName[hu]=Fájlböngésző
GenericName[is]=Skráavafri
GenericName[it]=Esplorazione file
GenericName[ja]=ファイルブラウザ
GenericName[kk]=Файлдық шолушы
GenericName[ko]=파일 브라우저
GenericName[lt]=Failų naršyklė
GenericName[lv]=Failu pārlūks
GenericName[mk]=Разгледувач
GenericName[ms]=Pelayar Fail
GenericName[nb]=Bla gjennom filer
GenericName[nds]=Dateikieker
GenericName[nl]=Bestandsbeheer
GenericName[nn]=Filhandsamar
GenericName[pa]=ਫਾਇਲ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka plików
GenericName[pt]=Navegador de Ficheiros
GenericName[pt_BR]=Navegador de Arquivos
GenericName[ro]=Navigator fișiere
GenericName[ru]=Обозреватель файлов
GenericName[sk]=Prehliadač súborov
GenericName[sl]=Brskalnik datotek
GenericName[sr]=Разгледач датотека
GenericName[sv]=Filbläddrare
GenericName[ta]=கோப்பு உலாவி
GenericName[tr]=Dosya Tarayıcı
GenericName[uk]=Перегляд файлів
GenericName[uz]=Fayl brauzeri
GenericName[vi]=Bộ duyệt tập tin
GenericName[zh_CN]=文件浏览器
GenericName[zh_TW]=檔案瀏覽器
Comment=Browse the file system with the file manager
Comment[af]=Blaai met die lêerbestuurder deur die lêerstelsel
Comment[ar]=تصفح نظام الملفات بمدير الملفات
Comment[bg]=Разглеждане на файловата система с файловия мениджър
Comment[bn]=ফাইল ব্যবস্থাপকের সাহায্যে ফাইল-সিস্টেম ব্রাউজ করুন
Comment[br]=Furchal er reizhiad restroù gant an ardoer restroù
Comment[ca]=Navegueu pel sistema de fitxers amb el gestor de fitxers
Comment[cs]=Procházet systém souborů správcem souborů
Comment[cy]=Pori'r system ffeiliau gan ddefnyddio'r trefnydd ffeiliau
Comment[da]=Navigér filsystemet med filhåndteringen
Comment[de]=Das Dateisystem mit Hilfe der Dateiverwaltung anzeigen
Comment[el]=Περιήγηση στο σύστημα αρχείων με το διαχειριστή αρχείων
Comment[en_GB]=Browse the file system with the file manager
Comment[eo]=Foliumi dosiersistemon per dosiera mastrumilo
Comment[es]=Navegue por el sistema de archivos con el gestor de archivos
Comment[et]=Sirvi failihalduriga failisüsteemi
Comment[eu]=Arakatu fitxategi-sistema fitxategi-kudeatzailearekin
Comment[fa]=مرور سیستم پرونده‌ها با مدیر پرونده‌ها
Comment[fi]=Selaa tiedostojärjestelmää tiedostonhallinnasta
Comment[fr]=Parcourir le système de fichiers avec le gestionnaire de fichiers
Comment[ga]=Brabhsáil an córas comhad leis an mbainisteoir comhad
Comment[gl]=Explorar o sistema de ficheiros co explorador de ficheiros
Comment[gu]=ફાઈલ વ્યવસ્થાપક સાથે ફાઈલ સિસ્ટમમાં બ્રાઉઝ કરો
Comment[he]=דפדוף במערכת הקבצים עם מנהל הקבצים
Comment[hi]=फ़ाइल प्रबंधक के साथ फ़ाइलसिस्टम ब्राउज़ करें
Comment[hr]=Pregledaj datotečni sustav upraviteljem datoteka
Comment[hu]=A fájlrendszer böngészése a fájlkezelővel
Comment[is]=Vafra um skráarkerfið með skráarstjóranum
Comment[it]=Esplora il file system con il file manager
Comment[ja]=ファイルマネージャを使ってファイルシステムを閲覧します
Comment[ko]=파일 관리자로 파일 시스템을 찾아봅니다
Comment[lt]=Naršyti failų sistemą failų tvarkykle
Comment[lv]=Pārlūkot failu sistēmu ar failu pārvaldnieku
Comment[mk]=Разгледајте го датотечниот систем со менаџерот за датотеки
Comment[ms]=Layar sistem fail dengan pengurus fail
Comment[nb]=Bla gjennom filsystemet med filhåndtereren
Comment[nl]=Bestandssysteem doorbladeren met het bestandsbeheer
Comment[nn]=Bla gjennom filsystemet med filhandsamaren
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਵਿੱਚ ਫਾਇਲ ਸਿਸਟਮ ਦੀ ਝਲਕ
Comment[pl]=Przeglądanie systemu plików za pomocą menedżera plików
Comment[pt]=Navegar no sistema de ficheiros com o gestor de ficheiros
Comment[pt_BR]=Navegue no sistema de arquivos com o gerenciador de arquivos
Comment[ro]=Navigați sistemul de fișiere folosind managerul de fișiere
Comment[ru]=Просмотр файловой системы в менеджере файлов
Comment[sk]=Prehliadať súborový systém správcom súborov
Comment[sl]=Prebrskaj datotečni sistem z upravljalnikom datotek
Comment[sr]=Разгледајте систем датотека помоћу управљача датотекама
Comment[sv]=Bläddra i filsystemet med filhanteraren
Comment[ta]=கோப்பு அமைப்பை கோப்பு மேலாளரை பயன்படுத்தி பார்
Comment[tr]=Dosya yöneticisi ile dosya sistemine gözat
Comment[uk]=Перегляд файлової системи менеджером файлів
Comment[uz]=Fayl tizimini fayl boshqaruvchisi bilan koʻrish
Comment[vi]=Duyệt hệ thống tập tin với trình quản lý tập tin
Comment[zh_CN]=用文件管理器浏览文件系统
Comment[zh_TW]=使用檔案總管瀏覽檔案系統
TryExec=caja
Exec=caja --no-desktop --browser %U
Icon=system-file-manager
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;System;Utility;Core;FileManager;
Keywords=files;browser;manager;MATE;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.2
