[Desktop Entry]
Type=Application
Name=Cinnamon Settings Daemon
Name[ar]=عفريت إعدادات جنوم
Name[bg]=Сървър за настройките на Cinnamon
Name[bn]=Cinnamon Settings ডেমন
Name[ca]=Dimoni de paràmetres del Cinnamon
Name[cs]=Démon nastavení Cinnamon
Name[da]=Cinnamon-indstillingsdæmon
Name[de]=Cinnamon-Einstellungsdienst
Name[el]=Υπηρεσία ρυθμίσεων Cinnamon
Name[en_GB]=Cinnamon Settings Daemon
Name[eo]=Demono de Cinnamon-agordoj
Name[es]=Administrador de preferencias de Cinnamon
Name[et]=Cinnamon sätetedeemon
Name[eu]=Cinnamonren ezarpenen daemon-a
Name[fa]=شبح تنظیمات گنوم
Name[fi]=Cinnamonen asetuspalvelin
Name[fr]=Service des paramètres Cinnamon
Name[ga]=Deamhan Socruithe Cinnamon
Name[gl]=Daemon de configuracións do Cinnamon
Name[gu]=Cinnamon સુયોજન ડિમન
Name[he]=מנוע ההגדרות של Cinnamon
Name[hi]=गनोम सेटिंग डेमॉन
Name[hu]=Cinnamon beállításdémon
Name[it]=Demone di impostazioni per Cinnamon
Name[ja]=Cinnamon 設定デーモン
Name[km]=ដេមិន​ការ​កំណត់ Cinnamon
Name[ko]=그놈 설정 데몬
Name[lt]=Cinnamon nustatymų tarnyba
Name[lv]=Cinnamon iestatījumu dēmons
Name[mk]=Демонот за поставувања на Cinnamon
Name[nb]=Cinnamon konfigurasjonstjeneste
Name[nl]=Cinnamon-instellingenvoorziening
Name[nn]=Cinnamon innstillingsnisse
Name[pa]=ਗਨੋਮ ਸੈਟਿੰਗ ਡੈਮਨ
Name[pl]=Usługa ustawień środowiska Cinnamon
Name[pt]=Daemon de Definições do Cinnamon
Name[pt_BR]=Daemon de configurações do Cinnamon
Name[ro]=Serviciul de configurări Cinnamon
Name[ru]=Служба параметров Cinnamon
Name[sk]=Démon nastavení Cinnamon
Name[sl]=Ozadnji program nastavitev Cinnamon
Name[sr]=Услужни програм за подешавања Гнома
Name[sv]=Cinnamon-inställningsdemon
Name[ta]=Cinnamon அமைவுகள் கிங்கரன்
Name[tr]=Cinnamon Ayarlar Servisi
Name[uk]=Служба параметрів Cinnamon
Name[vi]=Trình nền Thiết lập Cinnamon
Name[zh_CN]=Cinnamon 设置守护程序
Name[zh_TW]=Cinnamon 設定值伺服程式
Exec=/usr/libexec/cinnamon-settings-daemon
OnlyShowIn=X-Cinnamon;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
