[Desktop Entry]
Version=1.0
Name=Empathy
Name[ar]=إمبَثي
Name[bg]=Empathy
Name[bn]=Empathy
Name[br]=Empathy
Name[bs]=Empathy
Name[ca]=Empathy
Name[cs]=Empathy
Name[da]=Empathy
Name[de]=Empathy
Name[el]=Empathy
Name[en_GB]=Empathy
Name[eo]=Empatio
Name[es]=Empathy
Name[et]=Empathy
Name[eu]=Empathy
Name[fa]=اِمپاتی
Name[fi]=Empathy
Name[fr]=Empathy
Name[ga]=Empathy
Name[gl]=Empathy
Name[gu]=Empathy
Name[he]=Empathy
Name[hi]=एंपेथी
Name[hu]=Empathy
Name[it]=Empathy
Name[ja]=Empathy
Name[kk]=Empathy
Name[km]=Empathy
Name[ko]=엠퍼시
Name[lt]=Empathy
Name[lv]=Empathy
Name[mk]=Empathy
Name[ms]=Empathy
Name[nb]=Empathy
Name[nl]=Empathy
Name[nn]=Empathy
Name[pa]=ਇੰਪੈਥੀ
Name[pl]=Empathy
Name[pt]=Empathy
Name[pt_BR]=Empathy
Name[ro]=Empathy
Name[ru]=Empathy
Name[sk]=Empathy
Name[sl]=Empathy
Name[sr]=Интернет писмоноша
Name[sv]=Empathy
Name[ta]=Empathy
Name[tg]=Empathy
Name[tr]=Empathy
Name[uk]=Empathy
Name[vi]=Empathy
Name[zh_CN]=Empathy
Name[zh_TW]=Empathy
GenericName=IM Client
GenericName[ar]=مرسال محادثة فورية
GenericName[bg]=Клиент за моментни съобщения
GenericName[bn]=IM ক্লায়েন্ট
GenericName[br]=Arval postelerezh prim Empathy
GenericName[bs]=IM Klijent
GenericName[ca]=Client de missatgeria instantània
GenericName[cs]=Komunikátor
GenericName[da]=IM-Klient
GenericName[de]=Sofortnachrichten-Client
GenericName[el]=Αποστολέας άμεσων μηνυμάτων
GenericName[en_GB]=IM Client
GenericName[eo]=Tujmesaĝilo
GenericName[es]=Cliente de mensajería instantánea
GenericName[et]=Välksõnumiklient
GenericName[eu]=BM bezeroa
GenericName[fa]=کارگیر پیام‌رسان فوری
GenericName[fi]=Pikaviestin
GenericName[fr]=Client de messagerie instantanée
GenericName[ga]=Cliant IM
GenericName[gl]=Cliente de mensaxaría instantánea
GenericName[gu]=IM ક્લાઇન્ટ
GenericName[he]=לקוח מסרים מידיים
GenericName[hi]=IM क्लाएंट
GenericName[hu]=Üzenetküldő-kliens
GenericName[it]=Messaggistica istantanea
GenericName[ja]=インスタントメッセンジャー・クライアント
GenericName[kk]=Жедел хабарласу қолданбасы
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ IM
GenericName[ko]=메신저 클라이언트
GenericName[lt]=Tikralaikių pokalbių klientas
GenericName[lv]=TZ klients
GenericName[mk]=Клиент за инстант пораки
GenericName[nb]=Lynmeldingsklient
GenericName[nl]=Chatprogramma
GenericName[nn]=Lynmeldingsklient
GenericName[pa]=IM ਕਲਾਇਟ
GenericName[pl]=Komunikator
GenericName[pt]=Cliente de MI
GenericName[pt_BR]=Cliente de mensagens instantâneas
GenericName[ro]=Client de mesagerie instant
GenericName[ru]=Клиент обмена мгновенными сообщениями
GenericName[sk]=Komunikátor
GenericName[sl]=Hipni sporočilnik
GenericName[sr]=Програм за брзе поруке
GenericName[sv]=Snabbmeddelandeklient
GenericName[ta]=ஐ எம் சார்ந்தோன்
GenericName[tg]=Муштарии IM
GenericName[tr]=IM İstemcisi
GenericName[uk]=Миттєві повідомлення
GenericName[vi]=Trình nhắn tin nhanh
GenericName[zh_CN]=即时通讯客户端
GenericName[zh_TW]=即時通用戶端
X-GNOME-FullName=Empathy Internet Messaging
X-GNOME-FullName[ar]=مرسال الإنترنت إمبَثي
X-GNOME-FullName[bg]=Моментни съобщения с Empathy
X-GNOME-FullName[bs]=Empathy poruke preko Interneta
X-GNOME-FullName[ca]=Missatgeria d'Internet Empathy
X-GNOME-FullName[cs]=Internetový komunikátor Empathy
X-GNOME-FullName[da]=Samtaleklienten Empathy
X-GNOME-FullName[de]=Empathy Internet-Sofortnachrichtendienst
X-GNOME-FullName[el]=Μηνύματα διαδικτύου Empathy
X-GNOME-FullName[en_GB]=Empathy Internet Messaging
X-GNOME-FullName[eo]=Empatio ret-mesaĝado
X-GNOME-FullName[es]=Mensajería instantánea Empathy
X-GNOME-FullName[et]=Empathy interneti sõnumivahetus
X-GNOME-FullName[eu]=Empathy interneteko mezularitza
X-GNOME-FullName[fa]=پیام‌رسان اینترنتی اِمپاتی
X-GNOME-FullName[fi]=Empathy-pikaviestin
X-GNOME-FullName[fr]=Messagerie Internet Empathy
X-GNOME-FullName[ga]=Cur Teachtaireachtaí Meandaracha Empathy
X-GNOME-FullName[gl]=Mensaxaría instantánea Empathy
X-GNOME-FullName[gu]=Empathy ઇન્ટરનેટ મેસેજિંગ
X-GNOME-FullName[he]=‏Empathy מסרים מידיים
X-GNOME-FullName[hi]=एंपैथी इंटरनेट मैसेजिंग
X-GNOME-FullName[hu]=Empathy üzenetküldő
X-GNOME-FullName[it]=Messaggistica Internet Empathy
X-GNOME-FullName[ja]=Empathy インスタントメッセージング
X-GNOME-FullName[kk]=Empathy интернет хабарласулары
X-GNOME-FullName[km]=ការ​ផ្ញើ​សារ​តាម​អ៊ីនធឺណិត​របស់ Empathy
X-GNOME-FullName[ko]=엠퍼시 인터넷 메신저
X-GNOME-FullName[lt]=Tikralaikių pokalbių programa Empathy
X-GNOME-FullName[lv]=Empathy tūlītēja ziņojumapmaiņa
X-GNOME-FullName[mk]=Empathy - инстант пораки
X-GNOME-FullName[nb]=Empathy internettmeldinger
X-GNOME-FullName[nl]=Empathy-chatprogramma
X-GNOME-FullName[nn]=Empathy Internettprat
X-GNOME-FullName[pa]=ਇੰਪੈਥੀ ਇੰਟਰਨੈੱਟ ਮੈੱਸਜ਼ਿੰਗ
X-GNOME-FullName[pl]=Komunikator Empathy
X-GNOME-FullName[pt]=Mensagens na Internet Empathy
X-GNOME-FullName[pt_BR]=Mensageiro Instantâneo Empathy
X-GNOME-FullName[ro]=Empathy – Mesagerie instant
X-GNOME-FullName[ru]=Программа обмена сообщениями Empathy
X-GNOME-FullName[sk]=Empathy - internetová komunikácia
X-GNOME-FullName[sl]=Empathy hipno sporočanje
X-GNOME-FullName[sr]=Дописивање преко Интернет писмоноше
X-GNOME-FullName[sv]=Meddelandeklienten Empathy
X-GNOME-FullName[ta]=எம்பதி இணைய செய்தியாளர் 
X-GNOME-FullName[tg]=Паёмнависии Интернетии Empathy
X-GNOME-FullName[tr]=Empathy İnternetten Mesajlaşma
X-GNOME-FullName[uk]=Обмін повідомленнями Empathy
X-GNOME-FullName[vi]=Trình gửi tin nhắn Empathy
X-GNOME-FullName[zh_CN]=Empathy 即时通讯程序
X-GNOME-FullName[zh_TW]=Empathy 網際網路通訊
Comment=Chat on Google Talk, Facebook, MSN and many other chat services
Comment[ar]=دردش عبر جوجل توك و فيسبوك وMSN و غيرها من خدمات الدردشة
Comment[bg]=Разговори чрез Google Talk, Facebook, MSN и много други услуги за моментни съобщения
Comment[bs]=Ćaskajte na Google Talk-u, Facebook, MSN-u i na mnogim drugim servisima za ćaskanje
Comment[ca]=Conversa a través del Google Talk, el Facebook, el MSN i molts altres serveis de xat
Comment[cs]=Diskutovat na serverech Google Talk, Facebook, MSN a mnoha dalších
Comment[da]=Chat via Google Talk, Facebook, MSN og mange andre tjenester
Comment[de]=Chat auf Google Talk, Facebook, MSN und vielen anderen Chat-Diensten
Comment[el]=Συζητήστε στα Google Talk, Facebook, MSN και σε πολλές άλλες υπηρεσίες συζητήσεων
Comment[en_GB]=Chat on Google Talk, Facebook, MSN and many other chat services
Comment[eo]=Retbabilo per Google Talk, Vizaĝlibro, MSN kaj multaj aliaj servoj
Comment[es]=Chatee en Google Talk, Facebook, MSN y muchos otros servicios de chat
Comment[et]=Vestlus Google Talki, Facebooki, MSN-i ja paljude teiste vestlusteenuste kaudu
Comment[eu]=Egin berriketa Google Talk, Facebook, MSN eta berriketako beste hainbat zerbitzutan
Comment[fa]=گپ در گوگل تاک، فیس بوک، ام‌اس‌ان، و بسیاری سرویس‌های دیگر گپ
Comment[fi]=Keskustele käyttäen Google Talkia, Facebookia, MSN:ää ja monia muita palveluja
Comment[fr]=Discuter sur Google Talk, Facebook, MSN et beaucoup d'autres services
Comment[gl]=Converse en Google Talk, Facebook, MSN e moitos máis servizos de chat
Comment[gu]=Google Talk, Facebook, MSN અને ઘણી બીજી સંવાદ સેવાઓ પર વાર્તાલાપ
Comment[he]=ניתן לשוחח דרך Google Talk,‏ Facebook,‏ MSN ושירותי שיחה רבים נוספים
Comment[hi]=गूगल टॉक, फेसबुक, एमएसएन और कई अन्य चैट सेवा पर चैट करें
Comment[hu]=Csevegés Google Talk, Facebook, MSN és sok más szolgáltatáson
Comment[it]=Conversa su Google Talk, Facebook, MSN e molti altri servizi di messaggistica
Comment[ja]=Google Talk、Facebook、MSN など多くのチャットサービスでチャットします
Comment[km]=ជជែកកំសាន្តនៅលើ Google Talk, Facebook, MSN និងកម្មវិធីជជែកកំសាន្តផ្សេងៗទៀត
Comment[ko]=구글 토크, 페이스북, MSN 및 기타 대화 서비스에서 대화
Comment[lt]=Plepėkite naudodamiesi „Google Talk“, „Facebook“, „MSN“ ir kitomis pokalbių paslaugomis
Comment[lv]=Tērzē, izmantojot Google Talk, Facebook, MSN un daudzus citus tērzēšanas pakalpojumus
Comment[mk]=Разговарајте на Google Talk, Facebook, MSN и многу други сервиси
Comment[nb]=Prat på Google Talk, Facebook, MSN og mange andre pratetjenester
Comment[nl]=Chatten op Google Talk, Facebook, MSN en vele andere chatdiensten
Comment[nn]=Nettprat på Google Talk, Facebook, MSN og mange andre nettprattenester
Comment[pa]=ਗੂਗਲ ਟਾਕ, ਫੇਸਬੁੱਕ, MSN ਤੇ ਹੋਰ ਕਈ ਚੈੱਟ ਸਰਵਿਸਾਂ ਉੱਤੇ ਗੱਲਾਂ ਕਰੋ
Comment[pl]=Rozmawianie przez Google Talk, Facebook, MSN i wiele innych usług
Comment[pt]=Dialogue no Google Talk, Facebook, MSN e muitos outros serviços de chat
Comment[pt_BR]=Converse no Google Talk, Facebook, MSN e muitos outros serviços de bate-papo
Comment[ro]=Discută pe Google Talk, Facebook, Yahoo!, MSN sau multe alte servicii de mesagerie
Comment[ru]=Общайтесь в Google Talk, Facebook, MSN и во многих других службах
Comment[sk]=Umožňuje komunikovať pomocou služieb Google Talk, Facebook, MSN a mnohých ďalších
Comment[sl]=Klepet na Google Talk, Facebook, MSN in na mnogih drugih klepetalnih storitvah.
Comment[sr]=Ћаскајте на Гугл разговору, Фејсбуку, МСН-у и на многим другим сервисима за ћаскање
Comment[sv]=Chatta på Google Talk, Facebook, MSN och många andra chattjänster
Comment[ta]=கூகுள் டாக், ஃபேஸ்புக், எம்எஸ்என், மற்றும் பல அரட்டை சேவைகளில் அரட்டை அடிக்க. 
Comment[tr]=Google Talk, Facebook, MSN ve daha birçok sohbet hizmeti üzerinden sohbet edin
Comment[uk]=Балачки через Google Talk, Facebook, MSN та багато інших служб 
Comment[vi]=Trò chuyện qua Google Talk, Facebook, MSN và nhiều dịch vụ tương tự khác
Comment[zh_CN]=使用 Google Talk、Facebook、MSN 以及许多其它聊天服务
Comment[zh_TW]=使用 Google Talk、Facebook、MSN 與其他聊天服務和他人對話
Keywords=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[ar]=دردشة;محادثة;رسالة;
Keywords[bg]=чат;незабавно;мигновено;моментно;съобщение;айерси;житок;фейсбук;джабър;chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[bs]=ćaskanje;razgovor;bp;im;poruka;irc;voip;gtalk;facebook;jabber;
Keywords[ca]=xat;parla;missatgeria instantània;missatge;irc;veuip;gtalk;facebook;jabber;
Keywords[cs]=chat;diskuse;pokec;im;rychlé zprávy;zpráva;irc;voip;gtalk;facebook;jabber;
Keywords[da]=chat;tale;im;besked;irc;vopi;gtalk;gacebook;jabber;kvikbesked;lynbesked;snak;
Keywords[de]=chat;gespräch;im;nachrichten;irc;voip;gtalk;facebook;jabber;
Keywords[el]=συνομιλία;συζήτηση;im;μήνυμα;irc;voip;gtalk;facebook;jabber;chat;talk;im;message;
Keywords[en_GB]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[es]=chat;hablar;im;mensajería instantánea;mensaje;irc;voip;gtalk;facebook;jabber;
Keywords[et]=vestlus;jutukas;jututuba;kiirsõnumid;irc;voip;gtalk;facebook;jabber;
Keywords[eu]=berriketa;bm;mezua;hitzegin;irc;voip;gtalk;facebook;jabber;
Keywords[fa]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;گپ;گفتگو;پیام رسان;پیام;فیس‌بوک;
Keywords[fi]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;keskustelu;viesti;pikaviestin;
Keywords[fr]=discussion;messagerie instantanée;irc;voip;téléphonie;gtalk;facebook;jabber;
Keywords[ga]=comhrá;caint;im;teachtaireacht;irc;voip;gtalk;facebook;jabber;
Keywords[gl]=chat;conversa;mi;mensaxe;irc;voz ip;gtalk;facebook;jabber;
Keywords[gu]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[he]=שיחה;דיבור;דיון;im;הודעה;irc;voip;gtalk;facebook;jabber;
Keywords[hi]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[hu]=chat;talk;im;irc;voip;gtalk;facebook;jabber;cset;csevegés;társalgás;üzenet;azonnali;
Keywords[it]=chat;talk;im;messaggi;messaggio;irc;voip;gtalk;facebook;jabber;parlare;chiacchierare;
Keywords[ja]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;チャット;トーク;インスタントメッセージング;インスタントメッセンジャー;IP電話;フェイスブック;XMPP;Google Talk;
Keywords[ko]=chat;채팅;talk;대화;im;메신저;message;메시지;irc;voip;gtalk;지톡;지토크;facebook;페이스북;jabber;재버;
Keywords[lt]=pokalbiai;pranešimai;žinutės;irc;voip;gtalk;facebook;jabber;
Keywords[lv]=tērzēt;runāt;tz;ziņojumi;irc;voip;gtalk;facebook;jabber;
Keywords[nb]=prat;snakk;im;melding;irc;voip;gtalk;facebook;jabber;
Keywords[nl]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;gesprek;bericht;
Keywords[pa]=ਗੱਲਬਾਤ;ਗੱਲਾਂ;ਚੈਟ;ਆਈਐਮ;ਸਲਾਹਾਂ;ਵਿਚਾਰ;ਆਈਆਰਸੀ;ਜੀਟਾਕ;ਫੇਸਬੁੱਕ;ਜੱਬਰ;ਸੁਨੇਹਾ;ਸੁਨੇਹੇ;chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[pl]=rozmowa;chat;czat;komunikator;im;wiadomość;gadu;irc;voip;gtalk;facebook;jabber;
Keywords[pt]=diálogo;conversa;im;mensagem;irc;voip;gtalk;facebook;jabber;chat;
Keywords[pt_BR]=bate-papo;conversar;im;mensageiro instantâneo;mensagem;irc;voip;gtalk;facebook;jabber;
Keywords[ro]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;conversație;discuție;mesagerie;
Keywords[ru]=чат;беседа;сообщение;chat;talk;im;message;irc;voip;gtalk;facebook;jabber;
Keywords[sk]=chat;im;irc;voip;gtalk;facebook;jabber;komunikovať;komunikácia;rozhovor;hovor;videohovor;telefonovanie;
Keywords[sl]=hipno;klepet;pogovor;sporočilo;irc;voip;gtalk;facebook;jabber;
Keywords[sr]=ћаскање;разговор;бп;им;порука;ирц;воип;гразговор;фејсбук;џабер;
Keywords[sv]=chatta;prata;im;meddelande;irc;voip;gtalk;facebook;jabber;
Keywords[ta]=அரட்டை;பேச்சு;செய்தி;ஐஆர்சி;வாய்ப்;ஜிடாக்;பேஸ்புக்;ஜாபர்;
Keywords[tr]=chat;sohbet;konuşma;im;mesaj;ileti;irc;voip;gtalk;facebook;jabber;
Keywords[uk]=балачка;чат;переписування;повідомлення;irc;voip;gtalk;facebook;jabber;
Keywords[zh_CN]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;聊天;消息;即时通讯;通话;视频;
Keywords[zh_TW]=chat;talk;im;message;irc;voip;gtalk;facebook;jabber;聊天;訊息;即時通;談話;對話;交談;
Exec=empathy
Icon=empathy
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;InstantMessaging;
X-GNOME-UsesNotifications=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=empathy
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=3.12.11
