[Desktop Entry]
Name=Image Viewer
Name[af]=Beeldbekyker
Name[ar]=عارض الصّور
Name[az]=Rəsm Nümayişcisi
Name[bg]=Преглед на изображения (EoG)
Name[bn]=ছবি প্রদর্শক
Name[br]=Gweler skeudennoù
Name[bs]=Preglednik slika
Name[ca]=Visualitzador d'imatges
Name[cs]=Prohlížeč obrázků
Name[cy]=Gwelydd Delweddau
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Εφαρμογή προβολής εικόνων
Name[en_GB]=Image Viewer
Name[eo]=Bildomontrilo
Name[es]=Visor de imágenes
Name[et]=Pildivaataja
Name[eu]=Irudi-ikustailea
Name[fa]=نمایشگر تصویر
Name[fi]=Kuvakatselin
Name[fr]=Visionneur d'images
Name[fy]=Ôfbyldingswerjefteprogramma
Name[ga]=Amharcán Íomhánna
Name[gl]=Visor de imaxes
Name[gu]=ચિત્ર દર્શક
Name[he]=מציג תמונות
Name[hi]=छवि प्रदर्शक
Name[hr]=Image Viewer
Name[hu]=Képmegjelenítő
Name[is]=Myndarýnir
Name[it]=Visualizzatore di immagini
Name[ja]=画像ビューアー
Name[kk]=Суреттер көрсетушісі
Name[km]=កម្មវិធី​មើល​រូបភាព
Name[ko]=이미지 보기
Name[lt]=Paveikslėlių peržiūros programa
Name[lv]=Attēlu skatītājs
Name[mk]=Прегледувач на слики
Name[mn]=Зураг харагч
Name[ms]=Pelihat Imej
Name[nb]=Bildevisning
Name[nds]=Billopwieser
Name[nl]=Afbeeldingsviewer
Name[nn]=Biletevisar
Name[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obrazów
Name[pt]=Visualizador de imagens
Name[pt_BR]=Visualizador de imagens
Name[ro]=Vizualizator imagini
Name[ru]=Просмотр изображений
Name[sk]=Prehliadač obrázkov
Name[sl]=Pregledovalnik slik
Name[sr]=Прегледач слика
Name[sv]=Bildvisare
Name[ta]=பிம்ப காட்டி
Name[tg]=Бинандаи тасвирҳо
Name[tr]=Resim Görüntüleyici
Name[uk]=Перегляд зображень
Name[uz]=Rasm koʻruvchi
Name[vi]=Xem ảnh
Name[zh_CN]=图像查看器
Name[zh_TW]=影像檢視器
Comment=Browse and rotate images
Comment[af]=Bekyk en roteer beelde
Comment[ar]=تصفح و أدر الصور
Comment[bg]=Преглед и завъртане на изображения
Comment[bn]=ছবি ব্রাউজ করুন এবং চক্রাকারে ঘোরান
Comment[bs]=Pregledaj i izvrni slike
Comment[ca]=Navegueu per imatges i gireu-les
Comment[cs]=Procházení a otáčení obrázků
Comment[da]=Gennemse og rotere billeder
Comment[de]=Bilder betrachten und drehen
Comment[el]=Περιηγηθείτε και περιστρέψτε εικόνες
Comment[en_GB]=Browse and rotate images
Comment[eo]=Foliumi kaj turni bildojn
Comment[es]=Examine y rote imágenes
Comment[et]=Piltide sirvimine ja pööramine
Comment[eu]=Arakatu eta biratu irudiak
Comment[fa]=مرور و چرخاندن تصویر
Comment[fi]=Selaa ja kierrä kuvia
Comment[fr]=Parcourir et pivoter les images
Comment[fy]=Bleaderje en draaie ôfbylingen
Comment[ga]=Brabhsáil agus rothlaigh íomhánna
Comment[gl]=Ver e rotar imaxes
Comment[gu]=ચિત્રો શોધો અને ફેરવો
Comment[he]=צפייה וסיבוב של תמונות
Comment[hi]=ब्रॉउज करें और घुमाएँ छवियाँ
Comment[hu]=Képek böngészése és forgatása
Comment[is]=Skoða og snúa myndum
Comment[it]=Sfoglia e ruota le immagini
Comment[ja]=画像の閲覧や向きの調整をします
Comment[kk]=Суреттерді шолу мен айналдыру
Comment[km]=រកមើល និង​បង្វិល​រូបភាព
Comment[ko]=이미지 살펴보기 및 회전
Comment[lt]=Naršyti ir vartyti paveikslėlius
Comment[lv]=Pārlūkot un pagriezt attēlus
Comment[mk]=Разгледај и ротирај слики
Comment[nb]=Bla gjennom og roter bilder
Comment[nds]=Billers ankieken un dreihn
Comment[nl]=Afbeeldingen doorbladeren en roteren
Comment[nn]=Bla gjennom og roter bilete
Comment[pa]=ਝਲਕ ਅਤੇ ਚਿੱਤਰ ਘੁੰਮਾਓ
Comment[pl]=Przeglądanie i obracanie obrazów
Comment[pt]=Navegue e rode imagens
Comment[pt_BR]=Navegue e gire imagens
Comment[ro]=Navighează și rotește imagini
Comment[ru]=Просмотр и вращение изображений
Comment[sk]=Prehliada a otáča obrázky
Comment[sl]=Prebrskaj in zavrti slike
Comment[sr]=Прегледајте и окрените слике
Comment[sv]=Bläddra och rotera bilder
Comment[ta]=பிம்பங்களை உலாவு சுழற்று
Comment[tg]=Тамошо ва даврзании тасвирҳо
Comment[tr]=Resimleri tara ve çevir
Comment[uk]=Перегляд та обертання зображень
Comment[uz]=Rasmni koʻrish va burish
Comment[vi]=Duyệt và xoay ảnh
Comment[zh_CN]=浏览及旋转图像
Comment[zh_TW]=瀏覽及更改影像的方向
TryExec=eog
Exec=eog %U
Icon=eog
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;2DGraphics;RasterGraphics;Viewer;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=EOG
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.18.1
X-GNOME-DocPath=eog/eog.xml
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
# Extra keywords that can be used to search for eog in GNOME Shell and Unity
Keywords=Picture;Slideshow;Graphics;
Keywords[ar]=صورة;رسوميات;عرض شرائح;
Keywords[bg]=Изображение;Снимка;Графика;Картина;Разглеждане;Прожекция;Picture;Slideshow;Graphics;
Keywords[bs]=Picture;Slideshow;Graphics;
Keywords[ca]=Fotografia;Diapositives;Gràfics;
Keywords[cs]=obrázek;fotka;promítání snímků;prezentace snímků;grafika;
Keywords[da]=Billede;Foto;Fotografi;Præsentation;Slideshow;Grafik;
Keywords[de]=Bild;Diaschau;Diashow;Grafik;
Keywords[el]=Εικόνα;Προβολή διαφανειών;Γραφικά;Picture;Slideshow;Graphics;
Keywords[en_GB]=Picture;Slideshow;Graphics;
Keywords[eo]=Bildo;Lumbildprezentado;Grafiko;
Keywords[es]=Foto;Diapositivas;Gráficos;
Keywords[et]=Pilt;Foto;Slaidiesitlus;Graafika;
Keywords[eu]=Argazkia;diapositiba-aurkezpena;Grafikoak;
Keywords[fa]=عکس;نمایش اسلایدی;گرافیک;
Keywords[fi]=Kuva;Kuvaesitys;Grafiikka;
Keywords[fr]=Image;Diaporama;Graphiques;Photographie;
Keywords[gl]=Foto;Diapositivas;Gráficos;
Keywords[gu]=ચિત્ર;સ્લાઇડ શો;ગ્રાફિક;
Keywords[he]=תמונה;מצגת;גרפיקה;
Keywords[hi]=चित्र;स्लाइड शो;ग्राफिक्स;
Keywords[hu]=Kép;Diavetítés;Grafika;Bemutató;
Keywords[is]=Mynd;Skyggnusýning;Myndefni;
Keywords[it]=Immagini;Diapositive;Grafica;
Keywords[ja]=Picture;Slideshow;Graphics;写真;画像;スライドショー;グラフィックス;ImageViewer;
Keywords[kk]=Сурет;Слайдшоу;Графика;
Keywords[km]=ការ​បញ្ចាំង​ស្លាយ;
Keywords[ko]=Picture;그림;사진;이미지;Slideshow;슬라이드쇼;Graphics;그래픽;
Keywords[lt]=Paveikslėlis;Demonstracija;Skaidrės;Grafika;
Keywords[lv]=Attēli;Bildes;Slīdrāde;Slaidrāde;Grafika;Fotogrāfijas;Picture;Slideshow;Graphics;
Keywords[nb]=Bilde;Lysbilder;Grafikk;
Keywords[nl]=Afbeelding;Presentatie;Grafisch;Plaatje;
Keywords[pa]=ਤਸਵੀਰ;ਫੋਟੋ,ਸਲਾਈਡ-ਸ਼ੋ;ਗਰਾਫਿਕਸ;
Keywords[pl]=Obraz;Obrazek;Pokaz;slajdów;Grafika;
Keywords[pt]=Imagem;Apresentação;Diaporama;Gráficos;
Keywords[pt_BR]=Fotos;Apresentação de slides;Gráficos;
Keywords[ro]=Picture;Slideshow;Graphics;Imagine;Fotografie;Grafică;Prezentare;Diapozitive
Keywords[ru]=Изображение;Слайд-шоу;Графика;
Keywords[sk]=Obrázok;Prezentácia;Grafika;Prehliadanie;
Keywords[sl]=Slike;Predstavitev;Grafika;Fotografije;
Keywords[sr]=слика;покретни приказ;графика;
Keywords[sv]=Bild;Bildspel;Grafik;
Keywords[ta]=படங்கள்;லைட்ஷோ;வரகலை;
Keywords[tg]=Тасвир;Намоиши слайдҳо;Графика;
Keywords[tr]=Resim;Slayt Gösterisi;Grafikler;Görseller;
Keywords[uk]=Малюнок;Слайд;Графіки;
Keywords[vi]=Picture;Hình;ảnh;Hinh;Anh;Slideshow;Trình;diễn;Trinh;Dien;Graphics;Đồ;họa;họa;Do;Hoa;
Keywords[zh_CN]=Picture;Slideshow;Graphics;图片;幻灯片;图像;
Keywords[zh_TW]=Picture;Slideshow;Graphics;照片;投影片;影像;
