[Desktop Entry]
Name=ICC Profile Installer
Name[bg]=Инсталиране на цветови профил
Name[bs]=Instalacija ICC profila
Name[ca]=Instal·lador de perfils ICC
Name[cs]=Instalátor profilu ICC
Name[da]=ICC-profilinstallering
Name[de]=ICC-Profil-Installation
Name[el]=Εγκαταστάτης προφίλ ICC
Name[en_GB]=ICC Profile Installer
Name[eo]=ICC-a profilo-instalilo
Name[es]=Instalador de perfiles ICC
Name[et]=ICC-profiilide paigaldaja
Name[eu]=ICC profilen instalatzailea
Name[fa]=نصاب مجموعه‌تنظیمات ICC
Name[fi]=ICC-profiilin asentaja
Name[fr]=Programme d'installation de profil de couleur ICC
Name[gl]=Instalador de perfiles ICC
Name[gu]=ICC રૂપરેખા સ્થાપક
Name[he]=מתקין פרופילי ICC
Name[hi]=आईसीसी प्रोफ़ाइल संस्थापक
Name[hu]=ICC profiltelepítő
Name[is]=Uppsetning ICC litasniða
Name[it]=Installa profili ICC
Name[ja]=ICCプロファイルのインストーラー
Name[kk]=ICC профильдерін орнатушы
Name[ko]=ICC 프로파일 설치
Name[lt]=ICC profilių diegiklis
Name[lv]=ICC profilu instalators
Name[nb]=Installer ICC-profil
Name[nl]=Installatie ICC-profiel
Name[pa]=ICC ਪਰੋਫਾਇਲ ਇੰਸਟਾਲਰ
Name[pl]=Instalator profilów ICC
Name[pt]=Instalador de perfil ICC
Name[pt_BR]=Instalador de perfil ICC
Name[ro]=Instalator de profiluri ICC
Name[ru]=Установка цветовых профилей
Name[sk]=Inštalátor ICC profilu
Name[sl]=Namestitveni program profilov ICC
Name[sr]=Инсталација ИЦЦ профила
Name[sv]=Installera ICC-profiler
Name[ta]=ஐசிசி  வரிவுரு நிறுவி 
Name[tg]=Насбкунандаи профили ICC
Name[tr]=ICC Profil Yükleyici
Name[uk]=Встановлення профілів ICC
Name[vi]=Cài đặt hồ sơ ICC
Name[zh_CN]=ICC 配置文件安装器
Name[zh_TW]=ICC 色彩描述檔安裝程式
Comment=Install ICC profiles
Comment[bg]=Инсталиране на цветови профили
Comment[bs]=Instalacija ICC profila
Comment[ca]=Instal·la perfils ICC
Comment[cs]=Instalovat profily ICC
Comment[da]=Installer ICC-profiler
Comment[de]=ICC-Profile installieren
Comment[el]=Εγκατάσταση προφίλ ICC
Comment[en_GB]=Install ICC profiles
Comment[eo]=Instali ICC-profilojn
Comment[es]=Instalar perfiles ICC
Comment[et]=ICC-profiilide paigaldamine
Comment[eu]=Instalatu ICC profilak
Comment[fa]=نصب مجموعه‌های تنظیمات ICC
Comment[fi]=Asenna ICC-profiileja
Comment[fr]=Installation de profils ICC
Comment[gl]=Instalar perfiles ICC
Comment[gu]=ICC રૂપરેખા સ્થાપિત કરો
Comment[he]=התקנת פרופילי ICC
Comment[hi]=आईसीसी प्रोफाइल संस्थापित करें
Comment[hu]=ICC profilok telepítése
Comment[is]=Setur upp ICC litasnið
Comment[it]=Installa profili ICC
Comment[ja]=ICCプロファイルのインストール
Comment[kk]=ICC профильдерін орнату
Comment[ko]=ICC 프로파일 설치
Comment[lt]=Įdiegti ICC profilius
Comment[lv]=Instalēt ICC profilus
Comment[nb]=Installler ICC-profiler
Comment[nl]=ICC-profielen installeren
Comment[pa]=ICC ਪਰੋਫਾਇਲ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Instalacja profilów ICC
Comment[pt]=Instalar perfis ICC
Comment[pt_BR]=Instala perfis ICC
Comment[ro]=Instalează profiluri ICC
Comment[ru]=Установка цветовых профилей
Comment[sk]=Inštalovať ICC profily
Comment[sl]=Namesti profile ICC
Comment[sr]=Инсталирај ИЦЦ профил
Comment[sv]=Installera ICC-profiler
Comment[ta]=ஐசிசி  வரையுருக்களை நிறுவு
Comment[tg]=Насби профилҳои ICC
Comment[tr]=ICC profilleri yükle
Comment[uk]=Встановити профілі ICC
Comment[vi]=Cài đặt hồ sơ ICC
Comment[zh_CN]=安装 ICC 配置文件
Comment[zh_TW]=安裝 ICC 色彩描述檔
Categories=System;
Exec=/usr/bin/gcm-import %F
Terminal=false
Type=Application
Icon=application-vnd.iccprofile
StartupNotify=true
NoDisplay=true
MimeType=application/vnd.iccprofile;

