[Desktop Entry]
Name=Color
Name[bg]=Цвят
Name[bs]=Boja
Name[ca]=Color
Name[cs]=Barva
Name[da]=Farve
Name[de]=Farbe
Name[el]=Χρώμα
Name[en_GB]=Colour
Name[eo]=Koloro
Name[es]=Color
Name[et]=Värvus
Name[eu]=Kolorea
Name[fa]=رنگ
Name[fi]=Väri
Name[fr]=Couleur
Name[gl]=Cor
Name[gu]=રંગ
Name[he]=צבע
Name[hi]=रंग
Name[hu]=Szín
Name[is]=Litur
Name[it]=Colore
Name[ja]=色
Name[kk]=Түс
Name[ko]=색
Name[lt]=Spalva
Name[lv]=Krāsa
Name[nb]=Farge
Name[nl]=Kleur
Name[pa]=ਰੰਗ
Name[pl]=Kolor
Name[pt]=Cor
Name[pt_BR]=Cor
Name[ro]=Culoare
Name[ru]=Управление цветом
Name[sk]=Farba
Name[sl]=Barva
Name[sr]=Боја
Name[sv]=Färg
Name[ta]=நிறம்
Name[tg]=Ранг
Name[tr]=Renk
Name[uk]=Колір
Name[vi]=Màu
Name[zh_CN]=色彩
Name[zh_TW]=顏色
Comment=Color Calibration
Comment[bg]=Калибриране на цветове
Comment[bs]=Kalibracija boja
Comment[ca]=Calibratge del color
Comment[cs]=Kalibrace barev
Comment[da]=Farvekalibrering
Comment[de]=Farbkalibrierung
Comment[el]=Βαθμονόμηση χρωμάτων
Comment[en_GB]=Colour Calibration
Comment[eo]=Kolora kalibro
Comment[es]=Calibración del color
Comment[et]=Värvuskalibreerimine
Comment[eu]=Koloreen kalibrazioa
Comment[fa]=درجه‌بندی رنگ
Comment[fi]=Värikalibrointi
Comment[fr]=Étalonnage de la couleur
Comment[gl]=Calibración de cor
Comment[gu]=રંગ કેલિબ્રેશન
Comment[he]=כיול צבע
Comment[hi]=रंग कैलिब्रेशन
Comment[hu]=Színkalibrálás
Comment[is]=Litkvörðun
Comment[it]=Calibrazione colore
Comment[ja]=カラーキャリブレーション
Comment[kk]=Түсті калибрациялау
Comment[ko]=색 보정
Comment[lt]=Spalvos kalibravimas
Comment[lv]=Krāsu kalibrēšana
Comment[nb]=Fargekalibrering
Comment[nl]=Kleurkalibratie
Comment[pa]=ਰੰਗ ਕੈਲੀਬਰੇਸ਼ਨ
Comment[pl]=Kalibracja kolorów
Comment[pt]=Calibração De Cor
Comment[pt_BR]=Calibração de cor
Comment[ro]=Calibrare de culoare
Comment[ru]=Цветовая калибровка устройств
Comment[sk]=Farebná kalibrácia
Comment[sl]=Barvno umerjanje
Comment[sr]=Калибрација боје
Comment[sv]=Färgkalibrering
Comment[ta]=நிற அளவை வகுத்தல்
Comment[tg]=Андозагароии ранг
Comment[tr]=Renk Kalibrasyonu
Comment[uk]=Калібрування кольорів
Comment[vi]=Cân chỉnh màu
Comment[zh_CN]=色彩校准
Comment[zh_TW]=色彩校準
Icon=gnome-color-manager
Exec=gcm-calibrate
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-color-manager
X-GNOME-Bugzilla-Component=gnome-color-manager
