[Desktop Entry]
Name=Settings
Name[af]=Instellings
Name[ar]=الإعدادات
Name[bg]=Настройки
Name[br]=Arventennoù
Name[bs]=Postavke
Name[ca]=Paràmetres
Name[cs]=Nastavení
Name[da]=Indstillinger
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[en_GB]=Settings
Name[eo]=Agordoj
Name[es]=Configuración
Name[et]=Sätted
Name[eu]=Ezarpenak
Name[fa]=تنظیمات
Name[fi]=Asetukset
Name[fr]=Paramètres
Name[ga]=Socruithe
Name[gl]=Preferencias
Name[gu]=સુયોજનો
Name[he]=הגדרות
Name[hi]=सेटिंग्स
Name[hu]=Beállítások
Name[is]=Stillingar
Name[it]=Impostazioni
Name[ja]=設定
Name[kk]=Баптаулар
Name[ko]=설정
Name[lt]=Nustatymai
Name[lv]=Iestatījumi
Name[nb]=Innstillinger
Name[nl]=Instellingen
Name[pa]=ਸੈਟਿੰਗ
Name[pl]=Ustawienia
Name[pt]=Definições
Name[pt_BR]=Configurações
Name[ro]=Configurări
Name[ru]=Параметры
Name[sk]=Nastavenia
Name[sl]=Nastavitve
Name[sr]=Подешавања
Name[sv]=Inställningar
Name[ta]=அமைவுகள்
Name[tg]=Танзимот
Name[tr]=Ayarlar
Name[uk]=Параметри
Name[vi]=Cài đặt
Name[zh_CN]=设置
Name[zh_TW]=設定值
Icon=preferences-system
Exec=gnome-control-center --overview
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=shell
X-GNOME-Bugzilla-Version=3.16.3
Keywords=Preferences;Settings;
Keywords[af]=Preferences;Settings;voorkeure;instelling;opstelling;
Keywords[ar]=تفضيلات;إعدادات;
Keywords[bg]=Настройки;Конфигурация;Опции;Preferences;Settings;
Keywords[br]=Gwellvezioù;Arventennoù;
Keywords[bs]=Postavke;Podešavanja;
Keywords[ca]=Preferències;Paràmetres;
Keywords[cs]=předvolby;nastavení;
Keywords[da]=Indstillinger;Opsætning;
Keywords[de]=Einstellungen;
Keywords[el]=Προτιμήσεις;Ρυθμίσεις;Preferences;Settings;
Keywords[en_GB]=Preferences;Settings;
Keywords[eo]=agordoj;opcioj;
Keywords[es]=Preferencias;Configuración;
Keywords[et]=Eelistused;Sätted;Seaded;Seadistused;
Keywords[eu]=Hobespenak;Ezarpenak;
Keywords[fa]=ترجیحات;تنظیمات;
Keywords[fi]=Ominaisuudet;Asetukset;Preferences;Settings;
Keywords[fr]=Préférences;Paramètres;Réglages;
Keywords[ga]=Sainroghanna;Socruithe;
Keywords[gl]=Preferencias;Configuración;
Keywords[gu]=પસંદગીઓ;સુયોજનો;
Keywords[he]=העדפות;הגדרות;
Keywords[hi]=वरीयताएँ;सेटिंग्स;
Keywords[hu]=Tulajdonságok;Beállítások;
Keywords[is]=Kjörstillingar;Uppsetning;
Keywords[it]=Preferenze;Impostazioni;
Keywords[ja]=Preferences;Settings;設定;
Keywords[kk]=Баптаулар;Қалаулар;
Keywords[km]=ចំណូលចិត្ត;ការ​កំណត់;
Keywords[ko]=Preferences;기본 설정;Settings;설정;
Keywords[lt]=Nustatymai;Parinktys;
Keywords[lv]=Iestatījumi;Uzstādījumi;Konfigurācija;Preferences;Settings;
Keywords[ms]=Keutamaan;Tetapan;
Keywords[nb]=Brukervalg;Innstillinger;
Keywords[nl]=Preferences;Settings;Voorkeuren;Instellingen;
Keywords[pa]=ਮੇਰੀ ਪਸੰਦ;ਸੈਟਿੰਗ;
Keywords[pl]=Preferencje;Ustawienia;Konfiguracja;Opcje;
Keywords[pt]=Preferências;Definições;
Keywords[pt_BR]=Preferências;Configurações;Ajustes;
Keywords[ro]=Preferences;Settings;Preferințe;Configurări;Setări;
Keywords[ru]=Настройки;Параметры;
Keywords[sk]=Nastavenia;Konfigurácia;
Keywords[sl]=Možnosti;Nastavitve;
Keywords[sr]=поставке;подешавања;
Keywords[sv]=Inställningar;
Keywords[ta]=விருப்பங்கள்;அமைப்புகள்;
Keywords[tg]=Хусусиятҳо;Танзимот;
Keywords[tr]=Tercihler;Ayarlar;
Keywords[uk]=Налаштування;Параметри;
Keywords[vi]=Preferences;Tùy;thích;Tuy;thich;Cấu;hình;Cau;hinh;Settings;Thiết;lập;Thiet;Cài;đặt;cai;dat;lap;Tùy;chọn;Tuy;chon;Cá;ca;nhân;nhan;hóa;hoa;
Keywords[zh_CN]=Preferences;Settings;首选项;设置;
Keywords[zh_TW]=Preferences;Settings;偏好設定;設定值;
