[Desktop Entry]
Name=Date & Time
Name[af]=Datum en tyd
Name[ar]=التاريخ والوقت
Name[bg]=Дата и час
Name[br]=Deiziad hag eur
Name[bs]=Datum i vrijeme
Name[ca]=Data i hora
Name[cs]=Datum a čas
Name[da]=Dato & klokkeslæt
Name[de]=Datum und Zeit
Name[el]=Ημερομηνία & ώρα
Name[en_GB]=Date & Time
Name[eo]=Dato kaj horo
Name[es]=Fecha y hora
Name[et]=Kuupäev ja kellaaeg
Name[eu]=Data eta ordua
Name[fa]=تاریخ و زمان
Name[fi]=Päivä ja aika
Name[fr]=Date & heure
Name[ga]=Dáta & Am
Name[gl]=Data e hora
Name[gu]=તારીખ અને સમય
Name[he]=תאריך ושעה
Name[hi]=तिथि व समय
Name[hu]=Dátum és idő
Name[is]=Dagsetning og tími
Name[it]=Data e ora
Name[ja]=日付と時刻
Name[kk]=Күн және уақыт
Name[km]=កាលបរិច្ឆេទ និង​ពេលវេលា
Name[ko]=날짜 및 시각
Name[lt]=Data ir laikas
Name[lv]=Datums un laiks
Name[nb]=Dato og klokkeslett
Name[nl]=Datum en tijd
Name[pa]=ਮਿਤੀ ਤੇ ਸਮਾਂ
Name[pl]=Data i czas
Name[pt]=Data & Hora
Name[pt_BR]=Data & hora
Name[ro]=Data și ora
Name[ru]=Дата и время
Name[sk]=Dátum a čas
Name[sl]=Datum in čas
Name[sr]=Датум и време
Name[sv]=Datum & tid
Name[ta]=தேதி மற்றும் நேரம்
Name[tg]=Сана ва Вақт
Name[tr]=Tarih & Saat
Name[uk]=Дата й час
Name[vi]=Ngày & giờ
Name[zh_CN]=日期和时间
Name[zh_TW]=日期與時刻
Comment=Change the date and time, including time zone
Comment[af]=Verander die datum en tyd, asook tydsone
Comment[ar]=غيّر الوقت والتاريخ، بما فيها المنطقة الزمنية
Comment[bg]=Смяна на датата, часа, часовия пояс
Comment[bs]=Promijeni datum i vrijeme, uključujući vremensku zonu
Comment[ca]=Canvieu la data i l'hora, incloent-hi la zona horària
Comment[cs]=Změnit datum a čas, včetně časového pásma
Comment[da]=Skift dato og klokkeslæt inklusive tidszone
Comment[de]=Das Datum, die Zeit und die Zeitzone ändern
Comment[el]=Αλλάξτε την ημερομηνία και ώρα, καθώς και τη ζώνης ώρας
Comment[en_GB]=Change the date and time, including time zone
Comment[eo]=Ŝanĝi la aktualan tempon, inkluzivante horzonon
Comment[es]=Cambiar la fecha y la hora, incluyendo la zona horaria
Comment[et]=Kuupäeva, kella ja ajavööndi muutmine
Comment[eu]=Aldatu data eta ordua, ordu-zona barne
Comment[fa]=تغییر ساعت و تاریخ، شامل منطقه زمانی
Comment[fi]=Vaihda aikaa, päivää tai aikavyöhykettä
Comment[fr]=Modifier la date et l'heure, y compris le fuseau horaire
Comment[ga]=Athraigh an dáta agus an t-am, crios ama ina measc
Comment[gl]=Cambie a data e hora, incluíndo o fuso horario
Comment[gu]=તારીખ અને સમયને બદલો, ટાઇમ ઝોનને સમાવી રહ્યા છે
Comment[he]=החלפת השעה והתאריך לרבות אזור הזמן
Comment[hi]=दिनांक और समय समय क्षेत्र सहित बदलें
Comment[hu]=Dátum, idő és időzóna módosítása
Comment[is]=Breyttu dagsetningu og tíma, þar með töldu tímabelti
Comment[it]=Cambia data e orario, così come fuso orario
Comment[ja]=日付、時刻、タイムゾーンを変更します。
Comment[kk]=Күн мен уақытты (уақыт белдеуімен қоса) өзгерту
Comment[ko]=날짜와 시각(표준 시간대 포함)을 바꿉니다
Comment[lt]=Keiskite datą ir laiką, įskaitant laiko juostą
Comment[lv]=Mainīt datumu un laiku, tai skaitā laika joslas
Comment[nb]=Endra dato og klokkeslett - inklusive tidssone
Comment[nl]=Datum en tijd, inclusief tijdzone, wijzigen
Comment[pa]=ਮਿਤੀ ਤੇ ਸਮਾਂ ਬਦਲੋ, ਸਮਾਂ ਖੇਤਰ ਸਮੇਤ
Comment[pl]=Zmiana daty i czasu, w tym strefy czasowej
Comment[pt]=Alterar a data e hora, incluindo o fuso horário
Comment[pt_BR]=Altere a data e hora, incluindo fuso horário
Comment[ro]=Schimbați data și ora, inclusiv fusul orar
Comment[ru]=Изменить дату и время, включая часовой пояс
Comment[sk]=Mení dátum a čas vrátané časového pásma
Comment[sl]=Spreminjanje sistemskega časa, datuma in časovnega območja
Comment[sr]=Измените датум и време, укључујући временску зону
Comment[sv]=Ändra datum och tid, även tidszon
Comment[ta]=நேர மண்டலம் உட்பட தேதி மற்றூம் நேரத்தை மாற்றவும்
Comment[tg]=Тағйир додани вақт ва сана, аз ҷумла минтақаи вақт
Comment[tr]=Tarihi, saati ve saat dilimini değiştirin
Comment[uk]=Змінити дату та час, і часовий пояс зокрема
Comment[vi]=Thay đổi ngày giờ hay múi giờ
Comment[zh_CN]=改变日期和时间，包括时区
Comment[zh_TW]=改變時刻與日期，包含時區
Exec=gnome-control-center datetime
Icon=preferences-system-time
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;
# Translators: those are keywords for the date and time control-center panel
Keywords=Clock;Timezone;Location;
Keywords[af]=Clock;Timezone;Location;horlosie;tydsone;ligging;
Keywords[ar]=ساعة;توقيت;منطقة زمنية;منطقة;
Keywords[bg]=Часовник;Часови пояс;Местоположение;Часова зона;Време;Clock;Timezone;Location;
Keywords[bn]=ঘড়ি;টাইম জোন;অবস্থান;
Keywords[bs]=Sat;Vrijemenskazona;Lokacija;
Keywords[ca]=Rellotge;Zona horària;Ubicació;
Keywords[cs]=hodiny;časové pásmo;umístění;
Keywords[da]=Ur;Tidszone;Sted;
Keywords[de]=Uhr;Zeitzone;Ort;
Keywords[el]=Ρολόι;Ζώνη ώρας;Τοποθεσία;Clock;Timezone;Location;
Keywords[en_GB]=Clock;Timezone;Location;
Keywords[eo]=Horo;Horzono;Loko;
Keywords[es]=Reloj;Zona horaria;Ubicación;
Keywords[et]=Kell;Ajavöönd;Asukoht;
Keywords[eu]=Erlojua;Ordu-zona;Kokalekua;
Keywords[fa]=سایت;منطقه‌ی زمانی;مکان;
Keywords[fi]=Kello;Aikavyöhyke;Sijainti;
Keywords[fr]=Horloge;Fuseau;Heure;Date;Emplacement;
Keywords[ga]=Clog;Crios Ama;Suíomh;
Keywords[gl]=Reloxo;Fuso horario;Localización;
Keywords[gu]=ઘડિયાળ;ટાઇમઝોન;સ્થાન;
Keywords[he]=שעון;אזור זמן;מיקום;
Keywords[hi]=घड़ी;समय क्षेत्र;स्थान;
Keywords[hu]=Óra;Időzóna;Hely;
Keywords[is]=Klukka;Tímabelti;Staðsetning;
Keywords[it]=Orologio;Tempo;Data;Fuso;Posizione;Orario;
Keywords[ja]=Clock;Timezone;Location;時計;日付;時刻;時間;日時;タイムゾーン;場所;Date;Time;
Keywords[kk]=Сағат;Уақыт_белдеуі;Орналасу;
Keywords[km]=Clock;Timezone;Location;
Keywords[ko]=Clock;시계;Timezone;시간대;Location;위치;
Keywords[lt]=Laikrodis;Laiko juosta;Vietovė;
Keywords[lv]=Pulkstenis;Laika josla;Vieta;Laiks;Clock;Timezone;Location;
Keywords[mk]=Часовник;Временска зона;Локација;
Keywords[nb]=Klokke;Tidssone;Plassering;Adresse;
Keywords[nl]=Clock;Timezone;Location;Klok;Tijdzone;Locatie;
Keywords[nn]=Klokke;Tidssone;Stad;
Keywords[pa]=ਘੜੀ;ਸਮਾਂ-ਖੇਤਰ;ਟਿਕਾਣਾ;
Keywords[pl]=Zegar;Strefa;Czasowa;Położenie;Miejsce;Lokacja;Miasto;Państwo;Kraj;NTP;
Keywords[pt]=Relógio;Fuso horário;Fuso;Localização;
Keywords[pt_BR]=Relógio;Fuso horário;Localização;
Keywords[ro]=Clock;Timezone;Location;Ceas;Timp;Fus orar;Locație;
Keywords[ru]=Часы;Часовой;пояс;Местоположение;
Keywords[sk]=Hodiny;Čas;Zóna;Pásmo;Poloha;
Keywords[sl]=Ura;Časovni pas;Mesto;
Keywords[sr]=сат;временска зона;место;
Keywords[sv]=Klocka;Tidszon;Plats;
Keywords[ta]=கடிகாரம்;நேரமண்டலம்;இடம்;
Keywords[tg]=Соат;Минтақаи вақт;Ҷойгиршавӣ;
Keywords[tr]=Saat;Saat Dilimi;Yer;Konum;
Keywords[uk]=Годинник;Пояс;Місцевість;
Keywords[vi]=Clock;Đồng;hồ;Dong;ho;Timezone;Múi;giờ;Mui;gio;Location;Vị;trí;Vi;tri;nước;nuoc;tỉnh;tỉnh;thành;phố;thanh;pho;
Keywords[zh_CN]=Clock;Timezone;Location;时钟;时区;位置;
Keywords[zh_TW]=Clock;Timezone;Location;時鐘;時區;位置;
