[Desktop Entry]
Type=Application
Name=GNOME Shell
Name[af]=GNOME Shell
Name[ar]=صدفة جنوم
Name[bg]=Обвивка на GNOME
Name[bn]=জিনোম সেল
Name[bs]=GNOME školjka
Name[ca]=GNOME Shell
Name[cs]=Prostředí GNOME Shell
Name[da]=GNOME Shell
Name[de]=GNOME-Shell
Name[el]=GNOME Shell
Name[en_GB]=GNOME Shell
Name[eo]=GNOME-ŝelo
Name[es]=GNOME Shell
Name[et]=GNOME Shell
Name[eu]=GNOME Shell
Name[fa]=پوسته‌ی گنوم
Name[fi]=Gnome Shell
Name[fr]=GNOME Shell
Name[ga]=Blaosc GNOME
Name[gl]=GNOME Shell
Name[gu]=GNOME શેલ
Name[he]=מעטפת GNOME
Name[hi]=गनोम शेल
Name[hu]=GNOME Shell
Name[is]=GNOME skel
Name[it]=GNOME Shell
Name[ja]=GNOME Shell
Name[kk]=GNOME Shell
Name[km]=GNOME សែល
Name[ko]=그놈 셸
Name[lt]=GNOME Shell aplinka
Name[lv]=GNOME čaula
Name[mk]=GNOME Shell
Name[ms]=GNOME Shell
Name[nb]=GNOME Shell
Name[nl]=Gnome Shell
Name[nn]=GNOME Shell
Name[pa]=ਗਨੋਮ ਸ਼ੈਲ
Name[pl]=Powłoka środowiska GNOME
Name[pt]=Shell GNOME
Name[pt_BR]=GNOME Shell
Name[ro]=GNOME Shell
Name[ru]=GNOME Shell
Name[sk]=Shell prostredia GNOME
Name[sl]=Gnome lupina
Name[sr]=Гномова шкољка
Name[sv]=GNOME-skal
Name[ta]=க்னோம் ஷெல்
Name[tg]=Восити GNOME
Name[tr]=GNOME Kabuğu
Name[uk]=GNOME Shell
Name[vi]=Hệ vỏ GNOME
Name[zh_CN]=GNOME Shell
Name[zh_TW]=GNOME Shell
Comment=Window management and application launching
Comment[af]=Vensterbestuur en toepassinglansering
Comment[ar]=إدارة النوافذ وإطلاق التطبيقات
Comment[bg]=Управление на прозорци и стартиране на програми
Comment[bn]=উইন্ডো ব্যবস্থাপনা এবং অ্যাপ্লিকেশন চালু
Comment[bs]=Upravljanje prozorima i pokretanje programa
Comment[ca]=Gestor de finestres i llançador d'aplicacions
Comment[cs]=Správa oken a spouštění aplikací
Comment[da]=Vindueshåndtering og åbning af programmer
Comment[de]=Fenster verwalten und Anwendungen starten
Comment[el]=Διαχείριση παραθύρων και εκκίνηση εφαρμογών
Comment[en_GB]=Window management and application launching
Comment[eo]=Fenestroadministrado kaj aplikaĵo-lanĉado
Comment[es]=Gestión de ventanas e inicio de aplicaciones
Comment[et]=Aknahaldur ja rakenduste käivitaja
Comment[eu]=Leiho-kudeaketa eta aplikazioak abiaraztea
Comment[fa]=مدیریت پنجره‌ها و اجرا کننده‌ی برنامه‌ها
Comment[fi]=Ikkunanhallinta ja sovelluksien käynnistäminen
Comment[fr]=Gestion des fenêtres et lancement des applications
Comment[gl]=Xestor de xanelas e inicio de aplicativos
Comment[gu]=વિન્ડો સંચાલન અને કાર્યક્રમ શરૂઆત
Comment[he]=ניהול חלונות והרצת יישומים
Comment[hi]=विंडो प्रबंधन और अनुप्रयोग लॉन्चिंग
Comment[hu]=Ablakkezelés és alkalmazásindítás
Comment[is]=Gluggastjórnun og forritaræsing
Comment[it]=Gestisce finestre e avvia applicazioni
Comment[ja]=ウィンドウ管理とアプリケーションの起動
Comment[kk]=Терезелерді басқару мен қолданбаларды жөнелту
Comment[km]=ការ​គ្រប់គ្រង​វីនដូ និង​ការ​ចាប់ផ្ដើម​កម្មវិធី
Comment[ko]=창 관리 및 프로그램 실행
Comment[lt]=Langų valdymas ir programų paleidimas
Comment[lv]=Logu pārvaldība un lietotņu palaišana
Comment[mk]=Менаџмент на прозорци и пуштање на апликации
Comment[ms]=Pengurusan tetingkap dan pelancaran aplikasi
Comment[nb]=Vindushåndtering og oppstart av programmer
Comment[nl]=Vensterbeheer en toepassingen starten
Comment[nn]=Vindaugshandsaming og programstarting
Comment[pa]=ਵਿੰਡੋ ਪਰਬੰਧ ਅਤੇ ਐਪਲੀਕੇਸ਼ਨ ਚਲਾਓ
Comment[pl]=Zarządzanie oknami i uruchamianiem programów
Comment[pt]=Gestão de janelas e iniciação de aplicações
Comment[pt_BR]=Gerenciamento de janelas e lançador de aplicativos
Comment[ro]=Administrare de ferestre și lansare de aplicații
Comment[ru]=Управление окнами и запуск приложений
Comment[sk]=Správa okien a spúšťanie aplikácií
Comment[sl]=Upravljanje oken in zaganjanje programov
Comment[sr]=Управник прозорима и покретач програма
Comment[sv]=Fönsterhantering och uppstart av program
Comment[ta]=சாளர மேலாண்மை மற்றும் பயன்பாடு துவக்கம்
Comment[tg]=Идоракунии равзанаҳо ва оғозидани барномаҳо
Comment[tr]=Pencere yönetimi ve uygulama başlatma
Comment[uk]=Керування вікнами та запуск програм
Comment[vi]=Quản lý cửa sổ và chạy ứng dụng
Comment[zh_CN]=窗口管理和应用程序启动
Comment[zh_TW]=視窗管理與應用程式的執行
Exec=/usr/bin/gnome-shell
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-shell
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.16.4
Categories=GNOME;GTK;Core;
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=panel;windowmanager;
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=false
