[Desktop Entry]
Name=Mines
Name[af]=Myne
Name[ar]=ألغام
Name[az]=Minalar
Name[bg]=Мини
Name[bn]=মাইন
Name[br]=Mines
Name[bs]=Mine
Name[ca]=Mines
Name[cs]=Miny
Name[cy]=Ffrwydron
Name[da]=Minestryger
Name[de]=Minen
Name[el]=Νάρκες
Name[en_GB]=Mines
Name[eo]=Minoj
Name[es]=Minas
Name[et]=Miiniväli
Name[eu]=Minak
Name[fa]=مین‌ها
Name[fi]=Miinaharava
Name[fr]=Mines
Name[ga]=Mianaigh
Name[gl]=Minas
Name[gu]=વિસ્ફોટકો
Name[he]=מוקשים
Name[hi]=सुरंग
Name[hr]=Mine
Name[hu]=Aknakereső
Name[is]=Sprengjuleit
Name[it]=Mine
Name[ja]=GNOME マインスイーパー
Name[km]=មីន
Name[ko]=지뢰찾기
Name[lt]=Minos
Name[lv]=Mīnas
Name[mk]=Mines
Name[mn]=Тэслэлт
Name[ms]=Mines
Name[nb]=Miner
Name[nl]=Mijnenveger
Name[nn]=Miner
Name[pa]=ਸੁਰੰਗਾਂ
Name[pl]=Miny
Name[pt]=Minas
Name[pt_BR]=Minas
Name[ro]=Mine
Name[ru]=Сапёр
Name[sk]=Míny
Name[sl]=Mine
Name[sr]=Мине
Name[sv]=Minor
Name[ta]=கண்ணிவெடிகள்
Name[tr]=Mayınlar
Name[uk]=Міни
Name[vi]=Dò mìn
Name[zh_CN]=扫雷
Name[zh_TW]=拆地雷
Comment=Clear hidden mines from a minefield
Comment[af]=Verwyder versteekte myne van 'n mynveld
Comment[ar]=مسح ألغام من حقل ألغام
Comment[bg]=Изчистване на скритите мини от дъската
Comment[bn]=মাইনক্ষেত্রে থেকে লুকোনো মাইন সরিয়ে ফেলুন
Comment[bs]=Očisti skrivene mine sa minskog polja
Comment[ca]=Netegeu les mines ocultes del camp de mines
Comment[cs]=Vyčistěte skryté miny z minového pole
Comment[cy]=Clirio ffrwydron cudd o faes ffrwydron
Comment[da]=Ryd skjulte miner fra et minefelt
Comment[de]=Versteckte Minen aus einem Minenfeld räumen
Comment[el]=Αφαίρεση κρυμμένων ναρκών από το ναρκοπέδιο
Comment[en_GB]=Clear hidden mines from a minefield
Comment[eo]=Kvitigu kaŝitajn minojn de minplena kampo
Comment[es]=Limpie de minas el campo minado
Comment[et]=Miinivälja puhastamine sinna peidetud miinidest
Comment[eu]=Zedarritu mina-eremuko minak
Comment[fa]=پاک‌سازی مین‌ها از میدان مین
Comment[fi]=Puhdista piilotetut miinat miinakentältä
Comment[fr]=Nettoyer un champ de mines de ses mines cachées
Comment[gl]=Limpar as minas agochadas do campo minado
Comment[gu]=ખાણક્ષેત્રમાંથી છુપા ગોળાઓ સાફ કરો
Comment[he]=ניקוי מוקשים חבויים משדה מוקשים
Comment[hi]=सुरंग भूमि से छुपे सुरंगों को मिटाएँ
Comment[hu]=Elrejtett aknák eltávolítása az aknamezőről
Comment[is]=Hreinsa faldar sprengjur af sprengjusvæði
Comment[it]=Scova le mine nascoste in un campo minato
Comment[ja]=地雷原から見えない地雷を除去してください
Comment[km]=សម្អាត​មីន​ដែល​បាន​លាក់​ពី​វាល​កប់មីន
Comment[ko]=지뢰밭에서 숨겨진 지뢰를 제거합니다
Comment[lt]=Išvalykite lauką nuo paslėptų minų
Comment[lv]=Notīrīt apslēptas mīnas no laukuma
Comment[mk]=Исчисти ги мините од минското поле
Comment[nb]=Fjern skjulte miner fra et minefelt
Comment[nl]=Zoek de mijnen in een mijnenveld
Comment[nn]=Fjern skjulte miner frå eit minefelt
Comment[pa]=ਸੁਰੰਗ-ਖੇਤਰ ਵਿੱਚੋਂ ਸੁਰੰਗਾਂ ਖਾਲੀ ਕਰੋ
Comment[pl]=Oczyszczanie pola minowego z ukrytych min
Comment[pt]=Limpar as minas escondidas num campo minado
Comment[pt_BR]=Limpe as minas de um campo minado
Comment[ro]=Găsește minele de pe un câmp minat
Comment[ru]=Поиск мин на минном поле
Comment[sk]=Odhaľte skryté míny v mínovom poli
Comment[sl]=Očistite minsko polje skritih min
Comment[sr]=Очистите скривене мине са минског поља
Comment[sv]=Rensa dolda minor från ett minfält
Comment[ta]=பிதைந்து உள்ள கண்ணிவெடிகளை அகற்றவும்
Comment[tr]=Mayın alanından gizli mayınları temizle
Comment[uk]=Очистити мінне поле від прихованих мін
Comment[vi]=Xóa mọi quả mìn bị ẩn ra khỏi bãi mìn
Comment[zh_CN]=扫除雷区里的隐藏的地雷
Comment[zh_TW]=清除方格陣中的隱藏的地雷
Exec=gnome-mines
Icon=gnome-mines
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
Keywords=minesweeper;
Keywords[ar]=minesweeper; كانسة ألغام; كانسة الألغام;
Keywords[bg]=мини;бомби;
Keywords[bs]=minolovac;
Keywords[ca]=pescamines;
Keywords[cs]=odminování;hledání min;
Keywords[da]=minestryger;
Keywords[de]=Minesweeper;Mine;Spiel;Puzzle;
Keywords[el]=ναρκαλιευτής;minesweeper;
Keywords[en_GB]=minesweeper;
Keywords[es]=buscaminas;
Keywords[et]=minesweeper;miiniväli;
Keywords[eu]=dragamina;
Keywords[fa]=مین‌یاب;
Keywords[fi]=minesweeper;miinat;miinaharava;
Keywords[fr]=démineur;
Keywords[gl]=busca minas;
Keywords[he]=שולה מוקשים;
Keywords[hi]=minesweeper;
Keywords[hu]=aknakereső;
Keywords[is]=minesweeper;sprengjuleit;
Keywords[it]=minesweeper;mine;
Keywords[ja]=minesweeper;マインスイーパー;game;ゲーム;logic;ロジック;論理;puzzle;パズル;Mines;地雷;
Keywords[km]=minesweeper;
Keywords[ko]=minesweeper;지뢰찾기;
Keywords[lt]=išminuotojas;
Keywords[lv]=minesweeper;mīnu lauks;mīnas;
Keywords[nb]=minesveiper;
Keywords[pa]=ਸੁਰੰਗਾਂ ਸਾਫ਼ ਕਰਤਾ;
Keywords[pl]=minesweeper;saper;
Keywords[pt]=minesweeper;
Keywords[pt_BR]=campo minado;
Keywords[ru]=сапёр;
Keywords[sk]=hľadanie mín, míny;
Keywords[sl]=minolovec;
Keywords[sr]=мине;миноловац;
Keywords[sv]=minröjning;
Keywords[ta]=மைஸ்வீப்பர்;
Keywords[tr]=mayın tarlası;
Keywords[uk]=мінер;
Keywords[vi]=minesweeper;dò;mìn;do;min;
Keywords[zh_CN]=minesweeper;挖雷;扫雷;
Keywords[zh_TW]=minesweeper;踩地雷;
StartupNotify=true
Actions=Small;Medium;Big;

[Desktop Action Small]
Name=Small board
Name[bs]=Malo područje
Name[cs]=Malá herní deska
Name[da]=Lille bræt
Name[de]=Kleines Spielfeld
Name[el]=Μικρός πίνακας
Name[es]=Tablero pequeño
Name[eu]=Taula txikia
Name[fi]=Pieni lauta
Name[fr]=Petite grille
Name[gl]=Taboleiro pequeno
Name[he]=לוח קטן
Name[hu]=Kis tábla
Name[is]=Lítið borð
Name[it]=Campo piccolo
Name[kk]=Кішкентай тақта
Name[ko]=작은 게임판
Name[lt]=Maža lenta
Name[nb]=Lite brett
Name[pl]=Mała plansza
Name[pt]=Pequeno
Name[pt_BR]=Tabuleiro pequeno
Name[ru]=Маленькое поле
Name[sk]=Malé hracie pole
Name[sl]=Majhno polje
Name[sr]=Мала табла
Name[sv]=Liten spelplan
Name[tr]=Küçük tahta
Name[uk]=Маленька дошка
Name[vi]=Bàn nhỏ
Name[zh_TW]=小型棋盤
Exec=gnome-mines --small

[Desktop Action Medium]
Name=Medium board
Name[bs]=Područje srednje veličine
Name[cs]=Střední herní deska
Name[da]=Mellemstort bræt
Name[de]=Mittelgroßes Spielfeld
Name[el]=Μεσαίος πίνακας
Name[es]=Tablero mediano
Name[eu]=Taula ertaina
Name[fi]=Normaali lauta
Name[fr]=Grille moyenne
Name[gl]=Taboleiro mediano
Name[he]=לוח בינוני
Name[hu]=Közepes tábla
Name[is]=Miðlungs
Name[it]=Campo medio
Name[kk]=Орташа тақта
Name[ko]=중간 게임판
Name[lt]=Vidutinė lenta
Name[nb]=Middels brett
Name[pl]=Średnia plansza
Name[pt]=Tabuleiro médio
Name[pt_BR]=Tabuleiro médio
Name[ru]=Среднее поле
Name[sk]=Stredne veľké hracie pole
Name[sl]=Srednje polje
Name[sr]=Средња табла
Name[sv]=Mellanstor spelplan
Name[tr]=Orta boy tahta
Name[uk]=Середня дошка
Name[vi]=Bàn vừa
Name[zh_TW]=中型棋盤
Exec=gnome-mines --medium

[Desktop Action Big]
Name=Big board
Name[bs]=Veliko područje
Name[cs]=Velká herní deska
Name[da]=Stort bræt
Name[de]=Großes Spielfeld
Name[el]=Μεγάλος πίνακας
Name[es]=Tablero grande
Name[eu]=Taula handia
Name[fi]=Suuri lauta
Name[fr]=Grande grille
Name[gl]=Taboleiro grande
Name[he]=לוח גדול
Name[hu]=Nagy tábla
Name[is]=Stórt borð
Name[it]=Campo grande
Name[ko]=큰 게임판
Name[lt]=Didelė lenta
Name[nb]=Stort brett
Name[pl]=Duża plansza
Name[pt]=Grande
Name[pt_BR]=Tabuleiro grande
Name[ru]=Большое поле
Name[sk]=Veľké hracie pole
Name[sl]=Veliko polje
Name[sr]=Велика табла
Name[sv]=Stor spelplan
Name[tr]=Büyük tahta
Name[uk]=Велика дошка
Name[vi]=Bàn lớn
Name[zh_TW]=大型棋盤
Exec=gnome-mines --big
