[Desktop Entry]
Name=Notifications
Name[af]=Kennisgewings
Name[ar]=التنبيهات
Name[bg]=Известия
Name[bs]=Napomene
Name[ca]=Notificacions
Name[cs]=Upozornění
Name[da]=Påmindelser
Name[de]=Benach­rich­ti­gungen
Name[el]=Ειδοποιήσεις
Name[en_GB]=Notifications
Name[eo]=Sciigoj
Name[es]=Notificaciones
Name[et]=Teated
Name[eu]=Jakinarazpenak
Name[fa]=اعلان‌ها
Name[fi]=Ilmoitukset
Name[fr]=Notifications
Name[ga]=Fógairt
Name[gl]=Notificacións
Name[gu]=સૂચનાઓ
Name[he]=התרעות
Name[hi]=सूचनाएँ
Name[hu]=Értesítések
Name[is]=Tilkynningar
Name[it]=Notifiche
Name[ja]=通知
Name[kk]=Хабарламалар
Name[ko]=알림
Name[lt]=Pranešimai
Name[lv]=Paziņojumi
Name[nb]=Varslinger
Name[nl]=Notificaties
Name[pa]=ਸੂਚਨਾਵਾਂ
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[ro]=Notificări
Name[ru]=Уведомления
Name[sk]=Oznámenia
Name[sl]=Obvestila
Name[sr]=Обавештења
Name[sv]=Aviseringar
Name[ta]=அறிவிப்புகள்
Name[tg]=Огоҳиҳо
Name[tr]=Bildirimler
Name[uk]=Сповіщення
Name[vi]=Thông báo
Name[zh_CN]=通知
Name[zh_TW]=通知
Comment=Control which notifications are displayed and what they show
Comment[af]=Beheer watter kennisgewings wys en wat hulle bevat
Comment[ar]=تحكم في أي التنبيهات تُعرض و ماذا تعرِض
Comment[bg]=Управление на известията и тяхната детайлност
Comment[bs]=Kontroliši koje napomene su prikazane i šta prikazuju
Comment[ca]=Controleu quines notificacions es mostren i què mostren
Comment[cs]=Spravovat to, jak jsou upozornění zobrazována a co ukazují
Comment[da]=Tilpas hvilke påmindelser der vises, og hvad de viser
Comment[de]=Legt fest, wie Nachrichten angezeigt werden und was diese anzeigen
Comment[el]=Ελέγξτε ποιες ειδοποιήσεις εμφανίζονται και τι εμφανίζουν
Comment[en_GB]=Control which notifications are displayed and what they show
Comment[eo]=Regi kiuj sciigoj montritos kaj kio ili montros
Comment[es]=Controlar qué notificaciones se muestran
Comment[et]=Teadete kuvamine ja nende sisu
Comment[eu]=Kontrolatu jakinarazpenak nola bistaratzen diren eta zer erakusten duten
Comment[fa]=کنترل کنید که چه اعلان‌هایی نمایش داده می‌شوند و چه چیزی نمایش می‌دهند
Comment[fi]=Hallitse näytettäviä ilmoituksia ja niiden sisältämää tietoa
Comment[fr]=Contrôler quelles notifications s'affichent et leur contenu
Comment[gl]=Controle que notificacións se mostran e que contido mostran
Comment[gu]=કઇ સૂચનાઓ દર્શાવેલ છે અને શું તેઓ બતાવે છે તેની પર નિયંત્રણ કરો
Comment[he]=שליטה בהתרעות שתוצגנה ומה הן תצגנה
Comment[hi]=नियंत्रण जो सूचनाएं प्रदर्शित कर रहे हैं कि वे क्या दिखाते हैं।
Comment[hu]=Az értesítések megjelenítésének és tartalmuk beállítása
Comment[is]=Stjórnaðu hvaða tilkynningar eru birtar og hvað þær innihalda
Comment[it]=Controlla quali notifiche visualizzare e cosa esse mostrano
Comment[ja]=表示する通知およびその表示方法について設定します
Comment[kk]=Қай хабарламалар және олар не көрсетінін басқару
Comment[ko]=어떤 알림을 표시할지 및 무엇을 표시할지 설정합니다
Comment[lt]=Valdykite, kurie pranešimai yra rodomi, ir ką jie rodo
Comment[lv]=Nosakiet, kuri paziņojumi tiks parādīti, un kas tajos būs redzams
Comment[nb]=Kontroller hvilke varslinger som vises og hva de viser
Comment[nl]=Regelen welke notificaties weergegeven worden en wat ze tonen
Comment[pa]=ਕੰਟਰੋਲ ਕਰੋ ਕਿ ਕਿਹੜੀਆਂ ਸੂਚਨਾਵਾਂ ਵੇਖਾਉਣੀਆਂ ਅਤੇ ਉਹ ਕੀ ਕੁਝ ਵੇਖਾਉਣ
Comment[pl]=Kontrola wyświetlania powiadomień i ich treści
Comment[pt]=Controlar que notificações são apresentadas e o que apresentam
Comment[pt_BR]=Controle quais notificações são exibidas e o que elas mostram
Comment[ru]=Управление отображением и содержанием уведомлений
Comment[sk]=Ovláda zobrazovanie oznámení a ich obsah
Comment[sl]=Nadzirajte katera obvestila so prikazana in kaj prikazujejo
Comment[sr]=Управљајте приказаним обавештењима и њиховим садржајем
Comment[sv]=Kontrollera vilka aviseringar som visas samt vad de visar
Comment[ta]=எந்தெந்த அறிவிப்புகள் காண்பிக்கப்பட வேண்டும் என்பதையும் அவை எவற்றைக் காண்பிக்க வேண்டும் என்பதையும் கட்டுப்படுத்தவும்
Comment[tg]=Идора кунед, ки кадом огоҳиҳо намоиш дода мешаванд ва чиро намоиш медиҳанд
Comment[tr]=Hangi bildirimlerin gösterileceğini ve ne göstereceklerini ayarlayın
Comment[uk]=Вказує які сповіщення показуються і що вони показують
Comment[vi]=Cấu hình xem cảnh báo nào sẽ được hiển thị và hiển thị nó như thế nào
Comment[zh_CN]=控制显示何种通知以及显示什么内容
Comment[zh_TW]=控制要顯示哪種通知及要顯示什麼
Exec=gnome-control-center notifications
Icon=preferences-system-notifications
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Notifications
X-GNOME-Bugzilla-Version=3.16.3
X-GNOME-Settings-Panel=notifications
# Translators: those are keywords for the notifications control-center panel
Keywords=Notifications;Banner;Message;Tray;Popup;
Keywords[af]=Notifications;Banner;Message;Tray;Popup;kennisgewings;banier;boodskap;
Keywords[ar]=تنبيهات;لوحة;رسالة;منبثق;
Keywords[bg]=Предупреждения;Известия;Съобщения;Тава;Изскачащ;Notifications;Banner;Message;Tray;Popup;
Keywords[bs]=Napomene;Trake;poruke;Poslužavnik;Skočni;
Keywords[ca]=Notificacions;Bàner;Missatge;Safata;Emergent;
Keywords[cs]=upozornění;proužek;zpráva;oblast;pruh;cedule;baner;banner;vyskakovací;
Keywords[da]=Påmindelser;Banner;Besked;Meddelelse;Statusfelt;Status;Pop;Pop-op;
Keywords[de]=Benachrichtigungen;Banner;Nachricht;Popup;
Keywords[el]=Ειδοποιήσεις;Τίτλοι;Μήνυμα;Δίσκος;Αναδυόμενο;Notifications;Banner;Message;Tray;Popup;
Keywords[en_GB]=Notifications;Banner;Message;Tray;Popup;
Keywords[eo]=Sciigoj;Mesaĝo;Pleto;Ŝprucfenestra;
Keywords[es]=notificaciones;banner;mensaje;bandeja;emergente;
Keywords[et]=teated;bänner;sõnumid;teateala;hüpikaken;hüpikteade;
Keywords[eu]=jakinarazpenak;iragarkia;mezua;erretilua;laster-leihoa;
Keywords[fa]=Notifications;Banner;Message;Tray;Popup;اعلانها;بنر;پیام;سینی;واشو;
Keywords[fi]=Notifications;Banner;Message;Tray;Popup;ilmoitus;ilmoitukset;banneri;viesti;
Keywords[fr]=Notifications;Messages surgissants;Message;Tiroir;Popup;
Keywords[ga]=Fógairtí;Meirge;Teachtaireacht;Greille;Preab;
Keywords[gl]=Notificacións;Anuncio;Mensaxe;Bandexa;Emerxente;
Keywords[gu]=સૂચના;બેનર;સંદેશો;ટ્રે;પોપઅપ;
Keywords[he]=התרעות;באנר;הודעה;אזור דיווחים;הודעה קופצת;
Keywords[hi]=बैनर;संदेश;ट्रे;पॉपअप;सूचनाएं;
Keywords[hu]=Értesítések;Felugró sáv;Üzenet;Sáv;Tálca;Figyelmeztetés;
Keywords[is]=Tilkynningar;Borði;Skilaboð;Kerfisbakki;Sprettgluggi;
Keywords[it]=Notifiche;Banner;Messaggio;Tray;Popup;
Keywords[ja]=Notifications;Banner;Message;Tray;Popup;通知;バナー;メッセージ;トレイ;ポップアップ;
Keywords[kk]=Хабарлаулар;Баннер;Хабарлама;Трей;Қалқымалы;
Keywords[ko]=Notifications;알림;Banner;안내판;Message;메시지;Tray;트레이;Popup;팝업;
Keywords[lt]=Pranešimai;žinutė;laiškas;dėklas;iššokantis langelis;
Keywords[lv]=Paziņojumi;Lentas;Ziņojums;Paplāte;Uznirstošais logs;
Keywords[nb]=Varslinger;Banner;Melding;Trau;Oppsprett;
Keywords[nl]=Notifications;Notificaties;Banners;Banieren;Bericht;Message;Tray;Systeemvak;Pop-up;
Keywords[pa]=ਸੂਚਨਾ;ਬੈਨਰ;ਸੁਨੇਹਾ;ਟਰੇ;ਪੋਪਅੱਪ;Notifications;Banner;Message;Tray;Popup;
Keywords[pl]=Powiadomienia;Notyfikacje;Baner;Banner;Wiadomość;Komunikat;Obszar;Tacka;Tray;Wyskakujące;Popup;Pop-up;
Keywords[pt]=Notificações;Paineis;Mensagem;Área de Notificação;Popup;
Keywords[pt_BR]=Notificações;Banner;Mensagem;Bandeja;Janelas instantâneas;
Keywords[ro]=Notifications;Banner;Message;Tray;Popup;Notificări;
Keywords[ru]=Уведомления;Всплывающее;Сообщение;Лоток;Всплывающее;
Keywords[sk]=Oznámenia;Bublina;Správa;Oblasť upozornení;Vyskakovacie;
Keywords[sl]=Obvestila;sporočila;pojavna sporočila;opozorila;
Keywords[sr]=обавештења;врпца;порука;фиока;искочко;
Keywords[sv]=Aviseringar;Banderoll;Meddelande;Bricka;Popup;
Keywords[ta]=அறிவிப்புகள்;பதாகை;செய்தி;பலகம்;மேலெழு;
Keywords[tg]=Огоҳиҳо;Баннер;Паём;Қуттӣ;Зоҳиршаванда;
Keywords[tr]=Bildirimler;Mesaj;Tepsi;
Keywords[uk]=Сповіщення;Шапка;Повідомлення;Лоток;Контекстний;
Keywords[vi]=Notifications;Thông;báo;Thong;bao;Banner;Message;Nhắn;nhan;Tray;Khay;Popup;Nổi;lên;Noi;len;
Keywords[zh_CN]=Notifications;Banner;Message;Tray;Popup;通知;横幅;条幅;黑条;消息;托盘;弹出;
Keywords[zh_TW]=Notifications;Banner;Message;Tray;Popup;通知;橫幅;訊息;匣;彈出;
