[Desktop Entry]
Name=Sound
Name[af]=Klank
Name[ar]=الصوت
Name[az]=Səs
Name[bg]=Звук
Name[bn]=শব্দ
Name[br]=Son
Name[bs]=Zvuk
Name[ca]=So
Name[cs]=Zvuk
Name[cy]=Sain
Name[da]=Lyd
Name[de]=Audio
Name[el]=Ήχος
Name[en_GB]=Sound
Name[eo]=Sono
Name[es]=Sonido
Name[et]=Heli
Name[eu]=Soinua
Name[fa]=صدا
Name[fi]=Ääni
Name[fr]=Son
Name[ga]=Fuaim
Name[gl]=Son
Name[gu]=ધ્વનિ
Name[he]=צליל
Name[hi]=ध्वनि
Name[hr]=Zvuk
Name[hu]=Hang
Name[is]=Hljóð
Name[it]=Audio
Name[ja]=サウンド
Name[kk]=Дыбыс
Name[km]=សំឡេង
Name[ko]=소리
Name[lt]=Garsas
Name[lv]=Skaņa
Name[mk]=Звук
Name[mn]=Аудио
Name[ms]=Bunyi
Name[nb]=Lyd
Name[nds]=Ton
Name[nl]=Geluid
Name[nn]=Lyd
Name[pa]=ਸਾਊਂਡ
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[ro]=Sunet
Name[ru]=Звук
Name[rw]=Ijwi
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sr]=Звук
Name[sv]=Ljud
Name[ta]=ஒலி
Name[tg]=Садо
Name[tr]=Ses
Name[uk]=Звук
Name[uz]=Tovush
Name[vi]=Âm thanh
Name[zh_CN]=声音
Name[zh_TW]=音效
Comment=Change sound levels, inputs, outputs, and alert sounds
Comment[af]=Verander klankvolume, toevoer, afvoer en kennisgewingklanke
Comment[ar]=غيّر شدة الصوت و أصوات التنبيهات
Comment[bg]=Промяна на силата на звука, звуците свързани със събития, аудио входовете и изходите
Comment[bs]=Promijeni nivo zvuka, ulazi , izlazi , i upozoravajuci zvukovi
Comment[ca]=Canvieu els nivells de so, les entrades, les sortides i les alertes sonores
Comment[cs]=Změnit hlasitost zvuku, vstupy, výstupy a upozornění
Comment[da]=Ændr lydstyrke, input, output samt påmindelseslyde
Comment[de]=Lautstärke, Ein- und Ausgabequellen und Alarmtöne einstellen
Comment[el]=Αλλάξτε την ένταση ήχου, τις εισόδους, εξόδους και τις ηχητικές ειδοποιήσεις
Comment[en_GB]=Change sound levels, inputs, outputs, and alert sounds
Comment[eo]=Ŝanĝi sonan laŭtecon, enigojn, eligojn, kaj avertajn sonojn
Comment[es]=Cambiar el volumen de entrada y salida de sonido y las alertas sonoras
Comment[et]=Helivaljuse, sisendite, väljundite ja sündmuste helide muutmine
Comment[eu]=Aldatu soinuaren bolumena, sarrerak, irteerak eta eta alerten soinuak
Comment[fa]=تغییر بلندی صدا، ورودی‌ها، خروجی‌ها و رویدادهای صوتی
Comment[fi]=Muuta äänenvoimakkuutta, sisään- ja ulostuloja sekä äänitapahtumia
Comment[fr]=Modifier les volumes sonores, les entrées, les sorties et les alertes sonores
Comment[gl]=Cambie os niveles de volume, entradas, saídas e sons de alerta
Comment[gu]=સાઉન્ડ સ્તર, ઇનપુટ, આઉટપુટ, અને સાઉન્ડ ચેતવણીને બદલો
Comment[he]=שינוי עצמת השמע, קלט, פלט וצלילי התראה
Comment[hi]=ध्वनि के स्तर, निविष्टियाँ, outputs, और चेतावनी लगता बदलें
Comment[hu]=Hangerő, bemenetek, kimenetek és riasztáshangok módosítása
Comment[is]=Breyta hljóðstyrk, inntaki, úttaki og aðvörunarhljóðum
Comment[it]=Regola i livelli dell'audio, gli ingressi, le uscite e i suoni d'allerta
Comment[ja]=サウンドレベルや入力、出力、アラート音を設定します
Comment[kk]=Дыбыс деңгейлерін, кіріс, шығыстарын және дыбыспен хабарлауды өзгерту
Comment[ko]=사운드 음량과, 입력, 출력, 경고음을 바꿉니다
Comment[lt]=Keisti garso garsumą, įvedimą ir įvykių garsus
Comment[lv]=Mainīt skaļumu, ievades, izvades un paziņojumu skaņas
Comment[nb]=Endre lydvolum, innganger, utganger og lyder for hendelser
Comment[nl]=Geluidsvolume, invoer, uitvoer en gebeurtenisgeluiden wijzigen
Comment[pa]=ਸਾਊਂਡ ਲੈਵਲ, ਇੰਪੁੱਟ, ਆਉਟਪੁੱਟ ਅਤੇ ਚੇਤਾਵਨੀ ਸਾਊਂਡ ਬਦਲੋ
Comment[pl]=Zmiana poziomu głośności, wejść i wyjść dźwięku oraz zdarzeń dźwiękowych
Comment[pt]=Alterar o volume do som, entradas, saídas e os sons de alerta
Comment[pt_BR]=Alterar níveis, entradas saídas e alertas de som volume de som e eventos de som
Comment[ru]=Изменение громкости звука входов, выходов и уведомлений
Comment[sk]=Mení hlasitosť zvuku, vstupy, výstupy a zvukové varovania
Comment[sl]=Spreminjanje zvokovnih naprav, glasnosti zvoka in povezljivost z dogodki
Comment[sr]=Измените нивое звука, улазе, излазе и звуке упозорења
Comment[sv]=Ändra ljudvolym, inmatningar, utmatningar och ljudhändelser
Comment[ta]=ஒலி அளவுகள், உள்ளீடுகள், வெளியீடுகள் மற்றும் விழிப்பூட்டல் ஒலிகளை மாற்று
Comment[tg]=Тағйир додани сатҳи садо, вурудҳо, бароришҳо ва садоҳои огоҳӣ
Comment[tr]=Ses seviyelerini, girişleri, çıkışları ve uyarı seslerini değiştir
Comment[uk]=Змінити рівень звуку
Comment[vi]=Thay đổi âm lượng, đầu vào/ra và âm thanh cảnh báo
Comment[zh_CN]=更改音量、输入、输出和事件声音
Comment[zh_TW]=改變音效的音量、輸入、輸出和警示音效
Exec=gnome-control-center sound
Icon=multimedia-volume-control
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=sound
X-GNOME-Bugzilla-Version=3.16.3
X-GNOME-Settings-Panel=sound
# Translators: those are keywords for the sound control-center panel
Keywords=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Keywords[af]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;kaart;mikrofoon;uitdoof;balans;kopstuk;oudio;klank;
Keywords[ar]=بطاقة;ميكروفون;صوت;شدة;توازن;بلوتوث;
Keywords[bg]=Карта;Микрофон;Сила на звука;Затихване;Баланс;Bluetooth;Слушалки;Звук;Аудио;Увеличаване;Намаляване;Заглушаване;Млъкване;Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Keywords[bs]=Kartica;Mikrofon;Jačina zvuka;Iščezavanje;Balans;Blutut;Slušalice;Zvuk;
Keywords[ca]=Targeta;Micròfon;Volum;Esvair;Balanç;Bluetooth;Auriculars;Àudio;
Keywords[cs]=karta;mikrofon;hlasitost;prolínání;vyvážení;bluetooth;náhlavní souprava;audio;
Keywords[da]=Kort;Mikrofon;Volumen;Lydstyrke;Fade;Udtoning;Balance;Bluetooth;Hovedtelefoner;Lyd;Audio;
Keywords[de]=Karte;Mikrofon;Lautstärkeregler;Lautstärke;Ausblenden;Balance;Bluetooth;Headset;Audio;
Keywords[el]=Κάρτα;Μικρόφωνο;Ένταση;Απόσβεση;Ισορροπία;Bluetooth;Ακουστικά;Ήχος;Card;Microphone;Volume;Fade;Balance;Headset;Audio;
Keywords[en_GB]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Keywords[eo]=Karto;Mikrofono;Laŭteco;Dissolvo;Ekvilibro;Bludento;Kapaŭskultilo;Sono;
Keywords[es]=tarjeta;micrófono;volumen;desvanecer;balance;bluetooth;cascos;auriculares;sonido;
Keywords[et]=Helikaart;Mikrofon;Helivaljus;Valjus;Balanss;Tasakaal;Bluetooth;Sinihammas;Peakomplekt;Audio;Heli;
Keywords[eu]=Txartela;Mikrofonoa;Bolumena;Iraungi;Balantzea;Bluetooth;Aurikularrak;Audioa;
Keywords[fa]=کارت;میکروفون;بلندی صدا;محو شدن;بالانس;بلوتوث;گوشی;صوت;
Keywords[fi]=Kortti;mikrofoni;äänenvoimakkuus;häivytys;tasapaino;Bluetooth;kuulokkeet;headset;Audio;
Keywords[fr]=Carte;Microphone;Volume;Fondu;Balance;Bluetooth;Casque;Audio;
Keywords[gl]=tarxeta;micrófono;volume;esvaecer;balance;bluetooth;auriculares;son;
Keywords[gu]=કાર્ડ;માઇક્રોફોન;વોલ્યુમ;ઝાંખુ;સંતુલન;બ્લુટુથ;હૅન્ડસેટ;ઓડિયો;
Keywords[he]=כרטיס;מיקרופון;עצמת שמע;ווליום;איזון;בלוטות׳;Bluetooth;אזניות;אוזניות;שמע;
Keywords[hi]=कार्ड;माइक्रोफोन; वॉल्यूम; फीका; बैलेंस; ब्लूटूथ; हेडसेट; ऑडियो;
Keywords[hu]=Kártya;Mikrofon;Hangerő;Elhalás;Egyensúly;Bluetooth;Fejhallgató;Audio;Hang;
Keywords[is]=Hljóðkort;hljóðnemi;Hljóðstyrkur;Deyfing;Jafnvægi;Bluetooth;Heyrnartól;Hljóðkerfi;
Keywords[it]=Scheda;Microfono;Volume;Fade;Dissolvenza;Bilanciamento;Bluetooth;Auricolare;Cuffie;Suono;
Keywords[ja]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;カード;マイク;音量;フェード;バランス;ブルートゥース;ヘッドセット;オーディオ;Sound;サウンド;
Keywords[kk]=Карта;Микрофон;Дыбыс;Басылу;Баланс;Bluetooth;Құлаққап;Аудио;
Keywords[km]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;
Keywords[ko]=Card;카드;Microphone;마이크;Volume;볼륨;음량;Fade;페이드;Balance;균형;밸런스;Bluetooth;블루투스;Headset;헤드셋;Audio;오디오;
Keywords[lt]=Korta;Mikrofonas;Garsumas;Silpnėjimas;Balansas;Bluetooth;Ausinės;Garsas;
Keywords[lv]=Karte;Mikrofons;Skaļums;Klusināt;Balanss;Bluetooth;Austiņas;Card;Microphone;Volume;Fade;Balance;Headset;Audio;
Keywords[nb]=Kort;Mikrofon;Volum;Fade;Balanse;Bluetooth;Hodetelefon;Lyd;
Keywords[nl]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Kaart;Microfoon;Balans;
Keywords[pa]=ਕਾਰਡ;ਮਾਈਕਰੋਫੋਨ;ਵਾਲੀਅਮ;ਫੇਡ;ਬੈਲਨਸ;ਬਲਿਊਟੁੱਲ;ਹੈੱਡਸੈੱਟ;ਆਡੀਓ;
Keywords[pl]=Karta;Mikrofon;Głośność;Oddalenie;Balans;Bluetooth;Headset;Słuchawki;Głośniki;Audio;Efekty;Alarmy;Odtwarzanie;Nagrywanie;Mono;Stereo;Surround;Dookolny;PCM;S/PDIF;HDMI;DTS;Dolby;Digital;
Keywords[pt]=Placa;Cartão;Microfone;Volume;Baixar;Balanço;Bluetooth;Auscultadores;Áudio;Audio;
Keywords[pt_BR]=Cartão;Microfone;Volume;Desaparecer;Balanço;Bluetooth;Fone de ouvido com microfone;Áudio;
Keywords[ro]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Microfon;Volum;Estompare;Balans;Căști;
Keywords[ru]=Карта;Микрофон;Громкость;Затухание;Баланс;Bluetooth;Наушники;Аудио;Звук;
Keywords[sk]=Karta;Mikrofón;Reproduktor;Hlasitosť;Rovnováha;Bluetooth;Slúchadlo;Slúchadlá;Zvuk;Stereo;Mono;Efekty;Prelínanie;
Keywords[sl]=Kartica;Mikrofon;Glasnost;Pojemanje;Uravnavanje;Bluetooth;Naglavne slušalke;Zvok;
Keywords[sr]=картица;микрофон;јачина звука;ишчезавање;баланс;блутут;слушалице;звук;
Keywords[sv]=Kort;Mikrofon;Volym;Tona;Balans;Bluetooth;Headset;Ljud;
Keywords[ta]=அட்டை;ஒலிவாங்கி;ஒலிஅளவு;மறைவுறு;சமனம்;ப்ளூடூத்;ஹெட்செட்;ஆடியோ;
Keywords[tg]=Корт;Микрофон;Ҳаҷм;Шаффофӣ;Баланс;Bluetooth;Гӯшмонак;Аудио;
Keywords[tr]=Kart;Mikrofon;Ses;Kaybolma;Denge;Bluetooth;Kulaklık Seti;Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;
Keywords[uk]=Плата;Мікрофон;Гучність;Згасання;Баланс;Bluetooth;Гарнітура;Звук;
Keywords[vi]=Card;Cac;Microphone;Volume;Âm;lượng;Am;luong;thanh;Fade;Balance;Bluetooth;Headset;Loa;Tai;nghe;Audio;Tiếng;Tieng;
Keywords[zh_CN]=声卡;麦克风;话筒;音量;淡入淡出;均衡;蓝牙;耳机;耳麦;Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;
Keywords[zh_TW]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;音效卡;麥克風;音量;淡化;平衡;藍牙;耳機;音效;
