[Desktop Entry]
Name=About GNOME
Name[af]=Aangaande GNOME
Name[ar]=عنْ جنوم
Name[az]=GNOME Haqqında
Name[bg]=Относно GNOME
Name[bn]=জিনোম পরিচিতি
Name[br]=Diwar-benn GNOME
Name[bs]=O GNOME-u
Name[ca]=Quant al GNOME
Name[cs]=O GNOME
Name[cy]=Ynghylch GNOME
Name[da]=Om Gnome
Name[de]=Info zu GNOME
Name[el]=Περί GNOME
Name[en_GB]=About GNOME
Name[eo]=Pri GNOME
Name[es]=Acerca de GNOME
Name[et]=GNOME'st lähemalt
Name[eu]=GNOMEri buruz
Name[fa]=درباره‌ی گنوم
Name[fi]=Tietoja Gnomesta
Name[fr]=À propos de GNOME
Name[ga]=Maidir le GNOME
Name[gl]=Sobre GNOME
Name[gu]=જીનોમ વિશે
Name[he]=על אודות GNOME
Name[hi]=गनोम का परिचय
Name[hr]=O GNOME-u
Name[hu]=A GNOME névjegye
Name[is]=Um GNOME
Name[it]=Informazioni su GNOME
Name[ja]=GNOME について
Name[kk]=GNOME туралы
Name[ko]=그놈 정보
Name[lt]=Apie GNOME
Name[lv]=Par GNOME
Name[mk]=За GNOME
Name[mn]=Гномын тухай
Name[ms]=Perihal GNOME
Name[nb]=Om GNOME
Name[nds]=Över GNOME
Name[nl]=Info over Gnome
Name[nn]=Om GNOME
Name[pa]=ਗਨੋਮ ਬਾਰੇ
Name[pl]=Informacje o GNOME
Name[pt]=Sobre o GNOME
Name[pt_BR]=Sobre o GNOME
Name[ro]=Despre GNOME
Name[ru]=О среде GNOME
Name[sk]=O GNOME
Name[sl]=O GNOME
Name[sr]=О Гному
Name[sv]=Om GNOME
Name[ta]=கனோமைப் பற்றி
Name[tr]=GNOME Hakkında
Name[uk]=Про GNOME
Name[uz]=GNOME haqida
Name[vi]=Giới thiệu GNOME
Name[zh_CN]=关于 GNOME
Name[zh_TW]=關於 GNOME
Comment=Learn more about GNOME
Comment[af]=Vind meer uit oor GNOME
Comment[ar]=تعلم المزيد عن جنوم
Comment[bg]=Научете повече за GNOME
Comment[bn]=জিনোম সম্পর্কে আরও জানুন
Comment[br]=Gouzout hiroc'h diwar-benn GNOME
Comment[ca]=Apreneu més coses sobre el GNOME
Comment[cs]=Poznejte lépe GNOME
Comment[cy]=Dysgu mwy am GNOME
Comment[da]=Læs mere om Gnome
Comment[de]=Mehr über GNOME erfahren
Comment[el]=Μάθετε περισσότερα για το GNOME
Comment[en_GB]=Learn more about GNOME
Comment[eo]=Eksciu pli pri GNOME
Comment[es]=Aprenda más acerca de GNOME
Comment[et]=Rohkem teadmisi GNOME'i kohta
Comment[eu]=Ikasi gehiago GNOMEri buruz
Comment[fi]=Opi lisää Gnomesta
Comment[fr]=En savoir plus sur GNOME
Comment[ga]=Faigh tuilleadh eolais faoi GNOME
Comment[gl]=Aprenda máis sobre GNOME
Comment[gu]=જીનોમ વિશે વધુ શીખો
Comment[he]=למידע נוסף על GNOME
Comment[hi]=गनोम के बारे में और जानें
Comment[hr]=Saznajte više o GNOME-u
Comment[hu]=Tudjon meg többet a GNOME-ról
Comment[is]=Læra meira um GNOME
Comment[it]=Per saperne di più su GNOME
Comment[ja]=GNOME についてもっとよく知るには?
Comment[kk]=GNOME туралы көбірек біліңіз
Comment[ko]=그놈을 좀 더 알고 싶을 때
Comment[lt]=Sužinokite daugiau apie GNOME
Comment[lv]=Uzziniet vairāk par GNOME
Comment[mk]=Дознајте повеќе за GNOME
Comment[mn]=Гномын талаар мэдэж авах
Comment[ms]=Belajar lebih lanjut mengenai GNOME
Comment[nb]=Lær mer om GNOME
Comment[nds]=Mehr över GNOME rutkriegen
Comment[nl]=Meer te weten komen over Gnome
Comment[nn]=Lær meir om GNOME
Comment[pa]=ਗਨੋਮ ਬਾਰੇ ਹੋਰ ਜਾਣਕਾਰੀ ਲਵੋ
Comment[pl]=Więcej informacji o środowisku GNOME
Comment[pt]=Saiba mais sobre o GNOME
Comment[pt_BR]=Saiba mais sobre o GNOME
Comment[ro]=Aflați mai multe despre GNOME
Comment[ru]=Узнать больше о GNOME
Comment[sk]=Naučiť sa viac o GNOME
Comment[sl]=Več podrobnosti o namizju GNOME
Comment[sr]=Сазнајте више о Гному
Comment[sv]=Lär dig mer om GNOME
Comment[ta]=GNOME பற்றி மேலும் பயிலவும்
Comment[tr]=GNOME hakkında daha fazla şey öğrenin
Comment[uk]=Дізнайтесь більше про GNOME
Comment[uz]=GNOME haqida koʻproq bilish
Comment[vi]=Xem thông tin thêm về GNOME
Comment[zh_CN]=进一步了解 GNOME
Comment[zh_TW]=獲取更多有關 GNOME 的資訊
Exec=gnome-about
Icon=gnome-logo-icon-transparent
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Utility;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-desktop
X-GNOME-Bugzilla-Component=gnome-about
X-GNOME-Bugzilla-Version=2.32.1
StartupNotify=true
NoDisplay=true
