[Desktop Entry]
Name=Search
Name[af]=Soek
Name[ar]=البحث
Name[az]=Axtar
Name[bg]=Търсене
Name[bn]=সন্ধান
Name[br]=Klask
Name[bs]=Traži
Name[ca]=Cerca
Name[cs]=Hledání
Name[cy]=Chwilio
Name[da]=Søg
Name[de]=Suchen
Name[el]=Αναζήτηση
Name[en_GB]=Search
Name[eo]=Serĉo
Name[es]=Buscar
Name[et]=Otsi
Name[eu]=Bilatu
Name[fa]=جستجو
Name[fi]=Haku
Name[fr]=Rechercher
Name[ga]=Cuardach
Name[gl]=Buscar
Name[gu]=શોધો
Name[he]=חיפוש
Name[hi]=ढूंढें
Name[hr]=Traži
Name[hu]=Keresés
Name[is]=Leita
Name[it]=Cerca
Name[ja]=検索
Name[kk]=Іздеу
Name[km]=ស្វែងរក
Name[ko]=검색
Name[lt]=Ieškoti
Name[lv]=Meklēt
Name[mk]=Пребарувај
Name[mn]=Хайх
Name[ms]=Cari
Name[nb]=Søk
Name[nds]=Sök
Name[nl]=Zoeken
Name[nn]=Søk
Name[pa]=ਖੋਜ
Name[pl]=Wyszukiwanie
Name[pt]=Procurar
Name[pt_BR]=Pesquisa
Name[ro]=Caută
Name[ru]=Поиск
Name[rw]=Gushaka
Name[sk]=Vyhľadávanie
Name[sl]=Poišči
Name[sr]=Претрага
Name[sv]=Sök
Name[ta]=தேடு
Name[tg]=Ҷустуҷӯ
Name[tr]=Arama
Name[uk]=Пошук
Name[uz]=Qidirish
Name[vi]=Tìm kiếm
Name[zh_CN]=搜索
Name[zh_TW]=搜尋
Comment=Control which applications show search results in the Activities Overview
Comment[af]=Kies watter programme soekresultate wys in die Aktiwiteitoorsig
Comment[ar]=تحكم في التطبيقات التي ستُعرض نتائج البحث منها في منظور الأنشطة
Comment[bg]=Определяне на приложенията, които да показват резултати в прегледа на действията
Comment[bs]=Kontrolira koji programi prikazuju rezultate pretrage u Pregledu Aktivnosti
Comment[ca]=Controleu quines aplicacions mostren resultats de cerca a la vista general d'activitats
Comment[cs]=Ovládejte, které aplikace mohou zobrazovat výsledky hledání v přehledu Činnosti
Comment[da]=Bestem hvilke programmer, der viser søgeresultater i aktivitetsoversigten
Comment[de]=Legen Sie fest, welche Anwendungen Suchergebnisse in der Aktivitätenübersicht anzeigen
Comment[el]=Ελέγξτε ποιες εφαρμογές εμφανίζουν αποτελέσματα αναζήτησης στην επισκόπηση Δραστηριότητες
Comment[en_GB]=Control which applications show search results in the Activities Overview
Comment[eo]=Difini por kiuj aplikaĵoj montri serĉajn rezultojn en la Aktivecoj-Superrigardon
Comment[es]=Controlar qué aplicaciones muestran resultados de búsqueda en la vista de actividades
Comment[et]=Määra, milliste rakenduste otsingutulemused on näha tegevuste ülevaates
Comment[eu]=Kontrolatu zer aplikaziok erakusten dituzten bilaketen emaitzak Jardueren ikuspegian
Comment[fa]=اینکه کدام برنامه‌ها در نتایج جستجو نمای‌کلی فعالیت‌ها نمایش داده می‌شوند را کنترل کنید
Comment[fi]=Mitkä ohjelmat näyttävät hakutuloksia Toiminnot-näkymässä
Comment[fr]=Contrôler quelles applications affichent les résultats d'une recherche dans la vue d'ensemble des activités
Comment[gl]=Controle que aplicativos mostran resultados de busca na Vista de actividades
Comment[gu]=પ્રવૃત્તિ ઝાંખીમાં ક્યાં કાર્યક્રમો શોધ પરિણામોને બતાવે છે તેની પર નિયંત્રણ કરો
Comment[he]=שליטה באילו יישומים יציגו תוצאות חיפוש בסקירת פעילויות
Comment[hi]=नियंत्रण के लिए जो आवेदन गतिविधियों के अवलोकन में खोज परिणाम बताते हैं
Comment[hu]=A Tevékenységek áttekintésben találatokat megjelenítő alkalmazások beállítása
Comment[is]=Stjórnaðu hvaða forrit birta leitarniðurstöður í virkniyfirlitinu
Comment[it]=Controlla quali applicazioni mostrano risultati di ricerca nella panoramica attività
Comment[ja]=アクティビティ画面で検索結果を表示するアプリケーションを設定します
Comment[kk]=Көріністе қай қолданбалар іздеу нәтижелерін көрсететінінді басқарыңыз
Comment[ko]=어떤 프로그램에서 활동 내역에 검색 결과를 표시할지 설정합니다.
Comment[lt]=Valdykite, kurios programos rodo paieškos rezultatus veiklų apžvalgoje
Comment[lv]=Noteikt, kuras lietotnes rāda meklēšanas rezultātus aktivitāšu pārskatā
Comment[nb]=Kontroller hvilke programmer som viser resultater i aktivitetsoversikten
Comment[nl]=Regelen welke toepassingen zoekresultaten tonen in het activiteitenoverzicht
Comment[pa]=ਕੰਟਰੋਲ ਕਰੋ ਕਿਹੜੀਆਂ ਐਪਲੀਕੇਸ਼ਨ ਸਰਗਰਮੀ ਝਲਕ ਵਿੱਚ ਖੋਜ ਨਤੀਜਿਆਂ ਵਿੱਚ ਦਿਸਣ
Comment[pl]=Kontrola programów wyświetlających wyniki wyszukiwania na ekranie podglądu
Comment[pt]=Controle que aplicações mostram resultados de pesquisa no Resumo de atividades
Comment[pt_BR]=Controle quais aplicativos mostram resultados de pesquisa no Panorama de atividades
Comment[ro]=Controlează ce aplicații arată rezultate de căutare în panorama de activități
Comment[ru]=Какие приложения показывают результаты поиска в режиме «Обзор»
Comment[sk]=Ovláda zoznam aplikácií, ktoré môžu zobraziť výsledky v prehľade aktivít
Comment[sl]=Nadzirajte, kateri programi v pregledu dejavnosti prikazujejo rezultate iskanja
Comment[sr]=Одлучите који програми ће приказивати резултате претраге у прегледу активности
Comment[sv]=Kontrollera vilka program som visar sökresultat i Aktivitetsöversikten
Comment[ta]=செயல்பாடுகளின் மேலோட்டப் பார்வையில், எந்த பயன்பாடுகள் தேடல் முடிவுகளைக் காண்பிக்க வேண்டும் என்பதைக் கட்டுப்படுத்தவும்
Comment[tg]=Идора кунед, ки кадом барномаҳо натиҷаҳои ҷустуҷӯро дар хулосаи фаъолият намоиш медиҳанд
Comment[tr]=Hangi uygulamaların arama sonuçlarını Etkinlikler Genel Görünümünde göstereceğini belirleyin
Comment[uk]=Вказує, які програми показувати у результатах пошуку в огляді діяльності
Comment[vi]=Điều chỉnh ứng dụng nào hiển thị kết quả tìm kiếm trong một “Tổng quan Tích cực”
Comment[zh_CN]=控制在活动总览中哪个程序显示搜索结果
Comment[zh_TW]=控制在活動概覽中哪些應用程式會顯示在搜尋結果中
Exec=gnome-control-center search
Icon=preferences-system-search
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=search
X-GNOME-Bugzilla-Version=3.18.2
# Translators: those are keywords for the search control-center panel
Keywords=Search;Find;Index;Hide;Privacy;Results;
Keywords[af]=Search;Find;Index;Hide;Privacy;Results;soek;vind;indeks;vertseek;privaatheid;resultate;
Keywords[ar]=بحث;إخفاء;نتائج;خصوصية;
Keywords[bg]=Търсене;Намиране;Индекс;Скриване;Личен;Частен;Резултати;Search;Find;Index;Hide;Privacy;Results;
Keywords[bs]=Pretraga;Pronađi;Sakri;rivatnost;Rezultati;
Keywords[ca]=Cerca;Troba;Índex;Oculta;Privacitat;Resultats;
Keywords[cs]=hledání;hledat;najít;index;skrýt;soukromí;privátní;výsledky;
Keywords[da]=Søg;Find;Indeks;Skjul;Privatliv;Resultater;
Keywords[de]=Suchen;Finden;Index;Verbergen;Privatsphäre;Ergebnisse;
Keywords[el]=Αναζήτηση;Εύρεση;Ευρετήριο;Απόκρυψη;Ιδιωτικότητα;Αποτελέσματα;Search;Find;Index;Hide;Privacy;Results;
Keywords[en_GB]=Search;Find;Index;Hide;Privacy;Results;
Keywords[eo]=Serĉi;Trovi;Indeksi;Kaŝi;Privateco;Rezultoj;
Keywords[es]=buscar;búsqueda;índice;ocultar;privacidad;resultados;
Keywords[et]=otsing;leia;leidmine;indeks;peida;peitmine;varjamine;privaatsus;tulemused;
Keywords[eu]=Bilaketa;Bilatu;Indizea;Ezkutatu;Pribatua;Emaitzak;
Keywords[fa]=Search;Find;Index;Hide;Privacy;Results;جستجو;پیدا;فهرست;مخفی;حریم خصوصی;نتایج;
Keywords[fi]=Search;Find;Index;Hide;Privacy;Results;Haku;Etsi;Indeksi;Piilota;Yksityisyys;Tulokset;Hakutulokset;
Keywords[fr]=Rechercher;Recherche;Index;Masquer;Confidentialité;Privé;Résultats;
Keywords[gl]=Buscar;Atopar;Índice;Oculto;Privacidade;Resultados;
Keywords[gu]=શોધો;શોધો;અનુક્રમણિકા;છુપાડો;ખાનગી;પરિણામો;
Keywords[he]=חיפוש;מציאה;חפש;מצא;למצוא;לחפש;אינדקס;מפתח;הסתרה;החבאה;פרטיות;תוצאות;
Keywords[hi]=खोज;पता लगाएं;सूचकांक;छिपाएँ;गोपनीयता;परिणाम;
Keywords[hu]=Keresés;Indexelés;Elrejtés;Magánszféra;Találatok;Eredmények;
Keywords[is]=Leita;Finna;Yfirlit;Fela;Gagnaleynd;Niðurstöður;
Keywords[it]=Cerca;Trova;Indice;Nascondi;Privacy;Risultati;
Keywords[ja]=Search;Find;Index;Hide;Privacy;Results;サーチ;検索;インデックス;索引;非表示;プライバシー;結果;
Keywords[kk]=Іздеу;Табу;Индекс;Жасыру;Жекелік;Нәтижелер;
Keywords[ko]=Search;검색;Find;찾기;Index;인덱스;색인;Hide;숨기기;Privacy;개인정보;Results;결과;
Keywords[lt]=Paieška;rasti;indeksas;slėpti;privatumas;rezultatai;
Keywords[lv]=Meklēt;Atrast;Indekss;Rādītājs;Slēpt;Privātums;Rezultāti;
Keywords[nb]=Søk;finn;Indeks;Skjul;Personvern;Resultater;
Keywords[nl]=Search;Find;Index;Hide;Privacy;Results;Zoeken;Verbergen;
Keywords[pa]=ਖੋਜ;ਲੱਭੋ;ਲੱਭਣਾ;ਇੰਡੈਕਸ;ਤਤਕਰਾ;ਪਰਾਈਵੇਸੀ;ਨਤੀਜੇ;Search;Find;Index;Hide;Privacy;Results;
Keywords[pl]=Wyszukiwanie;Znajdź;Szukaj;Wyszukaj;Indeksowanie;Index;Ukryj;Ukrywanie;Prywatność;Wyniki;
Keywords[pt]=Procurar;Pesquisar;Localizar;Índice;Ocultar;Esconder;Privacidade;Resultados;
Keywords[pt_BR]=Pesquisa;Localizar;Índice;Ocultar;Privacidade;Resultados;
Keywords[ro]=Search;Find;Index;Hide;Privacy;Results;Caută;Căutare;Găsire;Ascunde;Confidențialitate;Rezultate;
Keywords[ru]=Поиск;Найти;Индекс;Скрыть;Конфиденциальность;Результаты;
Keywords[sk]=Vyhľadávanie;Nájsť;Index;Skryť;Súkromie;Výsledky;
Keywords[sl]=iskanje;išči;najdi;kazalo;skrij;zasebnost;zadetki;
Keywords[sr]=нађи;тражи;пронађи;потражи;попис;индекс;сакриј;приватност;резултати;
Keywords[sv]=Sök;Hitta;Index;Göm;Sekretess;Resultat;
Keywords[ta]=தேடு;கண்டறி;அட்டவணை;மறை;தனியுரிமை;முடிவுகள்;
Keywords[tg]=Ҷустуҷӯ;Ёфтан;Индекс;Пинҳон кардан;Махфият;Натиҷаҳо;
Keywords[tr]=Ara;Bul;Endeks;Gizle;Gizlilik;Sonuçlar;
Keywords[uk]=Пошук;Знайти;Індекс;Сховати;Конфіденційність;Результати;
Keywords[vi]=Search;Tìm;tim;Find;Index;Mục;lục;muc;luc;Hide;Ẩn;an;Privacy;Riêng;tư;rieng;tu;Results;Kết;quả;ket;qua;
Keywords[zh_CN]=Search;Find;Index;Hide;Privacy;Results;搜索;查找;寻找;索引;隐藏;隐私;结果;
Keywords[zh_TW]=Search;Find;Index;Hide;Privacy;Results;搜尋;尋找;索引;隱藏;隱私;結果;
