
[Desktop Entry]
Name=Gnote
Name[ar]=ملاحظات‌ج
Name[bg]=Gnote
Name[bs]=Gnote
Name[ca]=Gnote
Name[cs]=Gnote
Name[da]=Gnote
Name[de]=Gnote
Name[el]=Gnote
Name[en_GB]=Gnote
Name[eo]=Gnoto
Name[es]=Gnote
Name[eu]=Gnote
Name[fr]=Gnote
Name[gl]=Gnote
Name[gu]=Gnote
Name[he]=Gnote
Name[hi]=जीनोट
Name[hu]=Gnote jegyzettömb
Name[it]=Gnote
Name[ja]=Gnote メモ
Name[ko]=지노트
Name[lt]=Gnote
Name[lv]=Gnote
Name[nb]=Gnote
Name[pa]=ਜੀ-ਨੋਟ
Name[pl]=Gnote
Name[pt]=Gnote
Name[pt_BR]=Gnote
Name[ro]=Gnote
Name[ru]=Gnote
Name[sl]=Gnote
Name[sr]=Гномов бележник
Name[sv]=Gnote
Name[ta]=Gnote
Name[tr]=Gnote
Name[uk]=Gnote
Name[zh_CN]=Gnote
Name[zh_TW]=Gnote
Comment=Take notes, link ideas, and stay organized
Comment[ar]=سجّل الملاحظات، واربط الأفكار ونظّم أفكارك
Comment[bg]=Писане на бележки, свързване на идеи — бъди организиран
Comment[bs]=Hvatajte bilješke, povezujte ideje i ostanite organizovani
Comment[ca]=Pren notes, enllaça idees i organitza't
Comment[cs]=Pomůže vám vyznat se ve svých poznámkách
Comment[da]=Tag noter, forbind ideer, og vær organiseret
Comment[de]=Notizen aufnehmen, Ideen verknüpfen und den Überblick behalten
Comment[el]=Κρατήστε σημειώσεις, συνδέστε τις ιδέες, οργανωθείτε
Comment[en_GB]=Take notes, link ideas, and stay organised
Comment[eo]=Notigi, ligi ideojn kaj resti organizata
Comment[es]=Tome notas, enlace ideas y manténgase organizado
Comment[eu]=Jaso oharrak, estekatu ideiak eta egon antolatuta
Comment[fr]=Prendre des notes, relier des idées, rester organisé
Comment[gl]=Toma notas, liga ideas, e mantente organizado
Comment[gu]=નોંધો લો, વિચાર કડી, અને સંચાલિત રાખો
Comment[he]=רשום הערות, קשר רעיונות והשאר מאורגן
Comment[hi]=नोट लें, लिक विचार, और व्यवस्थित रहें
Comment[hu]=Jegyzeteljen, kösse össze az ötleteket és maradjon összeszedett
Comment[it]=Prende note, collega le idee e aiuta a restare organizzati
Comment[ja]=メモを取ってアイディアを関連づけ、そして体系化します
Comment[ko]=쪽지를 쓰고, 아이디어를 연결하고, 정리합니다
Comment[lt]=Konspektuokite, susiekite idėjas ir dirbkite tvarkingai
Comment[lv]=Veiciet piezīmes, sasaistiet idejas un esiet organizēti
Comment[nb]=Skriv notater, lenk sammen ideer og organiser deg
Comment[pa]=ਨੋਟ ਲਵੋ, ਵਿਚਾਰ 'ਕੱਠੇ ਕਰੋ ਅਤੇ ਪਰਬੰਧ ਅਧੀਨ ਰਹੋ
Comment[pl]=Robienie notatek, łączenie pomysłów, organizacja
Comment[pt]=Tome notas, associe ideias e mantenha-se organizado
Comment[pt_BR]=Tome notas, associe ideias e mantenha-se organizado
Comment[ro]=Luați notițe, legați idei și fiți organizați
Comment[ru]=Делайте заметки, связывайте идеи, организуйте себя
Comment[sk]=Tvorte poznámky, ukladajte nápady, a zostante zorganizovaný
Comment[sl]=Pišite sporočilca, povezujte ideje in ostanite organizirani
Comment[sr]=Хватајте белешке, повезујте идеје и будите организовани
Comment[sv]=Skriv ner anteckningar, länka till idéer och håll dig organiserad
Comment[ta]=குறிப்பு எடுக்கவும், இணைப்பு யோசனைகள், மற்றும் உருங்கினைத்தலையும்
Comment[tr]=Not tutun, düşünceleri bağlayın, ve düzenli kalın
Comment[uk]=Зібрати нотатки, пов'язати ідеї та залишитися зібраним
Comment[zh_CN]=记录便笺，汇集想法，保持井然有序
Comment[zh_TW]=記下筆記，連結創意，保持組織。
GenericName=Note-taker
GenericName[ar]=مسجل الملاحظات
GenericName[bg]=Взимане на бележки
GenericName[bs]=Pisanje napomena
GenericName[ca]=Prenedor de notes
GenericName[cs]=Poznámky
GenericName[da]=Notehåndtering
GenericName[de]=Notizanwendung
GenericName[el]=Σημειωματάριο
GenericName[en_GB]=Note-taker
GenericName[es]=Anotador
GenericName[eu]=Ohar hartzailea
GenericName[fr]=Application de prise de notes
GenericName[gl]=Anotador
GenericName[gu]=નોંધ-લેનાર
GenericName[he]=רושם־פתקיות
GenericName[hi]=नोट-टेकर
GenericName[hu]=Jegyzetkezelő
GenericName[it]=Prendi note
GenericName[ja]=メモ
GenericName[ko]=쪽지 만들기
GenericName[lt]=Užrašinė
GenericName[lv]=Piezīmju blociņš
GenericName[nb]=Notater
GenericName[pa]=ਨੋਟ-ਲੈਣਦਾਰ
GenericName[pl]=Notatnik
GenericName[pt]=Tomar notas
GenericName[pt_BR]=Tomador de notas
GenericName[ro]=Carnețel de notițe
GenericName[ru]=Записная книжка
GenericName[sk]=Príjemca poznámky
GenericName[sl]=Zapisovalnik sporočilc
GenericName[sr]=Хватач белешки
GenericName[sv]=Anteckningsverktyg
GenericName[ta]=குறிப்பு எடுப்பவர்
GenericName[tr]=Not Tutucu
GenericName[uk]=Записник
GenericName[zh_CN]=记事本
GenericName[zh_TW]=筆記程式
Keywords=notes;idea;link;organize;
Keywords[bs]=bilješke;ideja;link;organizer;
Keywords[cs]=poznámka;nápad;myšlenka;odkaz;uspořádat;
Keywords[de]=Notiz;Idee;Zettel;Liste;
Keywords[el]=σημειώσεις;ιδέα;σύνδεσμος;οργάνωση;notes;idea;link;organize;
Keywords[es]=notas;idea;enlace;organizar;
Keywords[eu]=oharrak;ideiak;burutazioak;esteka;organizatu;
Keywords[gu]=નોંધ;વિચાર;કડી;સંચાલન;
Keywords[hi]=notes;idea;link;organize;
Keywords[hu]=jegyzetek;ötlet;hivatkozás;szervezés;
Keywords[lt]=rašteliai;idėja;saitas;tvarkyti;
Keywords[pl]=notatki;notatka;pomysł;idea;odnośnik;link;organizacja;organizuj;
Keywords[pt]=notas;ideia;ligar;organizar;
Keywords[pt_BR]=nota;notas;ideia;ideias;link;links;organizar;
Keywords[sl]=sporočilce;sporočilca;zamisel;ideja;povezava;organizacija;urejanje;
Keywords[sr]=белешке;идеја;мисао;веза;повежи;среди;
Keywords[sv]=notes;anteckningar;idé;länk;organisera;
Keywords[ta]=notes;idea;link;organize;
Keywords[tr]=notlar;fikir;bağlantı;organizasyon;
Exec=gnote %u
Icon=gnote
MimeType=x-scheme-handler/note;
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnote
X-GNOME-Bugzilla-Component=main
X-GNOME-Bugzilla-Version=3.18.1
