[Desktop Entry]
Name=Network
Name[af]=Netwerk
Name[ar]=الشبكة
Name[az]=Şəbəkə
Name[bg]=Локална мрежа
Name[bn]=নেটওয়ার্ক
Name[br]=Rouedad
Name[bs]=Mreža
Name[ca]=Xarxa
Name[cs]=Síť
Name[cy]=Rhwydwaith
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[en_GB]=Network
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fi]=Verkko
Name[fr]=Réseau
Name[fy]=Netwurk
Name[ga]=Líonra
Name[gl]=Rede
Name[gu]=નેટવર્ક
Name[he]=רשת
Name[hi]=नेटवर्क
Name[hr]=Mreža
Name[hu]=Hálózat
Name[is]=Netkerfi
Name[it]=Rete
Name[ja]=ネットワーク
Name[kk]=Желі
Name[ko]=네트워크
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mk]=Мрежа
Name[mn]=Сүлжээ
Name[ms]=Rangkaian
Name[nb]=Nettverk
Name[nds]=Netwark
Name[nl]=Netwerk
Name[nn]=Nettverk
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Rețea
Name[ru]=Сеть
Name[rw]=urusobe
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sr]=Мрежа
Name[sv]=Nätverk
Name[ta]=வலைப்பின்னல்
Name[tr]=Ağ
Name[uk]=Мережа
Name[uz]=Tarmoq
Name[vi]=Mạng
Name[zh_CN]=网络
Name[zh_TW]=網路
Comment=Browse bookmarked and local network locations
Comment[ar]=تصفح مواقع الشبكة والمحلّية المعلّمة
Comment[bg]=Преглед на локални или отметнати мрежови местоположения
Comment[bn]=বুকমার্ক ও স্থানীয় নেটওয়ার্ক অবস্থান ব্রাউজ করা হবে
Comment[br]=Furchal e-touez lec'hiadoù lec'hel ar rouedad hag ar re lakaet ur sined warno
Comment[ca]=Navegueu adreces d'interès i ubicacions de xarxa locals
Comment[cs]=Procházet založená a místní síťová umístění
Comment[da]=Gennemse bogmærkede og lokale netværkssteder
Comment[de]=Lesezeichen und lokale Netzwerke durchsuchen
Comment[el]=Περιήγηση στους σελιδοδείκτες και το τοπικό δίκτυο
Comment[en_GB]=Browse bookmarked and local network locations
Comment[eo]=Foliumi legosignitajn kaj lokajn retlokojn
Comment[es]=Examina los lugares locales y remotos marcados
Comment[et]=Järjehoidjates või kohaliku võrgus asuvate asukohtade sirvimine
Comment[eu]=Arakatu laster-markatutako eta sare lokaleko kokalekuak
Comment[fi]=Selaa kirjanmerkittyjä ja paikallisia verkkosijainteja
Comment[fr]=Parcourir les emplacements mis en signets et du réseau local
Comment[ga]=Brábhsáil suíomh líonra leabharmharcáilte agus logánta
Comment[gl]=Examinar as redes locais e localizacións marcadas
Comment[gu]=બુકમાર્ક થયેલ અને સ્થાનિક નેટવર્ક સ્થાનો ખોળો
Comment[he]=עיון במיקומים מסומנים או מיקומים ברשת
Comment[hi]=पुस्तकचिह्न व स्थानीय संजाल अवस्थिति ब्रॉउज करें
Comment[hu]=Könyvjelzős vagy helyi hálózati kapcsolatok tallózása
Comment[is]=Flakka um bókamerktar og staðbundnar nettengingar
Comment[it]=Esplora le posizioni di rete locali e nei segnalibri
Comment[ja]=ブックマークの場所やローカルのネットワークの場所を参照します
Comment[ko]=책갈피와 로컬 네트워크를 찾아봅니다
Comment[lt]=Naršyti pažymėtas ir vietines tinklo vietas
Comment[lv]=Pārlūkot grāmatzīmēs saglabātās vai lokālā tīkla vietas
Comment[mk]=Разгледај обележани и локални мрежни локации
Comment[ms]=Layar lokasi rangkaian setempat dan bertanda buku
Comment[nb]=Bla gjennom nettverkslokasjoner i bokmerker og lokalt
Comment[nl]=Bladeren door opgeslagen en lokale netwerklocaties
Comment[nn]=Bla gjennom nettverkslokasjonar i bokmerke og lokalt
Comment[pa]=ਬੁੱਕਮਾਰਕ ਕੀਤੇ ਅਤੇ ਲੋਕਲ ਨੈੱਟਵਰਕ ਟਿਕਾਣੇ ਖੋਲ੍ਹੋ
Comment[pl]=Przegląda zakładki i położenia w sieci lokalnej
Comment[pt]=Navegar em localizações marcadas ou na rede local
Comment[pt_BR]=Navegue em localizações de rede local e marcadas
Comment[ro]=Navighează prin locațiile favorite sau din rețeaua locală
Comment[ru]=Просмотреть закладки и локальные сетевые адреса
Comment[sk]=Prehliadať záložky a umiestnenia v lokálnej sieti
Comment[sl]=Brskanje med zaznamki in mesti krajevnega omrežja
Comment[sr]=Разгледа раније обележена и локална мрежна места
Comment[sv]=Bläddra bland bokmärkta och lokala nätverksplatser
Comment[ta]=புத்தக குறிப்பு செய்த மற்றும் உள்ளமை இடங்களை உலாவுக
Comment[tr]=Yer imi oluşturulmuş ve yerel ağ konumlarını göz at
Comment[uk]=Переглянути локальні та мережні адреси
Comment[vi]=Duyệt các địa điểm mạng cục bộ và các địa điểm có liên kết đã lưu
Comment[zh_CN]=浏览书签和局域网中的位置
Comment[zh_TW]=瀏覽已記錄及本地網路的位置
TryExec=caja
Exec=caja --no-desktop network:
Terminal=false
StartupNotify=true
Type=Application
Icon=network-workgroup
Categories=GTK;System;Core;
Keywords=bookmarks;browse;local;network;locations;MATE;
OnlyShowIn=MATE;
NoDisplay=true
