[Desktop Entry]
Name=MATE Calculator
Name[ar]=حاسبة متّة
Name[bg]=MATE Калкулатор
Name[ca]=Calculadora del MATE
Name[cs]=MATE Kalkulačka
Name[da]=Mate-lommeregner
Name[de]=MATE Taschenrechner
Name[el]=Αριθμομηχανή MATE
Name[en_GB]=MATE Calculator
Name[es]=Calculadora de MATE
Name[fa]=ماشین حساب MATE
Name[fr]=Calculatrice de MATE
Name[gl]=Calculadora MATE
Name[he]=המחשבון של MATE
Name[hr]=MATE kalkulator
Name[hu]=MATE számológép
Name[it]=Calcolatrice di MATE
Name[ko]=마테 계산기 
Name[lv]=MATE Kalkulators
Name[ms]=Kalkulator MATE
Name[nl]=MATE Rekenmachine
Name[pl]=Kalkulator MATE
Name[pt]=Calculadora MATE
Name[pt_BR]=Calculadora do MATE
Name[ru]=Калькулятор MATE
Name[sk]=MATE kalkulačka
Name[sl]=Računalo MATE
Name[tr]=MATE Hesap Makinesi
Name[uk]=Калькулятор MATE
Name[zh_CN]=MATE 计算器
Name[zh_TW]=MATE 計算機
GenericName=Calculator
GenericName[af]=Sakrekenaar
GenericName[ar]=الحاسِبة
GenericName[az]=Hesaplayıcı
GenericName[bg]=Калкулатор
GenericName[bn]=ক্যালকুলেটর
GenericName[bs]=Računalo
GenericName[ca]=Calculadora
GenericName[cs]=Kalkulačka
GenericName[cy]=Cyfrifiannell
GenericName[da]=Lommeregner
GenericName[de]=Taschenrechner
GenericName[el]=Αριθμομηχανή
GenericName[en_GB]=Calculator
GenericName[en_US]=Calculator
GenericName[eo]=Kalkulilo
GenericName[es]=Calculadora
GenericName[es_AR]=Calculadora
GenericName[et]=Kalkulaator
GenericName[eu]=Kalkulagailua
GenericName[fa]=ماشین‌حساب
GenericName[fi]=Laskin
GenericName[fr]=Calculatrice
GenericName[ga]=Áireamhán
GenericName[gl]=Calculadora
GenericName[gu]=કૅલ્ક્યુલેટર
GenericName[he]=מחשבון
GenericName[hi]=गणक
GenericName[hr]=Kalkulator
GenericName[hu]=Számológép
GenericName[it]=Calcolatrice
GenericName[ja]=電卓
GenericName[kk]=Калькулятор
GenericName[km]=ម៉ាស៊ីន​គិត​លេខ
GenericName[ko]=계산기
GenericName[lt]=Skaičiuotuvas
GenericName[lv]=Kalkulators
GenericName[mk]=Калкулатор
GenericName[mn]=Тооны машин
GenericName[ms]=Kalkulator
GenericName[nb]=Kalkulator
GenericName[nl]=Rekenmachine
GenericName[nn]=Kalkulator
GenericName[pa]=ਕੈਲਕੂਲੇਟਰ
GenericName[pl]=Kalkulator
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[ro]=Calculator
GenericName[ru]=Калькулятор
GenericName[sk]=Kalkulačka
GenericName[sl]=Računalo
GenericName[sr]=Калкулатор
GenericName[sv]=Kalkylator
GenericName[ta]=கணிப்பான்
GenericName[tr]=Hesap Makinesi
GenericName[uk]=Калькулятор
GenericName[vi]=Bàn tính
GenericName[zh_CN]=计算器
GenericName[zh_TW]=計算機
Comment=Perform arithmetic, scientific or financial calculations
Comment[af]=Voer rekenkundige, wetenskaplike of finansiële berekeninge uit
Comment[ar]=أجرِ حساباتك الرّياضية و العلمية و الاقتصادية
Comment[bg]=Извършване на аритметични, научни или финансови изчисления
Comment[bn]=গাণিতিক, বৈজ্ঞানিক অথবা অর্থনৈতিক গণনা সম্পাদন করা হবে
Comment[ca]=Realitza càlculs aritmètics, científics o financers
Comment[cs]=Provádí aritmetické, vědecké i finanční výpočty
Comment[da]=Udfør aritmetiske, videnskabelige eller finansielle udregninger
Comment[de]=Arithmetische, wissenschaftliche und finanztechnische Berechnungen durchführen
Comment[el]=Εκτελεί αριθμητικούς, επιστημονικούς ή εμπορικούς υπολογισμούς
Comment[en_GB]=Perform arithmetic, scientific or financial calculations
Comment[eo]=Fari aritmetikajn, sciencajn aŭ financajn kalkulojn
Comment[es]=Realice cálculos aritméticos, científicos o financieros
Comment[et]=Aritmeetilised, teaduslikud ja finantsarvutused
Comment[eu]=Egin kalkulu aritmetikoak, zientifikoak edo finantzarioak
Comment[fa]=انجام محاسبات ریاضی، علمی و مالی
Comment[fi]=Suorita aritmeettisia, tieteellisiä tai talouslaskutoimituksia
Comment[fr]=Effectue des calculs arithmétiques, scientifiques ou financiers
Comment[gl]=Faga cálculos aritméticos, científicos ou financeiros
Comment[gu]=ગાણિતીક, વૈજ્ઞાનિક અથવા આર્થિક ગણતરીઓ કરો
Comment[he]=ביצוע חישובים פשוטים, מדעיים וכלכליים.
Comment[hi]=अंकगणित, वैज्ञानिक, या वित्तीय गणना करें
Comment[hu]=Aritmetikai, tudományos vagy pénzügyi számítások végrehajtása
Comment[it]=Esegue calcoli aritmetici, scientifici o finanziari
Comment[ja]=算術/科学/財務の計算を行います
Comment[kk]=Қарапайым, ғылыми не қаржылық есептеулерді жүргізу.
Comment[km]=អនុវត្ត​ការ​គណនា​គណិតវិទ្យា វិទ្យាសាស្ត្រ ឬ​ហិរញ្ញវត្ថុ
Comment[ko]=일반 연산, 과학, 재무용 계산을 합니다
Comment[lt]=Atlikti aritmetinius, mokslinius ar finansinius skaičiavimus
Comment[lv]=Veikt aritmētiskus, zinātniskus vai finansiālus aprēķinus
Comment[mk]=Извршете аритметички, научни или финансиски пресметки
Comment[ms]=Lakukan pengiraan aritmetik, saintifik atau kewangan
Comment[nb]=Utfør aritmetiske, vitenskapelige eller finansielle utregninger
Comment[nl]=Rekenkundige, wetenschappelijke of financiële berekeningen uitvoeren
Comment[nn]=Utfør aritmetiske, vitskaplege eller finansielle utregningar
Comment[pa]=ਗਣਿਤ, ਵਿਗਿਆਨਕ ਜਾਂ ਵਿੱਤੀ ਗਣਨਾ ਕਰੋ
Comment[pl]=Wykonanie obliczeń arytmetycznych, naukowych lub finansowych
Comment[pt]=Realize cálculos aritméticos, científicos ou financeiros
Comment[pt_BR]=Efetue cálculos aritméticos, científicos ou financeiros
Comment[ro]=Efectuează calcule aritmetice, științifice și financiare
Comment[ru]=Вычисления: арифметические, научные и финансовые
Comment[sk]=Vykonávanie aritmetických, vedeckých alebo finančných výpočtov
Comment[sl]=Izvajanje aritmetičnih, znanstvenih ali finančnih izračunov
Comment[sr]=Извршите аритметичке, научне или финансијске прорачуне
Comment[sv]=Utför aritmetiska, vetenskapliga eller finansiella beräkningar
Comment[ta]=கணித, அறிவியல் அல்லது பொருளாதார கணக்குகளை செய்கிறது.
Comment[tr]=Aritmetik, bilimsel ve finansal hesaplamalar gerçekleştirir
Comment[uk]=Виконання арифметичних, наукових або фінансових розрахунків
Comment[vi]=Chạy phép tính kiểu số học, khoa học hay tài chính
Comment[zh_CN]=执行算术、科学或财务计算
Comment[zh_TW]=進行數字、科學或金融的計算
Exec=mate-calc
Icon=accessories-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;Calculator;
X-MATE-DocPath=mate-calc/mate-calc.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-calc
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-OtherBinaries=mate-calculator
