[Desktop Entry]
Name=Sound
Name[af]=Klank
Name[ar]=الصوت
Name[bg]=Звук
Name[bn]=শব্দ
Name[br]=Son
Name[ca]=So
Name[cs]=Zvuk
Name[da]=Lyd
Name[de]=Klang
Name[el]=Ήχος
Name[en_GB]=Sound
Name[es]=Sonido
Name[et]=Heli
Name[eu]=Soinua
Name[fi]=Äänet
Name[fr]=Son
Name[ga]=Fuaim
Name[gl]=Son
Name[gu]=સાઉન્ડ
Name[he]=קול
Name[hi]=ध्वनि
Name[hr]=Zvuk
Name[hu]=Hang
Name[it]=Audio
Name[ja]=サウンド
Name[kk]=Дыбыс
Name[ko]=사운드
Name[lt]=Garsas
Name[lv]=Skaņa
Name[ms]=Bunyi
Name[nb]=Lyd
Name[nds]=Ton
Name[nl]=Geluid
Name[nn]=Lyd
Name[pa]=ਸਾਊਂਡ
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[ro]=Sunet
Name[ru]=Звук
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sr]=Звук
Name[sv]=Ljud
Name[ta]=ஒலியளவு
Name[tr]=Ses
Name[uk]=Звук
Name[vi]=Âm thanh
Name[zh_CN]=声音
Name[zh_TW]=聲音
Comment=Change sound volume and sound events
Comment[af]=Verander klankvolume en klankgebeure
Comment[ar]=غيّر شدة الصوت و أصوات الأحداث
Comment[bg]=Промяна на силата на звука и звуците свързани със събития
Comment[bn]=ভলিউম পরিবর্তন করুন ও নির্দিষ্ট ঘটনার সাথে শব্দ যুক্ত করুন
Comment[ca]=Canvieu el volum del so i els sons dels esdeveniments
Comment[cs]=Změní hlasitost zvuku a přiřadí zvuky k událostem
Comment[da]=Skift lydstyrke og lydbegivenheder
Comment[de]=Lautstärke ändern und Ereignissen Klänge zuweisen
Comment[el]=Αλλαγή έντασης ήχου και ηχητικών γεγονότων
Comment[en_GB]=Change sound volume and sound events
Comment[es]=Cambiar el volumen y los eventos de sonido
Comment[et]=Helivaljuse muutmine ja helide määramine sündmustele
Comment[eu]=Aldatu soinuaren bolumena eta soinuaren gertaerak
Comment[fi]=Muuta äänenvoimakkuutta ja äänitapahtumia
Comment[fr]=Modifier le volume et des événements sonores
Comment[ga]=Athraigh airde agus teagmhais fuaime
Comment[gl]=Modificar o volume do son e asociar sons a eventos
Comment[gu]=સાઉન્ડ વોલ્યુમ અને સાઉન્ડ ઘટનાઓને બદલો
Comment[he]=שינוי עצמת השמע והצלילים המשויכים לאירועים
Comment[hi]=ध्वनि आवाज और ध्वनि घटना बदलें
Comment[hr]=Promjeni glasnoću i zvučne događaje
Comment[hu]=Hangerő és hangesemények módosítása
Comment[it]=Regola il volume dei suoni e i suoni associati agli eventi
Comment[ja]=音量や音のイベントを変更します
Comment[ko]=사운드 볼륨과 사운드 이벤트를 바꿉니다
Comment[lt]=Keisti garsumą ir susieti garsus su įvykiais
Comment[lv]=Mainīt skaņas līmeni un skaņas dažādiem notikumiem
Comment[ms]=Ubah volum bunyi dan peristiwa bunyi
Comment[nb]=Endre volum og tilegne lyder til hendelser
Comment[nl]=Geluidsvolume en systeemgeluiden aanpassen
Comment[nn]=Endra lydvolum og lydar til hendingar
Comment[pa]=ਸਾਊਂਡ ਵਾਲੀਅਮ ਅਤੇ ਸਾਊਂਡ ਈਵੈਂਟ ਬਦਲੋ
Comment[pl]=Zmiana głośności dźwięku i dźwięków zdarzeń
Comment[pt]=Alterar volume do sistema e sons de eventos
Comment[pt_BR]=Alterar volume do áudio e sons de eventos
Comment[ro]=Schimbă volumul sunetului și sunetele evenimentelor
Comment[ru]=Изменить громкость звука и связать звуки с событиями рабочего стола
Comment[sk]=Zmení hlasitosť zvuku a priradí zvuky k udalostiam
Comment[sl]=Spreminjanje glasnosti zvoka in zvočni dogodki
Comment[sr]=Мења јачину звука и додељује звуке догађајима
Comment[sv]=Ändra ljudvolym och ljudhändelser
Comment[ta]=ஒலியளவு மற்றும்  ஒலி நிகழ்வுகளை மாற்று
Comment[tr]=Ses seviyesini ve olay seslerini değiştir
Comment[uk]=Зміна гучності звуку та прив'язка звуків до подій
Comment[vi]=Thay đổi âm lượng và âm thanh của sự kiện
Comment[zh_CN]=更改音量以及将声音与事件关联
Comment[zh_TW]=改變音效的音量和音效事件
Exec=mate-volume-control
Icon=multimedia-volume-control
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Mixer;Settings;HardwareSettings;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-media
X-MATE-Bugzilla-Component=mate-volume-control
X-MATE-Bugzilla-Version=1.8.0
