[Desktop Entry]
Name=Control Center
Name[af]=Beheersentrum
Name[ar]=مركز التحكّم
Name[bg]=Контролен център
Name[bn]=নিয়ন্ত্রণ কেন্দ্র
Name[ca]=Centre de control
Name[cs]=Ovládací centrum
Name[da]=Kontrolcenter
Name[de]=Kontrollzentrum
Name[el]=Κέντρο ελέγχου
Name[en_GB]=Control Centre
Name[es]=Centro de control
Name[et]=Juhtimiskeskus
Name[eu]=Kontrol-zentroa
Name[fi]=Hallintakeskus
Name[fr]=Centre de contrôle
Name[ga]=Lárionad Rialaithe
Name[gl]=Centro de control
Name[gu]=નિયંત્રણ કેન્દ્ર
Name[he]=לוח בקרה
Name[hi]=नियंत्रण केंद्र
Name[hr]=Nadzorno središte
Name[hu]=Vezérlőközpont
Name[it]=Centro di controllo
Name[ja]=コントロール・センター
Name[ko]=제어 센터
Name[lt]=Valdymo centras
Name[lv]=Kontroles centrs
Name[mk]=Контролен центар
Name[ms]=Pusat Kawalan
Name[nb]=Kontrollsenter
Name[nds]=Kontrollzentrum
Name[nl]=Configuratiecentrum
Name[nn]=Kontrollsenter
Name[pa]=ਕੰਟਰੋਲ ਕੇਂਦਰ
Name[pl]=Centrum sterowania
Name[pt]=Centro de controlo
Name[pt_BR]=Centro de Controle
Name[ro]=Centrul de control
Name[ru]=Центр управления
Name[sk]=Ovládacie centrum
Name[sl]=Nadzorno središče
Name[sr]=Управљачки центар
Name[sv]=Kontrollpanel
Name[ta]=கட்டுப்பாட்டு மையம்
Name[tr]=Kontrol Merkezi
Name[uk]=Центр керування
Name[uz]=Boshqaruv markazi
Name[vi]=Trung tâm điều khiển
Name[zh_CN]=控制中心
Name[zh_TW]=控制中心
GenericName=The MATE configuration tool
GenericName[af]=Die MATE-konfigurasieprogram
GenericName[ar]=أداة إعداد متّة
GenericName[az]=MATE quraşdırma avadanlığı
GenericName[bg]=Инструмент за настройки на MATE
GenericName[bn]=MATE কনফিগারেশন প্রক্রিয়া
GenericName[bs]=MATE alat za podešavanje
GenericName[ca]=L'eina de configuració del MATE
GenericName[cs]=Nástroj na nastavení prostředí MATE
GenericName[cy]=Yr erfyn cyfluniad MATE
GenericName[da]=Et centralt opsætningsværktøj til Mate
GenericName[de]=Das MATE-Konfigurationswerkzeug
GenericName[el]=Το εργαλείο ρύθμισης του MATE
GenericName[en_GB]=The MATE configuration tool
GenericName[es]=La herramienta de configuración de MATE
GenericName[et]=MATE seadistusprogramm
GenericName[eu]=MATEren konfigurazio-tresna
GenericName[fa]=ابزار پیکربندی گنوم
GenericName[fi]=Maten hallintatyökalu
GenericName[fr]=L'outil de configuration de MATE
GenericName[ga]=An t-uirlis cumraíochta MATE
GenericName[gl]=A ferramenta de configuración do MATE
GenericName[gu]=જીનોમ રૂપરેખાનું સાધન
GenericName[he]=כלי ההגדרה של MATE
GenericName[hi]=गनोम कॉन्फ़िगरेशन उपकरण
GenericName[hr]=Pomagalo za postavljanje MATE-a
GenericName[hu]=A MATE beállítóeszköze
GenericName[is]=MATE stillingatækið
GenericName[it]=Strumento di configurazione per MATE
GenericName[ja]=MATE デスクトップの設定ツールです
GenericName[ko]=마테 설정 도구
GenericName[lt]=MATE konfigūravimo įrankis
GenericName[lv]=MATE konfigurācijas rīks
GenericName[mk]=Алатка за конфигурирање на MATE
GenericName[mn]=MATE-тохируулгын хэрэгсэл
GenericName[ms]=Alat Konfigurasi MATE
GenericName[nb]=Konfigurasjonsverktøy for MATE
GenericName[nds]=MATE-Konfiguratschoonswarktügg
GenericName[nl]=Het Mate-configuratieprogramma
GenericName[nn]=Oppsettsverktøy for MATE
GenericName[pa]=ਗਨੋਮ ਸੰਰਚਨਾ ਟੂਲ
GenericName[pl]=Narzędzie konfiguracji środowiska MATE
GenericName[pt]=A ferramenta de configuração MATE
GenericName[pt_BR]=Ferramenta de Configuração do MATE
GenericName[ro]=Unealtă de configurare MATE
GenericName[ru]=Утилита настройки среды MATE
GenericName[sk]=Nástroj pre nastavenie MATE
GenericName[sl]=Nastavitveno orodje MATE-a.
GenericName[sr]=Гномов алат за подешавање
GenericName[sv]=Konfigurationsverktyget för MATE
GenericName[ta]=கனோம் அமைவடிவு கருவி
GenericName[tr]=MATE yapılandırma aracı
GenericName[uk]=Засіб налаштовування MATE
GenericName[uz]=MATE moslash vositasi
GenericName[vi]=Công cụ cấu hình MATE
GenericName[zh_CN]=MATE 配置工具
GenericName[zh_TW]=MATE 設定工具
Icon=preferences-desktop
Exec=mate-control-center
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;
Keywords=MATE;control;center;configuration;tool;destop;preferences;
OnlyShowIn=MATE;
