[Desktop Entry]
Name=Mouse
Name[af]=Muis
Name[ar]=الفأرة
Name[az]=Siçan
Name[bg]=Мишка
Name[bn]=মাউস
Name[br]=Logodenn
Name[bs]=Miš
Name[ca]=Ratolí
Name[cs]=Myš
Name[cy]=Llygoden
Name[da]=Mus
Name[de]=Maus
Name[el]=Ποντίκι
Name[en_GB]=Mouse
Name[es]=Ratón
Name[et]=Hiir
Name[eu]=Sagua
Name[fa]=موشی
Name[fi]=Hiiri
Name[fr]=Souris
Name[ga]=Luch
Name[gl]=Rato
Name[gu]=માઉસ
Name[he]=עכבר
Name[hi]=माउस
Name[hr]=Miš
Name[hu]=Egér
Name[is]=Mús
Name[it]=Mouse
Name[ja]=マウス
Name[kk]=Тышқан
Name[ko]=마우스
Name[lt]=Pelė
Name[lv]=Pele
Name[mk]=Глушец
Name[mn]=Хулгана
Name[ms]=Tetikus
Name[nb]=Mus
Name[nds]=Muus
Name[nl]=Muis
Name[nn]=Mus
Name[pa]=ਮਾਊਸ
Name[pl]=Mysz
Name[pt]=Rato
Name[pt_BR]=Mouse
Name[ro]=Maus
Name[ru]=Мышь
Name[rw]=Imbeba
Name[sk]=Myš
Name[sl]=Miška
Name[sr]=Миш
Name[sv]=Mus
Name[ta]=சொடுக்கி
Name[tr]=Fare
Name[uk]=Миша
Name[uz]=Sichqoncha
Name[vi]=Chuột
Name[zh_CN]=鼠标
Name[zh_TW]=滑鼠
Comment=Set your mouse preferences
Comment[af]=Stel jou muisvoorkeure in
Comment[ar]=اضبط تفضيلات فأرتك
Comment[az]=Siçanınızın qurğularını seçin
Comment[bg]=Настройки на вашата мишка
Comment[bn]=মাউস সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[br]=Lakait ho kwellvezioù al logodenn
Comment[bs]=Postavite opcije za miša
Comment[ca]=Estableix les preferències del ratolí
Comment[cs]=Nastaví předvolby myši
Comment[cy]=Gosodwch eich hoffterau llygoden
Comment[da]=Vælg indstillinger for mus
Comment[de]=Die Mauseinstellungen festlegen
Comment[el]=Καθορισμός προτιμήσεων ποντικιού
Comment[en_GB]=Set your mouse preferences
Comment[es]=Establezca sus preferencias del ratón
Comment[et]=Hiire-eelistuste seadmine
Comment[eu]=Ezarri saguaren hobespenak
Comment[fa]=ترجیحات موشی‌تان را تنظیم کنید
Comment[fi]=Muuta hiiriasetuksia
Comment[fr]=Définir les paramètres de votre souris
Comment[ga]=Socraigh do chuid sainroghanna na luiche
Comment[gl]=Estabeleza as preferencias do rato
Comment[gu]=તમારા માઉસની પસંદગીઓ ગોઠવો
Comment[he]=הגדרת העדפות העכבר שלך
Comment[hi]=अपने माउस की वरीयताएँ नियत करें
Comment[hr]=Postavi vlastite prilagodbe miša
Comment[hu]=Egér beállításai
Comment[is]=Stilltu músina
Comment[it]=Imposta le preferenze del mouse
Comment[ja]=お使いのマウスの動きを設定します
Comment[ko]=마우스 기본 설정을 설정합니다
Comment[lt]=Keisti pelės nustatymus
Comment[lv]=Mainīt peles iestatījumus
Comment[mk]=Поставете ги преференците за глушецот
Comment[mn]=Хулганы тохируулга хийх
Comment[ms]=Tetapkan keutamaan tetikus anda
Comment[nb]=Sett dine brukervalg for mus
Comment[nl]=Uw muisvoorkeuren instellen
Comment[nn]=Sett opp instillingane for musa
Comment[pa]=ਆਪਣੇ ਮਾਊਸ ਦੀ ਪਸੰਦ ਦਿਓ
Comment[pl]=Ustawianie preferencji myszy
Comment[pt]=Defina as preferências do rato
Comment[pt_BR]=Defina suas preferências de mouse
Comment[ro]=Definire preferințe maus
Comment[ru]=Диалог настройки мыши
Comment[sk]=Nastaviť predvoľby myši
Comment[sl]=Nastavi možnosti miške
Comment[sr]=Подесите миша
Comment[sv]=Ställ in dina musinställningar
Comment[ta]=உங்கள் சொடுக்கியின் பண்புகளை அமைக்கவும்
Comment[tr]=Fare tercihlerini yapın
Comment[uk]=Встановлення параметрів миші
Comment[vi]=Lập các tùy thích cho chuột
Comment[zh_CN]=设置鼠标首选项
Comment[zh_TW]=修改滑鼠偏好設定
Exec=mate-mouse-properties
Icon=input-mouse
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;
Keywords=mate-control-center;MATE;mouse;preferences;
OnlyShowIn=MATE;
