[Desktop Entry]
Name=MATE System Monitor
GenericName=System Monitor
GenericName[ar]=مِرقاب النّظام
GenericName[az]=Sistem İzləyicisi
GenericName[bg]=Наблюдение на системата
GenericName[bn]=সিস্টেম পর্যবেক্ষক
GenericName[bs]=Nadzor sistema
GenericName[ca]=Monitor del sistema
GenericName[cs]=Sledování systému
GenericName[cy]=Arsylwr System
GenericName[da]=Systemovervågning
GenericName[de]=Systemüberwachung
GenericName[el]=Παρακολούθηση συστήματος
GenericName[en_GB]=System Monitor
GenericName[eo]=Sistemmonitoro
GenericName[es]=Monitor del sistema
GenericName[et]=Süsteemijälgija
GenericName[eu]=Sistemako monitorea
GenericName[fi]=Järjestelmän valvonta
GenericName[fr]=Moniteur système
GenericName[ga]=Monatóir Córais
GenericName[gl]=Monitor do sistema
GenericName[gu]=સિસ્ટમ મૉનિટર
GenericName[he]=מנטר המערכת
GenericName[hi]=तंत्र मॉनीटर
GenericName[hr]=Nadzor sustava
GenericName[hu]=Rendszerfigyelő
GenericName[it]=Monitor di sistema
GenericName[ja]=システム・モニタ
GenericName[ko]=시스템 정보
GenericName[lt]=Sistemos monitorius
GenericName[lv]=Sistēmas pārraugs
GenericName[mk]=Надгледувач на системот
GenericName[mn]=Системийн монитор
GenericName[ms]=Pemantau Sistem
GenericName[nb]=Systemmonitor
GenericName[nds]=Sysmonitor
GenericName[nl]=Processenbeheer
GenericName[nn]=Systemovervakar
GenericName[pa]=ਸਿਸਟਮ ਮਾਨੀਟਰ
GenericName[pl]=Monitor systemu
GenericName[pt]=Monitor do sistema
GenericName[pt_BR]=Monitor do sistema
GenericName[ro]=Monitorizare sistem
GenericName[ru]=Системный монитор
GenericName[sk]=Monitor systému
GenericName[sl]=Nadzornik sistema
GenericName[sr]=Праћење система
GenericName[sv]=Systemövervakare
GenericName[ta]=அமைப்புக் கண்காணி
GenericName[tr]=Sistem Gözlemcisi
GenericName[uk]=Системний монітор
GenericName[vi]=Bộ theo dõi hệ thống
GenericName[zh_CN]=系统监视器
GenericName[zh_TW]=系統監控
Comment=View current processes and monitor system state
Comment[ar]=اعرض العمليات الحالية و راقب حالة النظام
Comment[az]=Hazırda baş verən gedişatları göstər və sistemin vəziyyətinə nəzarət et
Comment[bg]=Показване на текущите процеси и следене на състоянието на системата
Comment[bn]=বর্তমান প্রসেস দেখুন ও সিস্টেমের অবস্থা পর্যবেক্ষন করুন
Comment[bs]=Pregled trenutnih procesa i nadzor stanja sistema
Comment[ca]=Visualitza els processos actuals i supervisa l'estat del sistema
Comment[cs]=Zobrazit aktuální procesy a sledovat stav systému
Comment[cy]=Gweld prosesau cyfredol ac arsylwi cyflwr y system
Comment[da]=Vis aktive processer og overvåg systemstatus
Comment[de]=Momentan laufende Prozesse betrachten und den Systemzustand überwachen
Comment[el]=Προβολή τρεχουσών διεργασιών και παρακολούθηση κατάστασης συστήματος
Comment[en_GB]=View current processes and monitor system state
Comment[eo]=Montras aktualajn procezojn kaj sistemstaton
Comment[es]=Vea los procesos actuales y monitorice el estado del sistema
Comment[et]=Süsteemi oleku ja protsesside jälgimine
Comment[eu]=Ikusi uneko prozesuak eta monitorizatu sistemako egoera
Comment[fi]=Katsele aktiivisia prosesseja ja valvo järjestelmän tilaa
Comment[fr]=Afficher les processus en cours et surveiller l'état du système
Comment[gl]=Ver os procesos actuais e monitorizar o estado do sistema
Comment[gu]=વર્તમાન પ્રક્રિયાને જુઓ અને સિસ્ટમની સ્થિતિનું ધ્યાન રાખો
Comment[he]=הצג את התהליכים הנוכחיים ונטר את מצב המערכת
Comment[hi]=वर्तमान प्रक्रिया दिखाता है और तंत्र अवस्था मॉनीटर करता है
Comment[hr]=Pregled trenutnih procesa i nadzor stanja sustava
Comment[hu]=A jelenlegi folyamatok megtekintése és a rendszerállapot figyelése
Comment[it]=Visualizza i processi correnti e controlla lo stato del sistema
Comment[ja]=現在のプロセスを表示してシステムの状態を監視します。
Comment[ko]=현재 프로세스와 시스템 상태를 봅니다
Comment[lt]=Parodo paleistus procesus ir sistemos būklę
Comment[lv]=Skatīt pašreizējos procesus un pārraudzīt sistēmas stāvokli
Comment[mk]=Погледни ги моментално активните процеси и состојбата на системот
Comment[mn]=Идэвхитэй процессуудыг харах ба системын төлвийг шалгах
Comment[ms]=Lihat proses semasa dan pantau keadaan sistem
Comment[nb]=Vis aktive prosesser og overvåk systemets tilstand
Comment[nds]=Aktuelle Prozesse un Systemtostandsmonitor opwiesen
Comment[nl]=Toon de huidige processen en systeemtoestand
Comment[nn]=Vis aktive prosessar og overvak systemtilstanden
Comment[pa]=ਮੌਜੂਦਾ ਪਰੋਸੈੱਸ ਵੇਖੋ ਅਤੇ ਸਿਸਟਮ ਹਾਲਤ ਦੀ ਨਿਗਰਾਨੀ
Comment[pl]=Wyświetlanie istniejących procesów i monitorowanie stanu systemu
Comment[pt]=Ver os processos ativos e monitorizar o estado do sistema
Comment[pt_BR]=Veja os processos atuais e monitore o estado do sistema
Comment[ro]=Arată procesele curente și monitorizează starea sistemului
Comment[ru]=Программа для просмотра текущих процессов и мониторинга состояния системы
Comment[sk]=Zobrazuje aktuálne procesy a monitoruje stav systému
Comment[sl]=Ogled trenutnih opravil in nadzor stanja sistema
Comment[sr]=Преглед текућих процеса и праћење стања система
Comment[sv]=Visa aktuella processer och övervaka systemtillståndet
Comment[ta]=தற்போதைய செயல் மற்றும் கணினியின் நிலையை பார்க்கவும்
Comment[tr]=Çalışan süreçleri ve sistem durumunu gösterir
Comment[uk]=Перегляд поточних процесів та контроль стану системи
Comment[vi]=Xem các tiến trình hiện thời và theo dõi tình trạng hệ thống
Comment[zh_CN]=查看当前进程及监视系统状态
Comment[zh_TW]=顯示目前的程序並監控系統的狀態
TryExec=mate-system-monitor
Exec=mate-system-monitor
Icon=utilities-system-monitor
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;System;Monitor;
Keywords=MATE;system;monitor;process;list;view;current;resources;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=system-monitor
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.0

