[Desktop Entry]
Name=Take Screenshot
Name[af]=Neem skermskoot
Name[ar]=خذ لقطة للشاشة
Name[bg]=Снимка на екрана
Name[bn]=পর্দার ছবি নিন
Name[br]=Pakañ ur skrammad
Name[ca]=Feu una captura de pantalla
Name[cs]=Zachytit snímek obrazovky
Name[cy]=Tynnu Sgrînlun
Name[da]=Gem skærmbillede
Name[de]=Bildschirmfoto aufnehmen
Name[el]=Λήψη στιγμιότυπου οθόνης
Name[en_GB]=Take Screenshot
Name[eo]=Krei ekranopion
Name[es]=Capturar pantalla
Name[et]=Kuvatõmmise salvestamine
Name[eu]=Egin kaptura
Name[fa]=گرفتن عکس صفحه
Name[fi]=Ota kuvakaappaus
Name[fr]=Capture d'écran
Name[ga]=Tóg Scáilghraf
Name[gl]=Facer unha captura de pantalla
Name[gu]=સ્ક્રીનશોટ લો
Name[he]=צילום מסך
Name[hi]=स्क्रीनशॉट लें
Name[hr]=Snimi prikaz zaslona
Name[hu]=Képernyőkép készítése
Name[it]=Cattura schermata
Name[ja]=スクリーンショットの取得
Name[ko]=스크린샷 찍기
Name[lt]=Nufotografuoti ekraną
Name[lv]=Uzņemt ekrānattēlu
Name[mk]=Зачувај слика од екранот
Name[ms]=Ambil Cekupan Skrin
Name[nb]=Ta skjermdump
Name[nds]=Billschirmfoto scheten
Name[nl]=Schermafdruk maken
Name[nn]=Ta eit skjermbilete
Name[pa]=ਸਕਰੀਨ-ਸ਼ਾਟ ਲਵੋ
Name[pl]=Pobranie zrzutu ekranu
Name[pt]=Captura de ecrã
Name[pt_BR]=Capturar imagem da tela
Name[ro]=Salvează o captură de ecran
Name[ru]=Сделать снимок экрана
Name[sk]=Urobiť snímku obrazovky
Name[sl]=Zajemi zaslonsko sliko
Name[sr]=Снимак екрана
Name[sv]=Ta en skärmbild
Name[ta]=திரைப்பிடிப்பு செய்யவும்
Name[tr]=Ekran Görüntüsü Al
Name[uk]=Зробити знімок
Name[vi]=Chụp hình màn hình
Name[zh_CN]=抓图
Name[zh_TW]=拍下螢幕截圖
Comment=Save images of your desktop or individual windows
Comment[af]=Stoor beelde van die werkskerm of individuele vensters
Comment[ar]=احفظ صور لسطح مكتبك أو للنوافذ المنفردة
Comment[bg]=Запазване на снимки на екрана или индивидуални прозорци
Comment[bn]=ডেস্কটপ অথবা স্বতন্ত্র উইন্ডোর ছবি সংরক্ষণ করুন
Comment[br]=Enrollañ ar skeudennoù eus ho purev pe brenestroù hiniennel
Comment[ca]=Desa imatges del vostre escriptori o de finestres individuals
Comment[cs]=Uložit obrázky pracovní plochy nebo konkrétních oken
Comment[cy]=Cadw delweddau o'r bwrdd gwaith neu o ffenestri unigol
Comment[da]=Gem billeder af dit skrivebord eller individuelle vinduer
Comment[de]=Bildschirmfotos Ihrer Arbeitsumgebung oder einzelner Fenster speichern
Comment[el]=Αποθήκευση εικόνων της επιφάνειας εργασίας σας ή ξεχωριστών παραθύρων
Comment[en_GB]=Save images of your desktop or individual windows
Comment[es]=Guarde imágenes de su escritorio o ventanas individuales
Comment[et]=Töölauast või üksikutest akendest pildi salvestamine
Comment[eu]=Gorde mahaigaineko edo leiho bakarren irudiak
Comment[fa]=ذخیرهٔ تصاویر رومیزی یا پنجره‌های جداگانه‌
Comment[fi]=Tallenna kuvia työpöydästä tai yksittäisistä ikkunoista
Comment[fr]=Enregistrer les images de votre bureau ou de vos fenêtres individuelles
Comment[gl]=Gardar imaxes do escritorio ou de xanelas individuais
Comment[gu]=તમારા ડેસ્કટોપ અથવા વ્યક્તિગત વિન્ડોના ચિત્રો સંગ્રહો
Comment[he]=שמור תמונות של שולחן העבודה או החלונות שלך
Comment[hi]=अपने डेस्कटॉप या निजी विंडो के चित्र को सहेजें
Comment[hu]=Az asztal vagy egyedi ablakok képeinek mentése
Comment[it]=Salva immagini della propria scrivania o singole finestre
Comment[ja]=デスクトップ全体またはウィンドウの画像を保存します
Comment[ko]=데스크톱이나 창 한 개의 스크린샷을 저장합니다
Comment[lt]=Įrašyti jūsų darbastalio ar atskirų langų nuotraukas
Comment[lv]=Saglabā jūsu darbvirsmas vai logu attēlus
Comment[mk]=Зачувај слики од работната површина или од одредени прозорци
Comment[ms]=Simpan imej desktop anda atau tetingkap secara individu
Comment[nb]=Lagre bilder av ditt skrivebord eller individuelle vinduer
Comment[nl]=Afbeeldingen van uw bureaublad of vensters maken
Comment[nn]=Lagra bileta av ditt skrivebord eller individuelle vindauge
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾ ਜਾਂ ਅੱਡ-ਅੱਡ ਵਿੰਡੋਜ਼ ਲਈ ਸੰਭਾਲੋ
Comment[pl]=Zapisanie obrazu pulpitu lub poszczególnych okien
Comment[pt]=Gravar imagens do seu ambiente de trabalho ou janelas individuais
Comment[pt_BR]=Salvar imagens da sua área de trabalho ou de janelas individuais
Comment[ro]=Salvează imagini ale spațiului de lucru sau ale unor ferestre individuale
Comment[ru]=Сохранить изображения рабочего стола или отдельных окон
Comment[sk]=Uložiť obrázky vašej pracovnej plochy alebo samostatných okien
Comment[sl]=Shranite slike namizja ali posameznih oken
Comment[sr]=Сачувај слике десктопа или појединачних прозора
Comment[sv]=Spara bilder av ditt skrivbord eller individuella fönster
Comment[ta]=உங்கள் பணிமேடையின் படங்களை அல்லது தனித்தனி சாளரங்களை சேமிக்கவும்
Comment[tr]=Masaüstünüze ya da ayrı ayrı pencerelerinize ait görüntüleri kaydet
Comment[uk]=Збереження зображень робочого столу чи окремих  вікон
Comment[vi]=Lưu ảnh của màn hình nền hay cửa sổ riêng
Comment[zh_CN]=保存您桌面还是单个窗口的图像
Comment[zh_TW]=將整個桌面或獨立的視窗儲存為圖片
Exec=mate-screenshot --interactive
Terminal=false
Type=Application
Icon=applets-screenshooter
StartupNotify=true
Categories=GTK;Utility;
Keywords=MATE;screenshot;snapshot;desktop;window;image;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-utils
X-MATE-Bugzilla-Component=screenshot
X-MATE-Bugzilla-OtherBinaries=mate-panel-screenshot
