[Desktop Entry]
Name=Dictionary
Name[af]=Woordeboek
Name[ar]=القاموس
Name[az]=Lüğət
Name[bg]=Речник
Name[bn]=অভিধান
Name[br]=Geriadur
Name[bs]=Rječnik
Name[ca]=Diccionari
Name[cs]=Slovník
Name[cy]=Geiriadur
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[el]=Λεξικό
Name[en_GB]=Dictionary
Name[eo]=Vortaro
Name[es]=Diccionario
Name[et]=Sõnaraamat
Name[eu]=Hiztegia
Name[fa]=لغت‌نامه
Name[fi]=Sanakirja
Name[fr]=Dictionnaire
Name[ga]=Foclóir
Name[gl]=Dicionario
Name[gu]=શબ્દકોષ
Name[he]=מילון
Name[hi]=शब्दकोश
Name[hr]=Rječnik
Name[hu]=Szótár
Name[it]=Dizionario
Name[ja]=辞書
Name[kk]=Сөздік
Name[ko]=사전
Name[lt]=Žodynas
Name[lv]=Vārdnīca
Name[mk]=Речник
Name[mn]=Толь бичиг
Name[ms]=Kamus
Name[nb]=Ordbok
Name[nds]=Wöörbook
Name[nl]=Woordenboek
Name[nn]=Ordliste
Name[pa]=ਡਿਕਸ਼ਨਰੀ
Name[pl]=Słownik
Name[pt]=Dicionário
Name[pt_BR]=Dicionário
Name[ro]=Dicționar
Name[ru]=Словарь
Name[rw]=Inkoranyamagambo
Name[sk]=Slovník
Name[sl]=Slovar
Name[sr]=Речник
Name[sv]=Ordbok
Name[ta]=அகராதி
Name[tr]=Sözlük
Name[uk]=Словник
Name[vi]=Từ điển
Name[zh_CN]=字典
Name[zh_TW]=字典
Comment=Check word definitions and spellings in an online dictionary
Comment[af]=Soek definisies en spelling in 'n aanlynwoordeboek
Comment[ar]=ابحث عن تعريف وإملاء الكلمات في قاموس على الشّابكة
Comment[bg]=Търсене на определения и правописа на думи в речник в Интернет
Comment[bn]=অনলাইন অভিধানে শব্দের সংজ্ঞা ও বানান পরীক্ষা করুন
Comment[br]=Gwiriañ termenadurioù ha skritur gerioù dre ur geriadur enlinenn
Comment[ca]=Comprova les definicions de paraules i l'ortografia en un diccionari en línia
Comment[cs]=Kontrolovat slova a pravopis v on-line slovníku
Comment[cy]=Chwilio am ddiffiniadau geiriau a'u sillafiad mewn geiriadur ar-lein
Comment[da]=Slå orddefinitioner og stavning op i en ordbog på internettet
Comment[de]=Definitionen und Schreibweisen im Online-Wörterbuch nachschlagen
Comment[el]=Έλεγχος ορισμών λέξεων και ορθογραφίας σε ένα λεξικό του Διαδικτύου
Comment[en_GB]=Check word definitions and spellings in an online dictionary
Comment[es]=Busque definiciones de palabras y ortografía en un diccionario en línea
Comment[et]=Sõnade definitsioonide ja kirjaviiside otsimine onlain-sõnaraamatust
Comment[eu]=Bilatu hitzen definizioak eta ortografiak lineako hiztegi batean
Comment[fa]=بررسی معانی و املای کلمات در یک لغت‌نامهٔ برخط
Comment[fi]=Etsi sanojen määrittelyjä ja kirjoitusasuja verkkosanakirjoista
Comment[fr]=Vérifier la définition et l'orthographe des mots dans un dictionnaire en ligne
Comment[gl]=Verificar as definicións de palabras e a ortografía nun dicionario en liña
Comment[gu]=ઓનલાઈન શબ્દકોશમાં વ્યાખ્યાઓ અને જોડણીઓ માટે શબ્દ ચકાસો
Comment[he]=חפש הגדרת ואיות מילים במילון מקוון
Comment[hi]=ऑन लाइन शब्दकोश में परिभाषा व वर्तनी देखें
Comment[hu]=Szavak meghatározásainak és helyesírásának keresése online szótárakban
Comment[it]=Controlla definizioni e ortografia di parole su un dizionario in linea
Comment[ja]=オンライン辞書を使って単語の意味や綴りを調べます
Comment[ko]=온라인 사전에서 단어의 의미와 맞춤법을 찾아 봅니다
Comment[lt]=Pasitikrinkite žodžių apibrėžimus ir rašybą internetiniame žodyne
Comment[lv]=Pārbauda vārdu skaidrojumus un rakstību interneta vārdnīcā
Comment[mk]=Пребарувај зборови во онлајн речник
Comment[ms]=Semak takrif perkataan dan sebutan didalam kamus atas talian
Comment[nb]=Sjekk orddefinisjoner og staving i en ordbok på nettet
Comment[nl]=Definities en spelling van woorden opzoeken in een on-line woordenboek
Comment[nn]=Sjekk orddefinisjonar og staving i ei ordbok på nettet
Comment[pa]=ਇੱਕ ਆਨਲਾਈਨ ਡਿਕਸ਼ਨਰੀ ਵਿੱਚ ਸ਼ਬਦ ਪ੍ਰੀਭਾਸ਼ਾ ਅਤੇ ਸ਼ਬਦ-ਜੋੜ ਵੇਖੋ
Comment[pl]=Wyświetlanie definicji i pisowni słów w słowniku sieciowym
Comment[pt]=Procurar definição e ortografia de palavras num dicionário web
Comment[pt_BR]=Verificar definição e ortografia das palavras em um dicionário on-line
Comment[ro]=Verifică definițiile și ortografia unui cuvânt într-un dicționar online
Comment[ru]=Проверить определение и правописание слова в онлайн-словаре
Comment[sk]=Skontrolovať definície alebo pravopis slov v online slovníku
Comment[sl]=Preverite razlago in črkovanje besede v spletnem slovarju
Comment[sr]=Проверите значење речи и спеловање у речнику на интернету
Comment[sv]=Kontrollera definitioner av ord och stavningar i en onlineordbok
Comment[ta]=ஒரு இணைய அகராதியில் சொற்களை தேடவும்
Comment[tr]=Sözcük tanımlarını ve yazımlarını çevrimiçi bir sözlükte denetle
Comment[uk]=Пошук слів та їх написання у інтерактивному словнику
Comment[vi]=Tìm từ trong từ điển trực tuyến để kiểm tra chính tả và sự định nghĩa
Comment[zh_CN]=在在线字典中查阅单词定义和拼写
Comment[zh_TW]=在線上字典中查詢字詞的解譯及拼法
Exec=mate-dictionary
Terminal=false
Type=Application
Icon=accessories-dictionary
StartupNotify=true
Categories=GTK;Office;Dictionary;
Keywords=MATE;dictionary;applet;thesaurus;spelling;definitions;online;
OnlyShowIn=MATE;
X-MATE-DocPath=mate-dictionary/mate-dictionary.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-utils
X-MATE-Bugzilla-Component=gdict
X-MATE-Bugzilla-Version=1.8.1
