[Desktop Entry]
Name=Migrate MATE 1.4 settings
Name[cs]=Importovat nastavení z MATE 1.4
Name[da]=Migrer MATE 1.4-indstillinger
Name[de]=MATE 1.4 Einstellungen migrieren
Name[el]=Μετανάστευση των ρυθμίσεων του MATE 1.4
Name[en_GB]=Migrate MATE 1.4 settings
Name[es]=Migra las configuraciones de MATE 1.4
Name[fr]=Faire migrer les paramètres de MATE 1.4
Name[gl]=Migrar os axuste do MATE 1.4
Name[hu]=MATE 1.4 beállítások migrálása
Name[it]=Migra le impostazioni di MATE 1.4
Name[ja]=MATE 1.4の設定をマイグレーションする
Name[ko]=마테 1.4 설정 옮기기
Name[ms]=Pindah tetapan MATE 1.4
Name[nl]=Instellingen van MATE 1.4 migreren
Name[pl]=Migruj ustawienia MATE 1.4
Name[pt_BR]=Migrar as configurações do MATE 1.4
Name[ru]=Мигрировать настройки MATE 1.4
Name[sk]=Premigrovať nastavenia MATE 1.4
Name[sl]=Preseli nastavitve MATE 1.4
Name[tr]=MATE 1.4 ayarlarını taşı
Name[uk]=Мігрувати налаштування MATE 1.4
Name[zh_TW]=匯入 MATE 1.4 設定
Comment=Tool to migrate MATE 1.4 settings to MATE 1.6
Comment[cs]=Nástroj pro import nastavení z MATE 1.4 do MATE 1.6
Comment[da]=Værktøj til at migrere MATE 1.4-indstillinger til MATE 1.6
Comment[de]=Werkzeug, um die Einstellungen von MATE 1.4 zu MATE 1.6 zu migrieren
Comment[el]=Εργαλείο για τη μετανάστευση των ρυθμίσεων από το MATE 1.4 στο MATE 1.6
Comment[en_GB]=Tool to migrate MATE 1.4 settings to MATE 1.6
Comment[es]=Herramienta para migrar las configuraciones de MATE 1.4 a MATE 1.6
Comment[fr]=Outil pour faire migrer les paramètres de MATE 1.4 vers MATE 1.6
Comment[gl]=Ferramenta para migrar os axustes do MATE 1.4 ao MATE 1.6
Comment[hu]=MATE 1.4 beállítások migrálása 1.6-ba
Comment[it]=Strumento per effettuare la migrazione delle impostazioni di MATE 1.4 a MATE 1.6
Comment[ko]=마테 1.4 설정을 마테 1.6으로 옮기는 도구
Comment[ms]=Alat untuk pindah tetapan MATE 1.4 ke MATE 1.6
Comment[nl]=Hulpmiddel om instellingen van MATE 1.4 (en eerder) te migreren naar MATE 1.6 (en hoger)
Comment[pl]=Narzędzie do migracji ustawień z Mate 1.4 do MATE 1.6
Comment[pt_BR]=Ferramenta para migrar as configurações do MATE 1.4 para o MATE 1.6
Comment[ru]=Утилита для миграции настроек MATE 1.4 в MATE 1.6+
Comment[sk]=Nástroj na premigrovanie nastavení z MATE 1.4 do MATE 1.6
Comment[sl]=Orodje za preselitev nastavitev MATE 1.4 v MATE 1.6
Comment[tr]=MATE 1.4 ayarlarını MATE 1.6'ya taşıyacak araç
Comment[uk]=Утиліта для міграції налаштувань MATE 1.4 у MATE 1.6+
Comment[zh_TW]=將 MATE 1.4 的設定匯入到 MATE 1.6 的工具
Exec=mate-conf-import
Icon=mateconf-editor
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;
OnlyShowIn=MATE;
StartupNotify=false
