[Desktop Entry]
Name=Theme Installer
Name[af]=Tema-installeerder
Name[ar]=مُثبِّت السِمات
Name[bg]=Инсталатор на теми
Name[bn]=থিম ইনস্টলার
Name[br]=Staliader neuz
Name[ca]=Instal·lador de temes
Name[cs]=Instalační program motivů
Name[da]=Temainstalleringsprogram
Name[de]=Themeninstallation
Name[el]=Εγκαταστάτης θέματος
Name[en_GB]=Theme Installer
Name[es]=Instalador de temas
Name[et]=Teemapaigaldaja
Name[eu]=Gai-instalatzailea
Name[fi]=Teema-asennin
Name[fr]=Programme d'installation de thème
Name[ga]=Suiteálaí Téamaí
Name[gl]=Instalador de temas
Name[gu]=થીમ સ્થાપક
Name[he]=מתקין ערכות הנושא
Name[hi]=प्रसंग स्थापक
Name[hr]=Ugradnik teme
Name[hu]=Tématelepítő
Name[it]=Installatore dei temi
Name[ja]=テーマのインストーラ
Name[ko]=테마 설치
Name[lt]=Temų diegyklė
Name[lv]=Tēmu instalators
Name[mk]=Инсталер на теми
Name[ms]=Pemasang Tema
Name[nb]=Installering av tema
Name[nds]=Themen installerer
Name[nl]=Thema-installatie
Name[nn]=Installering av drakt
Name[pa]=ਥੀਮ ਇੰਸਟਾਲਰ
Name[pl]=Instalator motywów
Name[pt]=Instalador de Temas
Name[pt_BR]=Instalador de tema
Name[ro]=Instalator teme
Name[ru]=Установщик тем
Name[sk]=Inštalátor tém
Name[sl]=Namestitveni program za teme
Name[sr]=Постављање теме
Name[sv]=Temainstallerare
Name[ta]=கருப்பொருள் நிறுவி
Name[tr]=Tema Yükleyici
Name[uk]=Встановлення теми
Name[uz]=Mavzu oʻrnatgich
Name[vi]=Trình cài đặt sắc thái
Name[zh_CN]=主题安装程序
Name[zh_TW]=布景主題安裝程式
Comment=Installs themes packages for various parts of the desktop
Comment[af]=Installeer temapakkette vir verskillende dele van die werkarea
Comment[ar]=ثبِّت حزم السِمات لأجزاء سطح المكتب المختلفة
Comment[bg]=Инсталиране на пакети с теми за различни компоненти на работния плот
Comment[bn]=ডেস্কটপের বিভিন্ন অংশের জন্য থিমের প্যাকেজ ইনস্টল করে
Comment[br]=Staliañ pakadoù neuz evit rannoù bennak ar burev
Comment[ca]=Instal·la paquets de temes per a diferents parts de l'escriptori
Comment[cs]=Instaluje balíčky motivů k různým částem pracovního prostředí
Comment[da]=Installerer temapakker til forskellige dele af skrivebordet
Comment[de]=Themenpakete für verschiedene Teile des Schreibtischs installieren
Comment[el]=Εγκαθιστά πακέτα θεμάτων για διάφορα κομμάτια της επιφάνειας εργασίας
Comment[en_GB]=Installs themes packages for various parts of the desktop
Comment[es]=Instala paquetes de temas para varias partes del escritorio
Comment[et]=Töölaua välimuse muutmise teemapakkide paigaldamine
Comment[eu]=Mahaigaineko hainbat zatiren gaiak instalatzen ditu
Comment[fi]=Asentaa työpöydän eri osien teemapaketteja
Comment[fr]=Installer les paquets de thèmes pour les diverses parties du bureau
Comment[gl]=Instala paquetes de temas para diferentes partes do escritorio
Comment[gu]=ડેસ્કટોપના વિવિધ ભાગો માટે થીમો પેકેજો સ્થાપિત કરે છે
Comment[he]=התקנת חבילות ערכות נושא לחלקים שונים בשולחן העבודה
Comment[hi]=डेस्कटॉप के विभिन्न भाग हेतु प्रसंग संस्थापित करें
Comment[hr]=Ugrađuje pakete tema za razne dijelove radne površine
Comment[hu]=Témacsomagok telepítése az asztal különböző összetevőihez
Comment[it]=Installa i pacchetti di temi per varie parti dell'ambiente grafico
Comment[ja]=デスクトップのさまざまな部分に適用するテーマ・パッケージをインストールします
Comment[ko]=바탕 화면의 여러 곳에 쓰일 테마를 설치합니다
Comment[lt]=Įdiegia įvairių darbo aplinkos dalių temų paketus
Comment[lv]=Instalē tēmas dažādām darbvirsmas daļām
Comment[mk]=Инсталира пакети со теми за разни делови на работната околина
Comment[ms]=Pasang pakej tema untuk pelbagai bahagian dekstop
Comment[nb]=Installerer temapakker for forskjellige deler av skrivebordet
Comment[nl]=Installeert themapakketten voor diverse gedeelten van de werkomgeving
Comment[nn]=Installerer draktpakkar for ulike deler av skrivebordet
Comment[pa]=ਡੈਸਕਟਾਪ ਦੇ ਵੱਖ-ਵੱਖ ਹਿੱਸਿਆਂ ਲਈ ਥੀਮ ਪੈਕੇਜ ਇੰਸਟਾਲ ਕਰਦਾ ਹੈ
Comment[pl]=Instalacja motywów dla różnych części środowiska
Comment[pt]=Instala pacotes de temas para várias partes da área de trabalho
Comment[pt_BR]=Instala pacotes de temas para várias partes da área de trabalho
Comment[ro]=Instalează pachete cu teme pentru diverse părți ale desktopului
Comment[ru]=Устанавливает пакеты тем для различных элементов рабочего стола
Comment[sk]=Inštaluje balíčky tém pre rôzne časti prostredia
Comment[sl]=Namesti pakete tem za različne dele namizja
Comment[sr]=Инсталира пакет теме који покрива разне делове радне површине
Comment[sv]=Installerar temapaket för diverse delar av skrivbordet
Comment[ta]=கணினிமேசையின் பல பகுதிகளுக்கு கருப்பொருள்  பொதிகளை நிறுவுகிறது
Comment[tr]=Masaüstünün farklı noktaları için tema yükler
Comment[uk]=Встановлює пакунки тем для різних елементів стільниці
Comment[vi]=Cài đặt sắc thái cho các phần khác nhau của giao diện
Comment[zh_CN]=为桌面的各部分安装主题包
Comment[zh_TW]=安裝布景主題套件供桌面不同的部分使用
Exec=mate-appearance-properties -i %u
Icon=preferences-desktop-theme
Terminal=false
Type=Application
MimeType=application/x-mate-theme-package;
StartupNotify=true
Categories=GTK;Settings;
Keywords=mate-control-center;MATE;install;desktop;themes;
NoDisplay=true
OnlyShowIn=MATE;
