[Desktop Entry]
Name=Keyboard
Name[af]=Sleutelbord
Name[ar]=لوحة المفاتيح
Name[az]=Klaviatura
Name[bg]=Клавиатура
Name[bn]=কীবোর্ড
Name[br]=Klavier
Name[bs]=Tastatura
Name[ca]=Teclat
Name[cs]=Klávesnice
Name[cy]=Bysellfwrdd
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[en_GB]=Keyboard
Name[es]=Teclado
Name[et]=Klaviatuur
Name[eu]=Teklatua
Name[fa]=صفحه‌کلید
Name[fi]=Näppäimistö
Name[fr]=Clavier
Name[ga]=Méarchlár
Name[gl]=Teclado
Name[gu]=કીબોર્ડ
Name[he]=מקלדת
Name[hi]=कुंजीपटल
Name[hr]=Tipkovnica
Name[hu]=Billentyűzet
Name[is]=Lyklaborð
Name[it]=Tastiera
Name[ja]=キーボード
Name[kk]=Пернетақта
Name[ko]=키보드
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[mk]=Тастатура
Name[mn]=Гар
Name[ms]=Papan Kekunci
Name[nb]=Tastatur
Name[nds]=Knöppboord
Name[nl]=Toetsenbord
Name[nn]=Tastatur
Name[pa]=ਕੀ-ਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[rw]=Mwandikisho
Name[sk]=Klávesnica
Name[sl]=Tipkovnica
Name[sr]=Тастатура
Name[sv]=Tangentbord
Name[ta]=விசைப்பலகை
Name[tr]=Klavye
Name[uk]=Клавіатура
Name[uz]=Klaviatura
Name[vi]=Bàn phím
Name[zh_CN]=键盘
Name[zh_TW]=鍵盤
Comment=Set your keyboard preferences
Comment[af]=Stel die sleutelbordvoorkeure in
Comment[ar]=اضبط خصائص لوحة مفاتيحك
Comment[az]=Klaviatura seçimlərinizi seçin
Comment[bg]=Настройки на клавиатурата
Comment[bn]=কীবোর্ড সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[br]=Arventenniñ gwellvezioù ho klavier
Comment[bs]=Postavite vaše opcije za tastaturu
Comment[ca]=Establiu les preferències del teclat
Comment[cs]=Nastaví předvolby klávesnice
Comment[cy]=Gosodwch eich hoffterau bysellfwrdd
Comment[da]=Vælg indstillinger for tastaturet
Comment[de]=Die Tastatureinstellungen festlegen
Comment[el]=Καθορισμός των προτιμήσεων πληκτρολογίου
Comment[en_GB]=Set your keyboard preferences
Comment[es]=Establezca sus preferencias del teclado
Comment[et]=Klaviatuurieelistuste seadmine
Comment[eu]=Ezarri zure teklatuaren hobespenak
Comment[fa]=ترجیحات صفحه‌کلید خود را تنظیم کنید
Comment[fi]=Muuta näppäimistöasetuksia
Comment[fr]=Définir les paramètres de votre clavier
Comment[ga]=Socraigh do chuid sainroghanna an mhéarchláir
Comment[gl]=Estabeleza as súas preferencias do teclado
Comment[gu]=તમારા કીબોર્ડની પસંદગીઓ ગોઠવો
Comment[he]=הגדרת העדפות המקלדת שלך
Comment[hi]=कुंजी पटल की वरीयताएँ नियत करें
Comment[hr]=Postavi vlastite prilagodbe tipkovnice
Comment[hu]=Billentyűzet beállításai
Comment[is]=Stilltu lyklaborðið
Comment[it]=Imposta le preferenze della tastiera
Comment[ja]=お使いのキーボードを設定します
Comment[ko]=키보드를 설정합니다
Comment[lt]=Keisti klaviatūros nustatymus
Comment[lv]=Mainīt tastatūras iestatījumus
Comment[mk]=Поставете ги Вашите преференци за тастатурата
Comment[mn]=Өөрийн гарын тохируулгыг тогтоох
Comment[ms]=Tetapkan keutamaan papan kekunci anda
Comment[nb]=Sett dine brukervalg for tastatur
Comment[nds]=Knöppboordinstellens setten
Comment[nl]=Uw toetsenbordvoorkeuren instellen
Comment[nn]=Sett opp instillingar for tastatur
Comment[pa]=ਆਪਣੀ ਕੀ-ਬੋਰਡ ਪਸੰਦ ਦਿਓ
Comment[pl]=Ustawianie preferencji klawiatury
Comment[pt]=Defina as preferências do teclado
Comment[pt_BR]=Definir suas preferências de teclado
Comment[ro]=Schimbați opțiunile de tastare
Comment[ru]=Диалог настройки клавиатуры
Comment[sk]=Nastaviť vlastnosti klávesnice
Comment[sl]=Možnosti tipkovnice
Comment[sr]=Подесите вашу тастатуру
Comment[sv]=Ställ in dina tangentbordsinställningar
Comment[ta]=உங்கள் விசைப்பலகை விருப்பங்களை அமைக்கவும்
Comment[tr]=Klavye tercihlerini yapın
Comment[uk]=Встановити параметри клавіатури
Comment[vi]=Lập các tùy thích cho bàn phím của bạn
Comment[zh_CN]=设置键盘首选项
Comment[zh_TW]=修改鍵盤偏好設定
Exec=mate-keyboard-properties
Icon=preferences-desktop-keyboard
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;
Keywords=mate-control-center;MATE;keyboard;preferences;
OnlyShowIn=MATE;
