[Desktop Entry]
Name=Assistive Technologies
Name[af]=Helpende Tegnologieë
Name[ar]=التقنيات المُعِينة
Name[bg]=Помощни технологии
Name[bn]=সহায়ক প্রযুক্তি
Name[br]=Ostilhoù moned
Name[ca]=Tecnologies assistives
Name[cs]=Technologie usnadnění
Name[da]=Hjælpeteknologier
Name[de]=Hilfstechnologien
Name[el]=Βοηθητικές τεχνολογίες
Name[en_GB]=Assistive Technologies
Name[es]=Tecnologías de asistencia
Name[et]=Abistav tehnika
Name[eu]=Laguntza-teknologiak
Name[fi]=Esteettömyystekniikat
Name[fr]=Outils d'accessibilité
Name[ga]=Teicneolaíochtaí Oiriúnaitheacha
Name[gl]=Tecnoloxías adaptadas
Name[gu]=સહાયક ટેક્નોલોજીઓ
Name[he]=טכנולוגיות מסייעות
Name[hi]=सहायक तकनालॉज़ी
Name[hr]=Pomoćne tehnologije
Name[hu]=Akadálymentesítési technológiák
Name[it]=Tecnologie assistive
Name[ja]=支援技術
Name[ko]=보조 기술
Name[lt]=Pagalbinės technologijos
Name[lv]=Asistējošās tehnoloģijas
Name[mk]=Помошни технологии
Name[ms]=Aplikasi Teknologi Penolong
Name[nb]=Hjelpeteknologier
Name[nl]=Assisterende technologieën
Name[nn]=Hjelpeteknologi
Name[pa]=ਸਹਾਇਕ ਤਕਨਾਲੋਜੀ ਯੋਗ
Name[pl]=Technologie wspierające
Name[pt]=Tecnologias Assistivas
Name[pt_BR]=Tecnologias assistivas
Name[ro]=Tehnologii asistative
Name[ru]=Вспомогательные технологии
Name[sk]=Asistenčné technológie
Name[sl]=Pomožne tehnologije
Name[sr]=Технологије за испомоћ
Name[sv]=Hjälpmedelsteknik
Name[ta]=உதவி தொழில்நுட்பங்கள்
Name[tr]=Yardımcı Teknolojiler
Name[uk]=Можливості доступності
Name[vi]=Công nghệ Giúp đỡ
Name[zh_CN]=辅助技术
Name[zh_TW]=輔助科技
Comment=Choose which accessibility features to enable when you log in
Comment[af]=Kies watter toeganklikheidseienskappe by aanmelding geaktiveer moet word
Comment[ar]=اختر صلاحيات الإعانة عند تسجيل الدخول
Comment[bg]=Изберете кои помощни технологии да се включат при влизане
Comment[bn]=লগ-ইন করার সময়, বিশেষ ব্যবহারের কোনো ব্যবস্থাগুলি সক্রিয় করা হবে তা নির্বাচন করুন
Comment[ca]=Seleccioneu quines funcionalitats d'accessibilitat s'han d'habilitar en entrar
Comment[cs]=Vyberte vlastnosti zpřístupnění, které mají být zapnuty po přihlášení
Comment[da]=Vælg hvilke tilgængelighedsfaciliteter der skal aktiveres når der logges ind
Comment[de]=Die beim Anmelden zu startenden Hilfsmittel für Barrierefreiheit festlegen
Comment[el]=Επιλέξτε ποιες λειτουργίες προσιτότητας θα είναι ενεργές όταν συνδέεστε στο σύστημα
Comment[en_GB]=Choose which accessibility features to enable when you log in
Comment[es]=Elija qué características de accesibilidad activar al iniciar sesión
Comment[et]=Sisselogimisel kasutatavate hõlbustuste valimine
Comment[eu]=Aukeratu erabilgarritasunaren zein eginbide gaitu saioa hastean
Comment[fi]=Valitse sisäänkirjauduttaessa käyttöön otettavat esteettömyysominaisuudet
Comment[fr]=Choix des fonctionnalités d'accessibilité à activer au moment de la connexion
Comment[ga]=Roghnaigh na gnéithe inrochtaineachta le cumasú nuair a logálann tú isteach
Comment[gl]=Escoller as características de accesibilidade
Comment[gu]=જ્યારે તમે પ્રવેશો છે ત્યારે ક્યાં સુલભ લક્ષણોને સક્રિય કરવા માટે પસંદ કરો
Comment[he]=נא לבחור אילו תכונות נגישות יופעלו עם הכניסה
Comment[hi]=चुनें कि आपकी लॉगिन के दौरान किस पहुँच फीचर को सक्रिय करना है
Comment[hr]=Odaberi koje značajke pristupačnosti omogućiti prigodom tvoje prijave
Comment[hu]=A bejelentkezéskor bekapcsolandó akadálymentesítési szolgáltatások kiválasztása
Comment[it]=Sceglie quali funzioni di accessibilità abilitare all'accesso
Comment[ja]=ログインした時にアクセシビリティの機能を有効にするかどうかを選択します
Comment[ko]=로그인할 때 어느 접근성 기능을 사용할 지 선택
Comment[lt]=Pasirinkti, kurias pritaikymo neįgaliesiems savybes įjungti prisijungiant
Comment[lv]=Izvēlieties, kādas pieejamības iespējas aktivizēt, kad jūs pieslēdzaties sistēmai
Comment[mk]=Изберете која опција за пристапност да биде вклучена кога ќе се најавите
Comment[ms]=Pilih fitur kebolehcapaian mankah yang hendak dibenarkan bila anda mendaftar masuk
Comment[nb]=Velg hvilke funksjoner for tilgjengelighet som skal aktiveres når du logger inn
Comment[nl]=Welke toegankelijkheidsfunctionaliteit in te schakelen bij het aanmelden
Comment[nn]=Vel kva for tilgjengefunksjonar som skal slåast på når du loggar inn
Comment[pa]=ਜਦੋਂ ਤੁਸੀਂ ਲਾਗ ਕਰੋ ਤਾਂ ਅਸੈੱਸਬਿਲਟੀ ਫੀਚਰ ਯੋਗ ਕਰਨਾ ਚੁਣੋ
Comment[pl]=Wybór funkcji dostępności do włączenia podczas logowania się
Comment[pt]=Escolher quais funções de acessibilidade a ativar ao iniciar sessão
Comment[pt_BR]=Escolhe quais recursos de acessibilidade habilitar quando você iniciar uma sessão
Comment[ro]=Alegeți ce opțiuni de accesibilitate să fie activate la autentificare
Comment[ru]=Выбрать вспомогательные технологии, запускаемые при входе в систему
Comment[sk]=Zvoľte si, ktoré druhy sprístupnenia majú byť aktivované po prihlásení
Comment[sl]=Izbor pomožnih tehnologij, ki naj se omogočijo ob zagonu
Comment[sr]=Изаберите које технологије за испомоћ за покретање са системом
Comment[sv]=Välj vilka hjälpmedelsfunktioner som ska aktiveras när du loggar in
Comment[ta]=தேர்வு செய்க:  உள் நுழையும்போது எந்த அணுகல் சிறப்பியல்பை செயல் ஆக்க வேண்டும் 
Comment[tr]=Giriş yaptığınızda hangi erişilebilirlik özelliklerinin etkinleştirileceğini seçin
Comment[uk]=Вибрати можливості доступності, що запускаються при вході до системи
Comment[vi]=Chọn tính năng khả năng truy cập cần dùng khi đăng nhập
Comment[zh_CN]=选择您登录时想要启用的辅助特性
Comment[zh_TW]=選擇當您登入時要啟用哪個無障礙功能
Exec=mate-at-properties
Icon=preferences-desktop-accessibility
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;
Keywords=mate-control-center;MATE;accessibility;features;
OnlyShowIn=MATE;
