[Desktop Entry]
Type=Application
Name=Window Manager
Name[af]=Vensterbestuurder
Name[ar]=مدير النوافذ
Name[az]=Pəncərə İdarəçisi
Name[bg]=Мениджър на прозорци
Name[bn]=উইন্ডো ম্যানেজার
Name[br]=ardoer prenestroù
Name[bs]=Menadžer prozora
Name[ca]=Gestor de finestres
Name[cs]=Správce oken
Name[cy]=Rheolwr Ffenestri
Name[da]=Vindueshåndtering
Name[de]=Fensterverwaltung
Name[el]=Διαχειριστής παραθύρων
Name[en_GB]=Window Manager
Name[en_US]=Window Manager
Name[eo]=Fenestroadministrilo
Name[es]=Gestor de ventanas
Name[et]=Aknahaldur
Name[eu]=Leiho-kudeatzailea
Name[fa]=مدیر پنجره‌ها
Name[fi]=Ikkunointiohjelma
Name[fr]=Gestionnaire de fenêtres
Name[fy]=Finsterbehearder
Name[ga]=Bainisteoir Fuinneoga
Name[gl]=Xestor de xanelas
Name[gu]=વિન્ડો સંચાલક
Name[he]=Window Manager
Name[hi]=विन्डो मैनेजर
Name[hr]=Upravitelj prozora
Name[hu]=Ablakkezelő
Name[is]=Gluggastjóri
Name[it]=Window manager
Name[ja]=ウインドウ・マネージャ
Name[ko]=창 관리자
Name[lt]=Langų valdyklė
Name[lv]=Logu pārvaldnieks
Name[mk]=Менаџер за прозорци
Name[mn]=Цонхны менежер
Name[ms]=Pengurus Tetingkap
Name[nb]=Vindushåndterer
Name[nds]=Finsteroppasser
Name[nl]=Windowmanager
Name[nn]=Vindaugehandsamar
Name[pa]=ਵਿੰਡੋ ਮੈਨੇਜਰ
Name[pl]=Menedżer okien
Name[pt]=Gestor de janelas
Name[pt_BR]=Gerenciador de janelas
Name[ro]=Administrator de ferestre
Name[ru]=Менеджер окон
Name[rw]=Umuyobozi w'idirishya
Name[sk]=Správca okien
Name[sl]=Upravljalnik oken
Name[sr]=Управник прозора
Name[sv]=Fönsterhanterare
Name[ta]=சாளரமேலாளர்
Name[tr]=Pencere Yöneticisi
Name[uk]=Віконний менеджер
Name[uz]=Oyna boshqaruvchisi
Name[vi]=Bộ quản lý cửa sổ
Name[zh_CN]=窗口管理器
Name[zh_TW]=視窗管理員
Exec=mate-wm
Keywords=MATE;window;manager;launch;MDM;
NoDisplay=true
X-MATE-Autostart-Phase=WindowManager
X-MATE-Provides=windowmanager
X-MATE-Autostart-Notify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-session
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.1
