[Desktop Entry]
Name=Preferred Applications
Name[af]=Voorkeurtoepassings
Name[ar]=التطبيقات المفضّلة
Name[az]=Ön Qurğulu Proqramlar
Name[bg]=Предпочитани програми
Name[bn]=পছন্দের অ্যাপলিকেশন
Name[br]=Arloadoù gwellañ karet
Name[bs]=Povlaštene aplikacije
Name[ca]=Aplicacions preferides
Name[cs]=Preferované aplikace
Name[cy]=Rhaglenni Amgen
Name[da]=Foretrukne programmer
Name[de]=Bevorzugte Anwendungen
Name[el]=Προτιμώμενες εφαρμογές
Name[en_GB]=Preferred Applications
Name[es]=Aplicaciones preferidas
Name[et]=Eelistatud rakendused
Name[eu]=Hobetsitako aplikazioak
Name[fa]=برنامه‌های ترجیح داده شده
Name[fi]=Oletussovellukset
Name[fr]=Applications préférées
Name[ga]=Feidhmchláir de Rogha
Name[gl]=Aplicativos preferidos
Name[gu]=પ્રાધાન્યવાળા કાર્યક્રમો
Name[he]=יישומים מועדפים
Name[hi]=पसन्दीदा अनुप्रयोग
Name[hr]=Pretpostavljeni programi
Name[hu]=Alapértelmezett alkalmazások
Name[is]=Valin forrit
Name[it]=Applicazioni preferite
Name[ja]=お気に入りのアプリ
Name[kk]=Таңдамалы қолданбалар
Name[ko]=기본 프로그램
Name[lt]=Pageidaujamos programos
Name[lv]=Noklusētās programmas
Name[mk]=Преферирани апликации
Name[mn]=Эрхэмлэсэн х.программууд
Name[ms]=Aplikasi Digemari
Name[nb]=Forvalgte programmer
Name[nds]=Leevste Programme
Name[nl]=Standaardtoepassingen
Name[nn]=Fortrukne program
Name[pa]=ਪਸੰਦੀਦਾ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Preferowane programy
Name[pt]=Aplicações Preferidas
Name[pt_BR]=Aplicativos preferenciais
Name[ro]=Aplicații preferate
Name[ru]=Предпочтительные приложения
Name[sk]=Predvolené aplikácie
Name[sl]=Prednostni programi
Name[sr]=Омиљени програми
Name[sv]=Föredragna program
Name[ta]=விருப்பமான நிரல்கள்
Name[tr]=Tercih Edilen Uygulamalar
Name[uk]=Стандартні програми
Name[vi]=Ứng dụng ưa thích
Name[zh_CN]=默认应用程序
Name[zh_TW]=首選應用程式
Comment=Select your default applications
Comment[af]=Kies asb. die verstektoepassings
Comment[ar]=اختر تطبيقاتك المبدئية
Comment[az]=Ön qurğulu proqramlarınızı seçin
Comment[bg]=Избиране на стандартните програми
Comment[bn]=যে অ্যাপলিকেশনটি ডিফল্ট হিসেবে ব্যবহার করতে চান তা বেছে নিন
Comment[br]=Diuzit hoc'h arloadoù dre ziouer
Comment[bs]=Izaberite vaše uobičajene aplikacije
Comment[ca]=Seleccioneu les aplicacions per defecte
Comment[cs]=Umožní si vybrat výchozí aplikace
Comment[cy]=Dewiswch eich rhaglenni rhagosodedig
Comment[da]=Vælg hvilke programmer der foreslås som standard
Comment[de]=Bevorzugte Anwendungen auswählen
Comment[el]=Καθορισμός των προεπιλεγμένων εφαρμογών
Comment[en_GB]=Select your default applications
Comment[es]=Seleccione sus aplicaciones predeterminadas
Comment[et]=Vaikimisi kasutatavate rakenduste valimine
Comment[eu]=Hautatu zure aplikazio lehenetsiak
Comment[fa]=برنامه‌ی پیش‌فرض خود را انتخاب کنید
Comment[fi]=Valitse oletusohjelmasi
Comment[fr]=Sélectionner vos applications par défaut
Comment[ga]=Roghnaigh d'fheidhmchláir réamhshocraithe
Comment[gl]=Seleccione os seus aplicativos predeterminados
Comment[gu]=તમારા મૂળભૂત કાર્યક્રમો પસંદ કરો
Comment[he]=בחירת יישומי בררת המחדל שלך
Comment[hi]=अपने डिफ़ॉल्ट अनुप्रयोग चुनें
Comment[hr]=Odaberi vlastite zadane programe
Comment[hu]=Alapértelmezett alkalmazások kiválasztása
Comment[is]=Veldu sjálfgefin forrit
Comment[it]=Seleziona le applicazioni predefinite
Comment[ja]=デフォルトで使用するアプリケーションを設定します
Comment[ko]=기본 프로그램을 선택하십시오
Comment[lt]=Parinkite savo numatytąsias programas
Comment[lv]=Izvēlieties jūsu noklusētās aplikācijas
Comment[mk]=Изберете ги Вашите стандардни апликации
Comment[mn]=Та өөрийн стандарт х.программыг сонгоно уу
Comment[ms]=Pilih aplikasi lalai anda
Comment[nb]=Sett dine forvalgte programmer
Comment[nl]=Uw standaardtoepassingen selecteren
Comment[nn]=Vel standardprogramma dine
Comment[pa]=ਆਪਣੇ ਡਿਫਾਲਟ ਐਪਲੀਕੇਸ਼ਨ ਚੁਣੋ
Comment[pl]=Wybór domyślnych programów
Comment[pt]=Selecione as suas aplicações por defeito
Comment[pt_BR]=Selecione seus aplicativos padrão
Comment[ro]=Alegeți aplicațiile implicite
Comment[ru]=Выбор приложений-обработчиков по умолчанию
Comment[sk]=Nastaviť vlastné preferované aplikácie
Comment[sl]=Izbor privzetih programov
Comment[sr]=Одаберите ваше основне програме
Comment[sv]=Välj dina standardprogram
Comment[ta]=உங்களின் கொடாநிலை நிரலைத் தெரிவுசெய்யவும்
Comment[tr]=Öntanımlı uygulamalarınızı seçin
Comment[uk]=Обрання типових програм
Comment[uz]=Andoza dasturni tanlang
Comment[vi]=Chọn các ứng dụng mặc định của bạn
Comment[zh_CN]=选择默认的应用程序
Comment[zh_TW]=選取預設使用的應用程式
Exec=mate-default-applications-properties
Icon=preferences-desktop-default-applications
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-MATE-PersonalSettings;
Keywords=mate-control-center;MATE;default;preferred;applications;
OnlyShowIn=MATE;
