[Desktop Entry]
Name=Log File Viewer
Name[ar]=معاين السجلات 
Name[bg]=Преглед на системните дневници
Name[bn]=লগ ফাইল প্রদর্শন ব্যবস্থা
Name[br]=Gweler kerzhlevrioù
Name[ca]=Visualitzador de registres
Name[cs]=Prohlížeč souborů protokolů
Name[da]=Logfilsfremviser
Name[de]=Systemprotokollbetrachter
Name[el]=Παρακολούθηση αρχείων καταγραφών
Name[en_GB]=Log File Viewer
Name[es]=Visor de archivos de sucesos
Name[et]=Logifailide näitaja
Name[eu]=Egunkari-fitxategien ikustailea
Name[fi]=Lokitiedostojen katselin
Name[fr]=Visionneur de journaux système
Name[ga]=Amharcán Comhad Loga
Name[gl]=Visualizador de ficheiros de rexistro
Name[gu]=લોગ ફાઇલ દર્શક
Name[he]=מציג קבצי יומן
Name[hi]=लॉग फ़ाइल प्रदर्शक
Name[hu]=Naplómegjelenítő
Name[it]=Visualizzatore di file di registro
Name[ja]=ログ・ビューア
Name[ko]=로그 파일 보기
Name[lt]=Žurnalų failų peržiūra
Name[lv]=Žurnāla failu skatītājs
Name[ms]=Pelihat Fail Log
Name[nb]=Loggvisning
Name[nl]=Logbestand-weergave
Name[pa]=ਲਾਗ ਫਾਇਲ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka dzienników systemowych
Name[pt]=Visualizador de Ficheiros de Registo
Name[pt_BR]=Visualizador de arquivos de log
Name[ro]=Vizualizator fișier înregistrări
Name[ru]=Программа просмотра журналов
Name[sk]=Prehliadač systémových záznamov
Name[sl]=Pregledovalnik dnevnikov
Name[sr]=Прегледач системског дневника
Name[sv]=Loggfilsvisare
Name[ta]=பதிவு கோப்பு காட்டி
Name[tr]=Günlük Dosyası Görüntüleyicisi
Name[uk]=Перегляд журналів
Name[vi]=Bộ Xem Tập Tin Ghi Lưu
Name[zh_CN]=系统日志查看器
Name[zh_TW]=紀錄檔檢視器
Comment=View or monitor system log files
Comment[ar]=اعرض أو راقب ملفات سجلات النظام
Comment[bg]=Преглед или наблюдение системните дневници
Comment[bn]=সিস্টেম লগ ফাইল পড়ুন অথবা পর্যবেক্ষণ করুন
Comment[br]=Gwelout pe deurel evezh ouzh kerzhlevrioù ar reizhiad
Comment[ca]=Visualitza o fes un seguiment dels fitxers de registre del sistema
Comment[cs]=Prohlížet nebo sledovat soubory systémových protokolů
Comment[cy]=Gweld neu fonitro'r ffeiliau cofnod system
Comment[da]=Gennemse eller overvåg systemets logfiler
Comment[de]=Systemprotokolle anzeigen oder überwachen
Comment[el]=Εμφάνιση ή παρακολούθηση των αρχείων καταγραφής συστήματος
Comment[en_GB]=View or monitor system log files
Comment[es]=Vea o monitorice los archivos de sucesos del sistema
Comment[et]=Süsteemsete logifailide sirvimine või jälgimine
Comment[eu]=Ikusi edo monitorizatu sistemaren egunkari-fitxategiak
Comment[fa]=نمایش یا پایش پرونده‌های ثبت وقایع سیستم
Comment[fi]=Näytä ja tarkkaile järjestelmän lokitiedostoja
Comment[fr]=Afficher ou surveiller les journaux système
Comment[gl]=Ver ou monitorizar os ficheiros de rexistro do sistema
Comment[gu]=સિસ્ટમ લોગ ફાઈલો જુઓ અથવા મોનીટર કરો
Comment[he]=הצג או נטר את קבצי דו"ח מערכת
Comment[hi]=तंत्र लॉग फ़ाइल दिखाएँ व मॉनीटर करें
Comment[hu]=Rendszernapló-fájlok megtekintése vagy megfigyelése
Comment[it]=Visualizza o monitora i file di registro di sistema
Comment[ja]=システム・ログを表示したり監視します
Comment[ko]=시스템의 로그 파일을 보거나 상태 변화를 봅니다
Comment[lt]=Peržiūrėti ar stebėti sistemos žurnalų failus
Comment[lv]=Skatīt vai novērot sistēmas žurnāla failu
Comment[mk]=Прегледај или набљудувај системски лог датотеки
Comment[ms]=Lihat atau pantau fail log sistem
Comment[nb]=Vis eller overvåk systemets loggfiler
Comment[nl]=Systeemlogboeken bekijken
Comment[nn]=Vis eller overvak systemets loggfiler
Comment[pa]=ਸਿਸਟਮ ਲਾਗ ਫਾਇਲਾਂ ਵੇਖੋ ਜਾਂ ਨਿਗਰਾਨੀ ਕਰੋ
Comment[pl]=Wyświetlanie plików dzienników systemowych
Comment[pt]=Ver ou monitorizar ficheiros de registo do sistema
Comment[pt_BR]=Ver ou monitorar arquivos de log do sistema
Comment[ro]=Vizualizează sau monitorizează fișierele cu înregistrările de sistem
Comment[ru]=Просмотр и наблюдение за системными журналами
Comment[sk]=Zobraziť alebo sledovať súbory systémových záznamov
Comment[sl]=Pregledovanje ali nadzor sistemskih dnevniških datotek
Comment[sr]=Разгледа или пратити системске дневике
Comment[sv]=Visa eller övervaka systemloggfiler
Comment[ta]=கணினி பதிவு கோப்புகளை பார்வையிடு அல்லது கண்காணி
Comment[tr]=Sistem günlük dosyalarını göster ya da izle
Comment[uk]=Перегляд та контроль системних журналів
Comment[vi]=Xem hay theo dõi tập tin bản ghi hệ thống
Comment[zh_CN]=查看或监视系统日志文件
Comment[zh_TW]=顯示或監察系統日誌檔案
Exec=mate-system-log
Icon=logviewer
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;System;Monitor;
Keywords=MATE;monitor;view;system;log;files;logviewer;
OnlyShowIn=MATE;
X-MATE-DocPath=mate-system-log/mate-system-log.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-utils
X-MATE-Bugzilla-Component=logview
X-MATE-Bugzilla-Version=1.8.1
