[Desktop Entry]
Name=Power Statistics
Name[ar]=إحصاءات الطاقة
Name[bg]=Статистика на захранването
Name[bn]=বিদ্যুৎ সংক্রান্ত পরিসংখ্যান
Name[ca]=Estadístiques de l'energia
Name[cs]=Statistika napájení
Name[cy]=Ystadegau Pŵer
Name[da]=Strømstatistik
Name[de]=Energiestatistiken
Name[el]=Στατιστικά ενέργειας
Name[en_GB]=Power Statistics
Name[es]=Estadísticas de energía
Name[et]=Voolustatistika
Name[eu]=Energiaren estatistikak
Name[fi]=Virrankäytön tilastot
Name[fr]=Statistiques de l'alimentation
Name[ga]=Staitisticí Cumhachta
Name[gl]=Estatísticas de enerxía
Name[gu]=પાવર પરિસ્થિતિ
Name[he]=סטטיסטיקת חשמל
Name[hi]=शक्ति सांख्यिकी
Name[hu]=Energiastatisztika
Name[it]=Statistiche energetiche
Name[ja]=電源使用率の統計
Name[ko]=전원 통계
Name[lt]=Energijos statistika
Name[lv]=Barošanas statistika
Name[mk]=Статистики за енергијата
Name[ms]=Statistik Kuasa
Name[nb]=Strømstatistikk
Name[nl]=Spanningsstatistieken
Name[nn]=Straumstatistikk
Name[pa]=ਪਾਵਰ ਅੰਕੜੇ
Name[pl]=Statystyki zasilania
Name[pt]=Estatísticas de Energia
Name[pt_BR]=Estatísticas de energia
Name[ro]=Statistici consum
Name[ru]=История потребления
Name[sk]=Štatistika napájania
Name[sl]=Statistika porabe energije
Name[sr]=Дијаграм потрошње електричне енергије
Name[sv]=Strömstatistik
Name[ta]=மின் புள்ளிவிவரங்கள்
Name[tr]=Güç İstatistikleri
Name[uk]=Статистика живлення
Name[vi]=Thống kê điện năng
Name[zh_CN]=电源统计
Name[zh_TW]=電源統計
Comment=Observe power management
Comment[ar]=راجع إدارة الطاقة
Comment[bg]=Спазване на управлението на захранването
Comment[bn]=বিদ্যুৎ পরিচালনা নিরীক্ষণ করুন
Comment[ca]=Observeu la gestió d'energia
Comment[cs]=Sledovat správu napájení
Comment[cy]=Arsylwi'r rheoli pŵer
Comment[da]=Overvåg strømstyring
Comment[de]=Energiesparfunktionen überwachen
Comment[el]=Παρακολούθηση διαχείρισης ενέργειας
Comment[en_GB]=Observe power management
Comment[es]=Observe la gestión de energía
Comment[et]=Vooluhalduse vaatlemine
Comment[eu]=Begiratu energia kudeatzailea
Comment[fi]=Tarkkaile virrankäytön hallintaa
Comment[fr]=Surveille la gestion d'énergie
Comment[ga]=Breathnaigh ar bhainistíocht na cumhachta
Comment[gl]=Observar a xestión de enerxía
Comment[gu]=પાવર વ્યવસ્થાપનનું નીરિક્ષણ કરો
Comment[he]=צפה בניהול צריכת החשמל
Comment[hi]=शक्ति प्रबंधन निरीक्षण करें
Comment[hu]=Energiagazdálkodás megfigyelése
Comment[it]=Osserva la gestione dell'alimentazione
Comment[ja]=電源管理を監視します
Comment[ko]=전원 관리 관찰
Comment[lt]=Stebėkite energijos valdymą
Comment[lv]=Pārlūkot barošanas pārvaldību
Comment[mk]=Надгледувај го менаџментот на енергијата
Comment[ms]=Memerhati pengurusan kuasa
Comment[nb]=Overvåk strømstyring
Comment[nl]=Energiebeheer observeren
Comment[nn]=Overvak straumstyring
Comment[pa]=ਪਾਵਰ ਪਰਬੰਧ ਨਿਗਰਾਨੀ
Comment[pl]=Podgląd zarządzania zasilaniem
Comment[pt]=Observar a gestão de energia
Comment[pt_BR]=Observe o gerenciamento de energia
Comment[ro]=Examinează administrarea consumului
Comment[ru]=Обзор системы управления питанием
Comment[sk]=Pozorovať správu napájania
Comment[sl]=Opazovanje upravljanja porabe energije
Comment[sr]=Посматрање потрошње електричне енергије
Comment[sv]=Observera strömhantering
Comment[ta]=மின் மேலாண்மையை அனுசரி
Comment[tr]=Güç yönetimini izle
Comment[uk]=Стеження за керування живленням
Comment[vi]=Theo dõi sự quản lý điện năng
Comment[zh_CN]=监控电源管理
Comment[zh_TW]=監控電源管理程式
Icon=mate-power-statistics
Exec=mate-power-statistics
Terminal=false
Type=Application
Categories=GTK;System;Monitor;
OnlyShowIn=MATE;
NoDisplay=false
StartupNotify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-power-manager
X-MATE-Bugzilla-Component=mate-power-statistics
X-MATE-Bugzilla-Version=1.8.1
X-Desktop-File-Install-Version=0.10
