[Desktop Entry]
Name=Search for Files...
Name[af]=Soek vir lêers...
Name[ar]=ابحث عن الملفات...
Name[bg]=Търсене за файлове…
Name[bn]=ফাইল অনুসন্ধান...
Name[br]=Klask restroù...
Name[ca]=Cerca fitxers...
Name[cs]=Hledat soubory…
Name[cy]=Chwilio am Ffeiliau...
Name[da]=Søg efter filer...
Name[de]=Nach Dateien suchen …
Name[el]=Αναζήτηση για αρχεία...
Name[en_GB]=Search for Files…
Name[eo]=Serĉi dosierojn...
Name[es]=Buscar archivos…
Name[et]=Otsi faile...
Name[eu]=Bilatu fitxategiak...
Name[fa]=جستجوی پرونده‌ها...
Name[fi]=Etsi tiedostoja…
Name[fr]=Rechercher des fichiers...
Name[ga]=Cuardaigh ar Chomhaid...
Name[gl]=Buscar ficheiros...
Name[gu]=ફાઈલો માટે શોધો...
Name[he]=חפש קבצים...
Name[hi]=फ़ाइलों हेतु ढूंढें...
Name[hr]=Tražite datoteke...
Name[hu]=Fájlok keresése…
Name[it]=Cerca file...
Name[ja]=ファイルの検索...
Name[ko]=파일 검색...
Name[lt]=Ieškoti failų...
Name[lv]=Meklēt failus...
Name[mk]=Барај датотеки...
Name[ms]=Gelintar Fail...
Name[nb]=Søk etter filer...
Name[nds]=Nah Dateien söken...
Name[nl]=Bestanden zoeken…
Name[nn]=Søk etter filer...
Name[pa]=ਫਾਇਲਾਂ ਦੀ ਖੋਜ...
Name[pl]=Wyszukaj pliki...
Name[pt]=Procurar Ficheiros...
Name[pt_BR]=Pesquisar por arquivos...
Name[ro]=Căutare fișiere...
Name[ru]=Искать файлы...
Name[sk]=Hľadať súbory...
Name[sl]=Poišči datoteke ...
Name[sr]=Тражи датотеке...
Name[sv]=Sök efter filer...
Name[ta]=கோப்புகளை தேடவும்...
Name[tr]=Dosya Ara...
Name[uk]=Пошук файлів...
Name[vi]=Tìm kiếm tập tin...
Name[zh_CN]=搜索文件...
Name[zh_TW]=搜尋檔案…
Comment=Locate documents and folders on this computer by name or content
Comment[af]=Vind dokumente of gidse om die rekenaar volgens naam of inhoud
Comment[ar]=حدد موقع المستندات والمجلدات على هذا الحاسوب بالاسم أو المحتوى
Comment[bg]=Намиране на документи и папки на този компютър по име или съдържание
Comment[bn]=নাম অথবা অন্তর্ভুক্ত বিষয় অনুসারে এই কম্পিউটারে ফাইল অথবা ফোল্ডার অনুসন্ধান করুন
Comment[br]=Lec'hiaduriñ an teulioù hag an teuliadoù war an urzhiataer-mañ dre anv pe dre endalc'had
Comment[ca]=Localitza documents i directoris en aquest ordinador pel nom o contingut
Comment[cs]=Najít dokumenty a složky v tomto počítači podle jména nebo obsahu
Comment[cy]=Lleoli dogfennau a phlygellau ar y cyfrifiadur hwn wrth eu henw neu eu cynnwys
Comment[da]=Find dokumenter og mapper på denne computer ved navn eller indhold
Comment[de]=Dateien und Ordner auf diesem Computer nach Namen oder Inhalt suchen
Comment[el]=Εντοπισμός εγγράφων και φακέλων σε αυτό τον υπολογιστή με βάση το όνομα ή το περιεχόμενο
Comment[en_GB]=Locate documents and folders on this computer by name or content
Comment[eo]=Trovi dokumentojn kaj dosierujojn en ĉi tiu komputilo laŭ nomo aŭ enhavo
Comment[es]=Encuentre documentos y carpetas en este equipo por nombre o por contenido
Comment[et]=Selles arvutis asuvate dokumentide ja kataloogide asukoha leidmine nende nime või sisu põhjal
Comment[eu]=Lokalizatu dokumentuak eta karpetak ordenagailu honetan izen edo edukiaren arabera
Comment[fa]=پیدا کردن نوشتارها و پوشه‌های موجود در این کامپیوتر با استفاده از نام یا محتوای آنها
Comment[fi]=Etsi asiakirjoja tai kansioita tietokoneelta nimen tai sisällön perusteella
Comment[fr]=Localiser les documents et dossiers de cet ordinateur par leur nom ou leur contenu
Comment[gl]=Localizar documentos e cartafoles neste computador por nome ou por contido
Comment[gu]=આ કમ્પ્યૂટર પર નામ અથવા સમાવિષ્ટ દ્વારા દસ્તાવેજો અને ફોલ્ડરો સ્થિત કરો
Comment[he]=אתר מסמכים ותיקיות במחשב זה לפי שם או תוכן
Comment[hi]=नाम व सामग्री के आधार पर इस कंप्यूटर पर दस्तावेज व फोल्डर लोकेट करें
Comment[hu]=Dokumentumok és mappák keresése név vagy tartalom szerint a számítógépen
Comment[it]=Individua documenti e cartelle in questo computer per nome o contenuto
Comment[ja]=このコンピュータから名前や内容でドキュメントとフォルダの場所を特定します
Comment[ko]=이 컴퓨터의 문서나 폴더를 이름이나 내용으로 찾습니다
Comment[lt]=Rasti kompiuteryje esančius dokumentus pagal pavadinimą ar turinį
Comment[lv]=Meklē datorā mapes un failus pēc to nosaukumiem un satura
Comment[mk]=Лоцирај ги документите и папките на овој компјутер по име или содржина
Comment[ms]=Cari dokumen dan folder pada komputer ini berdasarkan nama atau kandungan
Comment[nb]=Finn dokumenter og mapper på denne datamaskinen etter navn eller innhold
Comment[nl]=Documenten en mappen vinden op naam of inhoud
Comment[nn]=Finn dokument og mapper på denne datamaskinen etter namn eller innhald
Comment[pa]=ਇਹ ਕੰਪਿਊਟਰ ਉੱਤੇ ਦਸਤਾਵੇਜ਼ ਅਤੇ ਫੋਲਡਰਾਂ ਨੂੰ ਨਾਂ ਜਾਂ ਪਰਸੰਗ ਮੁਤਾਬਕ ਲੱਭੋ
Comment[pl]=Wyszukuje dokumenty i katalogi na komputerze po nazwie lub treści
Comment[pt]=Localize documentos e pastas neste computador por nome ou conteúdo
Comment[pt_BR]=Localizar documentos e pastas neste computador por nome ou conteúdo
Comment[ro]=Găsiți documente și dosare pe acest calculator după nume sau conținut
Comment[ru]=Искать документы и папки на этом компьютере по имени или по содержанию
Comment[sk]=Vyhľadať dokumenty a priečinky na tomto počítači podľa názvu alebo obsahu
Comment[sl]=Krajevno iskanje dokumentov in map po imenu ali vsebini
Comment[sr]=Пронаћи документе или директоријуме на рачунару помићу имена или садржаја
Comment[sv]=Lokalisera dokument och mappar på denna dator efter namn eller innehåll
Comment[ta]=இந்த கணினியில் உள்ள ஆவணங்கள் அல்லது அடைவுகளை பெயராலோ உள்ளடக்கத்தாலோ கண்டுபிடிக்கவும்
Comment[tr]=Bu bilgisayardaki dökümanları ve dizinleri ada veya içeriğe göre konumlandır
Comment[uk]=Шукати документи та теки на цьому комп'ютері за назвою чи змістом
Comment[vi]=Trên máy tính này, tìm tài liệu và thư mục theo tên hay nội dung
Comment[zh_CN]=按照名称或内容定位此计算机中的文档和文件夹
Comment[zh_TW]=以名稱或內容尋找此電腦中的文件及資料夾
Exec=mate-search-tool
Icon=system-search
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;Core;
Keywords=MATE;search;files;locate;documents;folders;computer;name;content;find;tool;
OnlyShowIn=MATE;
X-MATE-DocPath=mate-search-tool/mate-search-tool.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-utils
X-MATE-Bugzilla-Component=gsearchtool
