[Desktop Entry]
Name=Network Proxy
Name[af]=Netwerk instaner
Name[ar]=وسيط الشبكة
Name[az]=Şəbəkə Vəkil Vericisi
Name[bg]=Мрежов сървър-посредник
Name[bn]=নেটওয়ার্ক প্রক্সি
Name[br]=Proksi ar rouedad
Name[bs]=Mrežni proxy
Name[ca]=Servidor intermediari de xarxa
Name[cs]=Proxy sítě
Name[cy]=Dirprwy Rhwydwaith
Name[da]=Netværksproxy
Name[de]=Netzwerk-Proxy
Name[el]=Διαμεσολαβητής δικτύου
Name[en_GB]=Network Proxy
Name[es]=Proxy de la red
Name[et]=Võrgu proksi
Name[eu]=Sareko proxy-a
Name[fa]=پیشکار شبکه
Name[fi]=Välipalvelin
Name[fr]=Serveur mandataire
Name[ga]=Seachfhreastalaí Líonra
Name[gl]=Proxy da rede
Name[gu]=નેટવર્ક પ્રોક્સી
Name[he]=מתווך רשת
Name[hi]=नेटवर्क प्रॉक्सी
Name[hr]=Posrednički mrežni poslužitelj - proxy
Name[hu]=Hálózati proxy
Name[is]=Netsel
Name[it]=Proxy di rete
Name[ja]=ネットワークのプロキシ
Name[ko]=네트워크 프록시
Name[lt]=Tarpinis tinklo serveris
Name[lv]=Tīkla starpniekserveris
Name[mk]=Мрежен прокси
Name[mn]=Сүлжээ-итгэмжлэгч
Name[ms]=Proksi Rangkaian
Name[nb]=Nettverksproxy
Name[nds]=Netwark-Proxy
Name[nl]=Netwerkproxy
Name[nn]=Mellomtenar i nettverket
Name[pa]=ਨੈੱਟਵਰਕ ਪਰਾਕਸੀ
Name[pl]=Pośrednik sieciowy
Name[pt]=Proxy de Rede
Name[pt_BR]=Proxy da rede
Name[ro]=Proxy rețea
Name[ru]=Сетевая прокси-служба
Name[sk]=Sieťové proxy
Name[sl]=Omrežni posredovalni strežnik
Name[sr]=Мрежни посредник
Name[sv]=Nätverksproxyserver
Name[ta]=வலையமைப்பு பிரதிநிதி.
Name[tr]=Ağ Vekili
Name[uk]=Служба проксі
Name[uz]=Tarmoq proksisi
Name[vi]=Ủy nhiệm mạng
Name[zh_CN]=网络代理
Name[zh_TW]=代理伺服器
Comment=Set your network proxy preferences
Comment[af]=Stel jou voorkeure in vir netwerkinstaanbedieners
Comment[ar]=اضبط خيارات وسيط شبكتك
Comment[bg]=Настройки на мрежовия сървър-посредник
Comment[bn]=নেটওয়ার্ক প্রক্সি সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[ca]=Establiu les preferències del servidor intermediari de xarxa
Comment[cs]=Nastaví proxy sítě
Comment[cy]=Gosod eich hoffterau dirprwy rhwydwaith
Comment[da]=Sæt dine indstillinger for netværksproxy
Comment[de]=Legen Sie hier Ihre Netzwerk-Proxy-Einstellungen fest
Comment[el]=Καθορισμός προτιμήσεων διαμεσολαβητή δικτύου
Comment[en_GB]=Set your network proxy preferences
Comment[es]=Establezca sus preferencias del proxy de la red
Comment[et]=Võrguproksi eelistuste seadmine
Comment[eu]=Sareko proxy-aren hobespenak ezartzen ditu
Comment[fa]=ترجیحات پیشکار شبکه‌تان تنظیم کنید
Comment[fi]=Muuta välipalvelinasetuksia
Comment[fr]=Définir vos préférences de serveur mandataire (proxy)
Comment[ga]=Socraigh do chuid sainroghanna sheachfhreastalaí líonra
Comment[gl]=Estabeleza as súas preferencias do proxy da rede
Comment[gu]=તમારા નેટવર્ક પ્રોક્સીની પસંદગીઓ સુયોજિત કરો
Comment[he]=הגדרת העדפות מתווך הרשת
Comment[hi]=नेटवर्क प्रॉक्सी वरीयताएँ सेट करें
Comment[hr]=Postavi vlastite prilagodbe posredničkog mrežnog poslužitelja
Comment[hu]=Hálózati proxy beállításai
Comment[it]=Imposta le preferenze del proxy di rete
Comment[ja]=お使いのネットワーク・プロキシを設定します
Comment[ko]=네트워크 프록시를 설정합니다
Comment[lt]=Nurodyti tarpinio tinklo serverio nustatymus
Comment[lv]=Mainīt tīkla starpniekservera iestatījumus
Comment[mk]=Поставете ги вашите преференци за мрежниот proxy
Comment[mn]=Сүлжээ-итгэмжлэгчийн тохируулгыг хийх
Comment[ms]=Tetapkan keutamaan proksi rangkaian anda
Comment[nb]=Sett dine brukervalg for nettverksproxy
Comment[nds]=Netwark-Proxy-Instellens setten
Comment[nl]=Netwerkproxy-voorkeuren instellen
Comment[nn]=Sett opp instillingane for mellomtenar i nettverket
Comment[pa]=ਆਪਣੀ ਨੈੱਟਵਰਕ ਪਰਾਕਸੀ ਪਸੰਦ ਦਿਓ
Comment[pl]=Ustawianie preferencji pośrednika sieciowego
Comment[pt]=Definir as suas preferências do proxy de rede
Comment[pt_BR]=Defina suas preferências do proxy da rede
Comment[ro]=Opțiuni proxy rețea
Comment[ru]=Диалог настройки прокси-серверов
Comment[sk]=Nastaviť predvoľby vášho sieťového proxy
Comment[sl]=Možnosti posredovalnega strežnika omrežja
Comment[sr]=Подесите поставке мрежног посредника
Comment[sv]=Ställ in dina inställningar för nätverksproxyserver
Comment[ta]=உங்கள் பிணைய பதிலாள் முன்னுரிமைகளை அமை
Comment[tr]=Ağ vekil tercihlerini ayarlayın
Comment[uk]=Діалог налаштовування проксі-сервера
Comment[vi]=Đặt tùy thích máy phục vụ ủy nhiệm mạng cho bạn.
Comment[zh_CN]=设置您的网络代理首选项
Comment[zh_TW]=設定代理伺服器
Exec=mate-network-properties
Icon=mate-network-properties
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;
Keywords=mate-control-center;MATE;network;http;socks;proxy;
OnlyShowIn=MATE;
