[Desktop Entry]
Name=Startup Applications
Name[ar]=تطبيقات بدء التشغيل
Name[bg]=Автоматично стартирани програми
Name[bn]=স্টার্টআপ অ্যাপ্লিকেশন
Name[br]=Arloadoù loc'hañ
Name[ca]=Aplicacions d'inici
Name[cs]=Aplikace spouštěné při přihlášení
Name[da]=Opstartsprogrammer
Name[de]=Startprogramme
Name[el]=Προγράμματα εκκίνησης
Name[en_GB]=Startup Applications
Name[en_US]=Startup Applications
Name[eo]=Komencaj aplikaĵoj
Name[es]=Aplicaciones al inicio
Name[et]=Käivitatavad rakendused
Name[eu]=Abioko aplikazioak
Name[fi]=Käynnistettävät ohjelmat
Name[fr]=Applications au démarrage
Name[fy]=Opstart Applikaasjes
Name[ga]=Feidhmchláir Tosaithe
Name[gl]=Aplicativos de inicio
Name[gu]=શરૂઆતી કાર્યક્રમો
Name[he]=יישומי ההפעלה
Name[hi]=आरंभन अनुप्रयोग
Name[hu]=Indítópult
Name[it]=Applicazioni d'avvio
Name[ja]=自動起動するアプリ
Name[kk]=Іске қосылатын қолданбалар
Name[ko]= 시작 프로그램
Name[lt]=Paleidžiamos programos
Name[lv]=Starta lietotnes
Name[ms]=Aplkasi Permulaan
Name[nb]=Oppstartsprogrammer
Name[nds]=Systemstartprogramme
Name[nl]=Opstart-toepassingen
Name[nn]=Oppstartsprogram
Name[pa]=ਸ਼ੁਰੂਆਤੀ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Programy startowe
Name[pt]=Aplicações de arranque automático
Name[pt_BR]=Aplicativos de sessão
Name[ro]=Aplicații pornite după autentificare
Name[ru]=Запускаемые приложения
Name[sk]=Programy spúšťané pri štarte
Name[sl]=Začetni programi
Name[sr]=Програми по учитавању
Name[sv]=Uppstartsprogram
Name[ta]=துவக்க பயன்பாடுகள்
Name[tr]=Başlangıç Uygulamaları
Name[uk]=Програми, що запускаються
Name[vi]=Ứng dụng Khởi chạy
Name[zh_CN]=启动应用程序
Name[zh_TW]=啟動應用程式
Comment=Choose what applications to start when you log in
Comment[ar]=اختر التطبيقات التي تريد تشغيلها عند ولوجك
Comment[bg]=Изберете програмите, които да се стартират при влизането ви в системата
Comment[bn]=লগ-ইন করার সময় কোন অ্যাপ্লিকেশনটি শুরু করা হবে তা নির্বাচন করুন
Comment[br]=Diuziñ arloadoù da lañsañ er gevreadur
Comment[ca]=Trieu quines aplicacions voleu que s'iniciïn en entrar
Comment[cs]=Vybere aplikace, které se mají spouštět při přihlášení
Comment[da]=Vælg hvilke programmer som skal startes når du logger ind
Comment[de]=Wählen Sie, welche Anwendungen gestartet werden, wenn Sie sich anmelden
Comment[el]=Επιλέξτε τα προγράμματα που θα εκκινούνται όταν συνδέεστε στο σύστημα
Comment[en_GB]=Choose what applications to start when you log in
Comment[en_US]=Choose what applications to start when you log in
Comment[eo]=Elektu kiujn aplikaĵojn startigi kiam vi ensalutas.
Comment[es]=Elija qué aplicaciones iniciar al iniciar la sesión
Comment[et]=Sisselogimisel käivitatavate rakenduste valimine
Comment[eu]=Aukeratu zein aplikazio abiarazi saioa-hasten duzunean
Comment[fi]=Valitse sisäänkirjauduttaessa käynnistettävät ohjelmat
Comment[fr]=Choisir les applications à lancer à la connexion
Comment[fy]=Kies hokker applikaasjes start wurden by oanmelden
Comment[ga]=Roghnaigh na feidhmchláir le tosú agus ag logáil isteach
Comment[gl]=Seleccione que aplicativos iniciaranse coa sesión
Comment[gu]=જ્યારે તમે પ્રવેશો તો શરૂ કરવા માટે ક્યા કાર્યક્મો જોઇએ છે તેને પસંદ કરો
Comment[he]=בחירת אילו יישומים יופעלו בעת כניסת המשתמש
Comment[hi]=चुनें कि कौन सा अनुप्रयोग शुरू करना है जब लॉगिन हों
Comment[hu]=A bejelentkezéskor elindítandó alkalmazások kiválasztása
Comment[it]=Sceglie quali applicazioni avviare quando si esegue l'accesso
Comment[ja]=ログインした後に起動するアプリケーションを選択します
Comment[kk]=Сіз жүйеге кіргенде қандай қолданбалар автоматты түрде іске қосылатынын таңдаңыз
Comment[ko]=로그인할 때 어떤 프로그램을 시작할 지 고릅니다
Comment[lt]=Pasirinkite, kokias programas paleisti jums prisijungiant
Comment[lv]=Izvēlieties, kādas programmas jūs vēlaties palaist piesakoties
Comment[ms]=Pilih apakah aplikasi yang hendak dimulakan bila anda mendaftar masuk
Comment[nb]=Velg programmer som skal startes når du logger inn
Comment[nl]=Toepassingen kiezen die bij aanmelden opgestart worden
Comment[nn]=Vel kva for program du vil starta når du loggar inn
Comment[pa]=ਚੁਣੋ ਕਿ ਕਿਹੜੀਆਂ ਐਪਲੀਕੇਸ਼ਨਾਂ ਤੁਸੀਂ ਲਾਗਇਨ ਸਮੇਂ ਸ਼ੁਰੂ ਕਰਨੀਆਂ ਚਾਹੁੰਦੇ ਹੋ
Comment[pl]=Wybór programów do uruchomienia podczas logowania
Comment[pt]=Escolha os programas que devem ser iniciados ao iniciar sessão
Comment[pt_BR]=Escolha quais os aplicativos que irão iniciar quando você logar-se
Comment[ro]=Alegeți ce aplicații să fie pornite după ce vă autentificați
Comment[ru]=Выберите приложения, запускаемые при входе в сеанс
Comment[sk]=Vyberte programy, ktoré sa majú spustiť po prihlásení
Comment[sl]=Izbor programov za samodejni zagon ob prijavi
Comment[sr]=Изаберите програме за покретање по пријави на рачунар
Comment[sv]=Välj vilka program att starta när du loggar in
Comment[ta]=நீங்கள் புகுபதிவு செய்யும் போது எந்த பயன்பாடுகள் தேர்ந்தெடுக்கப்படவேண்டும்
Comment[tr]=Giriş yaptığınızda hangi uygulamaların başlatılacağını seçin
Comment[uk]=Оберіть програми, що запускаються при вході у сеанс
Comment[vi]=Hãy chọn những ứng dụng nào cần khởi chạy khi bạn đăng nhập
Comment[zh_CN]=选择登录时要启动的应用程序
Comment[zh_TW]=選擇在您登入時要啟動哪些應用程式
Exec=mate-session-properties
Icon=mate-session-properties
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-MATE-PersonalSettings;
Keywords=MATE;session;properties;applications;login;start;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-session
X-MATE-Bugzilla-Component=mate-session-properties
X-MATE-Bugzilla-Version=1.8.1
