[Desktop Entry]
Name=About Me
Name[af]=Aangaande myself
Name[ar]=عنّي
Name[bg]=За мен
Name[bn]=আমার পরিচয়
Name[br]=Diwar ma fenn
Name[ca]=Quant a mi
Name[cs]=O mně
Name[cy]=Amdana I
Name[da]=Om mig
Name[de]=Persönliche Angaben
Name[el]=Προσωπικά
Name[en_GB]=About Me
Name[eo]=Pri mi
Name[es]=Acerca de mí
Name[et]=Minust
Name[eu]=Datu pertsonalak
Name[fa]=‌درباره‌ی من
Name[fi]=Omat tiedot
Name[fr]=À propos de moi
Name[ga]=Maidir Liom
Name[gl]=Sobre min
Name[gu]=મારા વિશે
Name[he]=על אודותי
Name[hi]=के बारे में
Name[hr]=O meni
Name[hu]=A névjegyem
Name[is]=Um mig
Name[it]=Informazioni utente
Name[ja]=個人情報
Name[kk]=Мен туралы
Name[ko]=내 정보
Name[lt]=Apie mane
Name[lv]=Par mani
Name[mk]=За мене
Name[mn]=Миний тухай
Name[ms]=Perihal Saya
Name[nb]=Om meg
Name[nds]=Över mik
Name[nl]=Over mij
Name[nn]=Om meg
Name[pa]=ਮੇਰੇ ਬਾਰੇ
Name[pl]=O mnie
Name[pt]=Sobre Mim
Name[pt_BR]=Sobre mim
Name[ro]=Despre mine
Name[ru]=Обо мне
Name[sk]=O mne
Name[sl]=O meni
Name[sr]=О мени
Name[sv]=Om mig
Name[ta]=என்னை பற்றி
Name[tr]=Benim Hakkımda
Name[uk]=Про мене
Name[uz]=Men haqimda
Name[vi]=Tự giới thiệu
Name[zh_CN]=关于我
Name[zh_TW]=關於自己
Comment=Set your personal information
Comment[af]=Stel u persoonlike inligting
Comment[ar]=اضبط معلوماتك الشخصية
Comment[bg]=Настройване на личната ви информация
Comment[bn]=আপনার ব্যক্তিগত তথ্য লিখুন
Comment[br]=Lakaat ho titouroù personelaet
Comment[ca]=Establiu la vostra informació personal
Comment[cs]=Nastavte své osobní informace
Comment[cy]=Gosodwch eich gwybodaeth bersonol
Comment[da]=Angiv dine personlige informationer
Comment[de]=Stellen Sie hier Ihre persönlichen Informationen ein
Comment[el]=Καθορισμός των προσωπικών σας στοιχείων
Comment[en_GB]=Set your personal information
Comment[eo]=Agordi vian personan informon:
Comment[es]=Escriba su información personal
Comment[et]=Isiklike andmete määramine
Comment[eu]=Ezarri zure datu pertsonalak
Comment[fa]=اطلاعات شخصی خود را تنظیم کنید
Comment[fi]=Aseta omat tiedot
Comment[fr]=Définir vos informations personnelles
Comment[ga]=Socraigh do chuid eolais phearsanta
Comment[gl]=Poña a súa información persoal
Comment[gu]=તમારી ખાનગી જાણકારી સુયોજિત કરો
Comment[he]=עריכת המידע האישי שלך
Comment[hi]=निजी सूचना सेट करें
Comment[hr]=Postavi svoje osobne podatke
Comment[hu]=Személyes információk beállítása
Comment[it]=Imposta le proprie informazioni personali
Comment[ja]=自分の情報を管理します
Comment[ko]=개인 정보를 설정합니다
Comment[lt]=Nurodyti asmeninę informaciją
Comment[lv]=Iestatīt personisko informāciju
Comment[mk]=Поставете лични информации
Comment[mn]=MIME-төрлийн мэдээлэл
Comment[ms]=Tetapkan maklumat peribadi anda
Comment[nb]=Oppgi din personlige informasjon
Comment[nds]=Giv dien persönliche Informatschoonen in
Comment[nl]=Persoonlijk informatie instellen
Comment[nn]=Legg inn personleg informasjon
Comment[pa]=ਆਪਣੀ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਦਿਓ
Comment[pl]=Ustawienie informacji osobistych
Comment[pt]=Definir a sua informação pessoal
Comment[pt_BR]=Definir suas informações pessoais
Comment[ro]=Definiți informațiile personale
Comment[ru]=Ваши персональные данные
Comment[sk]=Nastaviť vaše osobné informácie
Comment[sl]=Nastavite svoje osebne podatke
Comment[sr]=Поставите ваше личне податке
Comment[sv]=Ställ in din personliga information
Comment[ta]=உங்கள் தனிப்பட்ட தகவலை அமைக்கவும்
Comment[tr]=Kişisel bilgilerinizi ayarlayın
Comment[uk]=Встановлення персональної інформації
Comment[uz]=Shaxsiy maʼlumotlaringiz
Comment[vi]=Lập thông tin cá nhân
Comment[zh_CN]=设置您的个人信息
Comment[zh_TW]=設定您的個人資訊
Exec=mate-about-me
Icon=user-info
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-MATE-PersonalSettings;
Keywords=mate-control-center;MATE;personal;information;
OnlyShowIn=MATE;
