[Desktop Entry]
Name=Network
Name[af]=Netwerk
Name[ar]=شبكة
Name[bg]=Мрежа
Name[bs]=Mreža
Name[ca]=Xarxa
Name[cs]=Síť
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[en_GB]=Network
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fi]=Verkko
Name[fr]=Réseau
Name[gl]=Red
Name[gu]=નેટવર્ક
Name[he]=רשת
Name[hi]=संजाल
Name[hu]=Hálózat
Name[it]=Rete
Name[ja]=ネットワーク
Name[kk]=Желі
Name[km]=បណ្ដាញ
Name[ko]=네트워크
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mk]=Мрежа
Name[ms]=Rangkaian
Name[nb]=Nettverk
Name[nl]=Netwerk
Name[nn]=Nettverk
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ru]=Сеть
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sr]=Мрежа
Name[sv]=Nätverk
Name[ta]=பிணையம்
Name[tg]=Шабака
Name[tr]=Ağ
Name[uk]=Мережа
Name[vi]=Mạng
Name[zh_CN]=网络
Name[zh_TW]=網路
Comment=Manage your network connections
Comment[af]=Bestuur u netwerkverbindings
Comment[ar]=إدارة اتصالات الشبكة
Comment[bg]=Управление на мрежовите връзки
Comment[bs]=Upravljajte svojim mrežnim vezama
Comment[ca]=Gestioneu les connexions de xarxa
Comment[cs]=Spravovat svá připojení k síti
Comment[da]=Håndter dine netværksforbindelser
Comment[de]=Verwaltung der Netzwerkverbindungen
Comment[el]=Διαχείριση των συνδέσεων δικτύου
Comment[en_GB]=Manage your network connections
Comment[eo]=Kontroli viajn retkonektojn
Comment[es]=Gestione sus conexiones de red
Comment[et]=Võrguühenduste haldamine
Comment[eu]=Kudeatu sareko konexioak
Comment[fa]=اتصال‌های شبکه خود را مدیریت کنید
Comment[fi]=Hallitse verkkoyhteyksiä
Comment[fr]=Gérer vos connexions réseau
Comment[gl]=Xestione as súas conexións de rede
Comment[gu]=તમારા નેટવર્ક જોડાણોને સંચાલિત કરો
Comment[he]=ניהול חיבורי הרשת שלך
Comment[hi]=अपना संजाल कनेक्शन नियंत्रित करें
Comment[hu]=Hálózati kapcsolatok kezelése
Comment[it]=Gestisce le connessioni di rete
Comment[ja]=ネットワーク接続を管理
Comment[kk]=Желілік байланыстарыңызды басқару
Comment[km]=គ្រប់គ្រង​ការ​តភ្ជាប់បណ្ដាញ​របស់​អ្នក
Comment[ko]=네트워크 연결을 관리합니다
Comment[lt]=Tvarkyti tinklo ryšius
Comment[lv]=Pārvaldiet savus tīkla savienojumus
Comment[mk]=Менаџирајте со Вашите мрежни врски
Comment[ms]=Urus sambungan-sambungan rangkaian anda
Comment[nb]=Håndter dine nettverksforbindelser
Comment[nl]=Uw netwerkverbindingen beheren
Comment[nn]=Handsam nettverkstilkoplingane
Comment[pa]=ਆਪਣੇ ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨਾਂ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Zarządzanie połączeniami sieciowymi
Comment[pt]=Controle as suas ligações de rede
Comment[pt_BR]=Controle suas conexões de rede
Comment[ru]=Управление сетевыми соединениями
Comment[sk]=Spravuje vaše sieťové pripojenia
Comment[sl]=Upravljanje omrežnih povezav
Comment[sr]=Управљајте вашим везама мреже
Comment[sv]=Hantera dina nätverksanslutningar
Comment[ta]=உங்களது பிணையத்தின் இணைப்புகளை மேலாண்மை செய்க
Comment[tr]=Ağ bağlantılarınızı yönetin
Comment[uk]=Організуйте ваші мережеві з'єднання
Comment[vi]=Quản lý kết nối mạng
Comment[zh_CN]=管理网络连接
Comment[zh_TW]=管理您的網路連線
Icon=nm-device-wireless
Exec=nm-applet
Terminal=false
Type=Application
NoDisplay=true
NotShowIn=KDE;GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=nm-applet
X-GNOME-UsesNotifications=true
