[Desktop Entry]
Name=Notification Daemon
Name[ar]=عفريت التنبيهات
Name[bg]=Демон за уведомления
Name[bn]=ঘোষণা ডেমন
Name[bs]=Demon za obavještenja
Name[ca]=Dimoni de notificació
Name[cs]=Démon zprostředkující oznámení
Name[da]=Påmindelsesdæmon
Name[de]=Benachrichtigungsdienst
Name[el]=Υπηρεσία ειδοποίησης
Name[en_GB]=Notification Daemon
Name[eo]=Sciiga Demono
Name[es]=Demonio de notificación
Name[et]=Teavitamisdeemon
Name[eu]=Jakinarazpenen daemon-a
Name[fa]=شبح هشدارها
Name[fi]=Ilmoituspalvelu
Name[fr]=Service de notification
Name[gl]=Daemon de notificacións
Name[gu]=સૂચના ડિમન
Name[he]=סוכן ההתרעות
Name[hi]=सूचना डेमन
Name[hu]=Értesítésdémon
Name[it]=Demone notifiche
Name[ja]=通知デーモン
Name[km]=ដេមិន​ជូន​ដំណឹង
Name[ko]=알림 데몬
Name[lt]=Pranešimų tarnyba
Name[lv]=Paziņojumu dēmons
Name[ms]=Daemon Notifikasi
Name[nb]=Varslingstjeneste
Name[nl]=Notificatie-service
Name[nn]=Varslingsteneste
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਡੈਮਨ
Name[pl]=Usługa powiadamiania
Name[pt]=Daemon de Notificação
Name[pt_BR]=Daemon de Notificação
Name[ro]=Serviciu de notificare
Name[ru]=Служба уведомлений
Name[sk]=Démon pre oznámenia
Name[sl]=Ozadnji program za prikazovanje obvestil
Name[sr]=Демон обавештења
Name[sv]=Notifieringsdemon
Name[ta]=அறிவிப்பு கிங்கரன்
Name[tr]=Bildirim sihirbazı
Name[uk]=Служба сповіщення
Name[vi]=Daemon Thông báo
Name[zh_CN]=通知守护进程
Name[zh_TW]=通知伺服程式
Comment=Display notifications
Comment[af]=Wys kennisgewings
Comment[ar]=اعرض التنبيهات
Comment[bg]=Показване на уведомленията
Comment[bn]=ঘোষণা প্রদর্শনী
Comment[bs]=Prikaži obavještenja
Comment[ca]=Mostra les notificacions
Comment[cs]=Zobrazuje oznámení
Comment[da]=Vis påmindelser
Comment[de]=Benachrichtigungen anzeigen
Comment[el]=Εμφάνιση ειδοποιήσεων
Comment[en_GB]=Display notifications
Comment[eo]=Montri sciigojn
Comment[es]=Mostrar notificaciones
Comment[et]=Teateid kuvatakse
Comment[eu]=Bistaratu jakinarazpenak
Comment[fa]=نمایش هشدارها
Comment[fi]=Näytä ilmoitukset
Comment[fr]=Afficher les notifications
Comment[gl]=Mostrar notificacións
Comment[gu]=સૂચનાઓને દર્શાવો
Comment[he]=הצגת התרעות
Comment[hi]=सूचनाएँ प्रदर्शित करें
Comment[hu]=Értesítések megjelenítése
Comment[it]=Mostre le notifiche
Comment[ja]=通知を表示する
Comment[km]=បង្ហាញ​ការ​ជូនដំណឹង
Comment[ko]=알림 표시
Comment[lt]=Rodyti pranešimus
Comment[lv]=Rādīt paziņojumus
Comment[ms]=Papar notifikasi-notifikasi
Comment[nb]=Vis varsler
Comment[nl]=Notificaties tonen
Comment[nn]=Vis varslingar
Comment[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਵੇਖਾਓ
Comment[pl]=Wyświetlanie powiadomień
Comment[pt]=Apresentar notificações
Comment[pt_BR]=Exibir notificações
Comment[ro]=Afișează notificări
Comment[ru]=Показывать уведомления
Comment[sk]=Zobrazuje oznámenia
Comment[sl]=Prikaži obvestila
Comment[sr]=Приказ обавештења
Comment[sv]=Visa notifieringar
Comment[ta]=அறிவிப்புகளை காட்டவும்
Comment[tr]=Bildirimleri görüntüle
Comment[uk]=показати сповіщення
Comment[vi]=Hiện thông báo
Comment[zh_CN]=显示通知
Comment[zh_TW]=顯示通知
Exec=/usr/libexec/notification-daemon
Terminal=false
Type=Application
NoDisplay=true
