[Desktop Entry]
Name=gedit
Name[af]=gedit
Name[ar]=محرر جنوم
Name[az]=gedit
Name[bg]=gedit
Name[bn]=জিএডিট
Name[br]=gedit
Name[bs]=gedit
Name[ca]=gedit
Name[cs]=gedit
Name[da]=gedit
Name[de]=gedit
Name[el]=gedit
Name[en_GB]=gedit
Name[eo]=Gedit
Name[es]=gedit
Name[et]=gedit
Name[eu]=gedit
Name[fa]=gedit
Name[fi]=gedit
Name[fr]=gedit
Name[ga]=gedit
Name[gl]=gedit
Name[gu]=gedit
Name[he]=gedit
Name[hi]=जीएडिट
Name[hu]=gedit
Name[is]=gedit
Name[it]=gedit
Name[ja]=gedit
Name[kk]=gedit
Name[km]=gedit
Name[ko]=지에디트
Name[lt]=gedit
Name[lv]=gedit
Name[mk]=gedit
Name[mn]=Гедит
Name[ms]=gedit
Name[nb]=gedit
Name[nds]=gedit
Name[nl]=gedit
Name[nn]=gedit
Name[pa]=ਜੀ-ਸੰਪਾਦਕ
Name[pl]=gedit
Name[pt]=gedit
Name[pt_BR]=gedit
Name[ro]=gedit
Name[ru]=gedit
Name[sk]=gedit
Name[sl]=gedit
Name[sr]=Вилењакова бележница
Name[sv]=gedit
Name[ta]=gedit
Name[tr]=gedit
Name[uk]=gedit
Name[vi]=gedit
Name[zh_CN]=gedit
Name[zh_TW]=gedit
GenericName=Text Editor
GenericName[af]=Teksredigeerder
GenericName[ar]=محرّر النصوص
GenericName[az]=Mətn Editoru
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[br]=Embanner testennoù
GenericName[bs]=Uređivač teksta
GenericName[ca]=Editor de text
GenericName[cs]=Textový editor
GenericName[cy]=Golygydd Testun
GenericName[da]=Tekstredigering
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de textos
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu-editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstimuokkain
GenericName[fr]=Éditeur de texte
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de texto
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Textaritill
GenericName[it]=Editor di testo
GenericName[ja]=テキストエディター
GenericName[kk]=Мәтін түзетушісі
GenericName[km]=កម្មវិធី​​កែសម្រួល​​អត្ថបទ
GenericName[ko]=텍스트 편집기
GenericName[lt]=Tekstų redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mk]=Уредувач за текст
GenericName[mn]=Текст боловсруулагч
GenericName[ms]=Editor Teks
GenericName[nb]=Tekstredigering
GenericName[nds]=Textbewarker
GenericName[nl]=Teksteditor
GenericName[nn]=Tekstredigering
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[rw]=Umuhinduzi w'inyandiko
GenericName[sk]=Textový editor
GenericName[sl]=Gedit - urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sv]=Textredigerare
GenericName[ta]=உரை திருத்தி 
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Текстовий редактор
GenericName[vi]=Soạn thảo văn bản
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
Comment=Edit text files
Comment[af]=Redigeer tekslêers
Comment[ar]=حرّر الملفات النصية
Comment[az]=Mətn fayllarını redaktə edin
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা করুন
Comment[br]=Embann restroù testenn
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Editeu fitxers de text
Comment[cs]=Upravovat textové soubory
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Redigér tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en_GB]=Edit text files
Comment[eo]=Redakti tekstdosierojn
Comment[es]=Edite archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=עריכת קובצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstualnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[is]=Sýsla með textaskrár
Comment[it]=Modifica file di testo
Comment[ja]=テキスト形式のファイルを編集します
Comment[kk]=Мәтіндік файлдарды түзету
Comment[km]=កែ​សម្រួល​ឯកសារ​អត្ថបទ
Comment[ko]=텍스트 파일을 편집합니다
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta datnes
Comment[mk]=Уредувај текстуални датотеки
Comment[mn]=Текст файл боловсруулах
Comment[ms]=Edit fail teks
Comment[nb]=Rediger tekstfiler
Comment[nds]=Textdateien bewarken
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fișiere text
Comment[ru]=Редактор текстовых файлов
Comment[sk]=Úprava textových súborov
Comment[sl]=Enostavni urejevalnik besedilnih datotek
Comment[sr]=Уређујте текстуалне документе
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும் 
Comment[tr]=Metin dosyalarını düzenle
Comment[uk]=Редактор текстових файлів
Comment[vi]=Soạn thảo tập tin văn bản
Comment[zh_CN]=编辑文本文件
Comment[zh_TW]=編輯文字檔
Exec=gedit %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GNOME;GTK;Utility;TextEditor;
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-FullName=gedit Text Editor
X-GNOME-FullName[af]=gedit-teksredigeerder
X-GNOME-FullName[ar]=محرّر النصوص ج‌إدِت
X-GNOME-FullName[bg]=Текстов редактор (gedit)
X-GNOME-FullName[bn]=জিএডিট টেক্সট সম্পাদক
X-GNOME-FullName[bs]=gedit Editor Teksta
X-GNOME-FullName[ca]=Editor de text gedit
X-GNOME-FullName[cs]=Textový editor gedit
X-GNOME-FullName[da]=Tekstredigeringen gedit
X-GNOME-FullName[de]=gedit Texteditor
X-GNOME-FullName[el]=Επεξεργαστής κειμένου gedit
X-GNOME-FullName[en_GB]=gedit Text Editor
X-GNOME-FullName[eo]=Gedit tekstredaktilo
X-GNOME-FullName[es]=Editor de textos gedit
X-GNOME-FullName[et]=Tekstiredaktor gedit
X-GNOME-FullName[eu]=gedit testu-editorea
X-GNOME-FullName[fa]=ویرایشگر متن gedit
X-GNOME-FullName[fi]=gedit-tekstimuokkain
X-GNOME-FullName[fr]=Éditeur de texte gedit
X-GNOME-FullName[ga]=Eagarthóir Téacs gedit
X-GNOME-FullName[gl]=Editor de texto gedit
X-GNOME-FullName[gu]=gedit લખાણ સંપાદક
X-GNOME-FullName[he]=עורך הטקסט gedit
X-GNOME-FullName[hi]=जीएडिट पाठ संपादक
X-GNOME-FullName[hu]=gedit szövegszerkesztő
X-GNOME-FullName[is]=gedit textaritill
X-GNOME-FullName[it]=Editor di testo gedit
X-GNOME-FullName[ja]=gedit テキストエディター
X-GNOME-FullName[kk]=gedit мәтіндік түзетушісі
X-GNOME-FullName[km]=កម្មវិធី​កែសម្រួល​អត្ថបទ gedit
X-GNOME-FullName[ko]=지에디트 텍스트 편집기
X-GNOME-FullName[lt]=gedit tekstų redaktorius
X-GNOME-FullName[lv]=gedit teksta redaktors
X-GNOME-FullName[mk]=gedit уредувачот на текст
X-GNOME-FullName[nb]=gedit tekstredigering
X-GNOME-FullName[nds]=gedit textbewarker
X-GNOME-FullName[nl]=gedit-teksteditor
X-GNOME-FullName[pa]=ਜੀ-ਸੰਪਾਦਕ ਟੈਕਸਟ ਐਡੀਟਰ
X-GNOME-FullName[pl]=Edytor tekstu gedit
X-GNOME-FullName[pt]=Editor de texto gedit
X-GNOME-FullName[pt_BR]=Editor de texto gedit
X-GNOME-FullName[ro]=Editor de text gedit
X-GNOME-FullName[ru]=Текстовый редактор gedit
X-GNOME-FullName[sk]=gedit - textový editor
X-GNOME-FullName[sl]=Gedit urejevalnik besedil 
X-GNOME-FullName[sr]=Вилењакова бележница — уређивач текста
X-GNOME-FullName[sv]=gedit textredigerare
X-GNOME-FullName[ta]=gedit உரை திருத்தி 
X-GNOME-FullName[tr]=gedit Metin Düzenleyici
X-GNOME-FullName[uk]=Текстовий редактор gedit
X-GNOME-FullName[vi]=Bộ soạn thảo văn bản gedit
X-GNOME-FullName[zh_CN]=gedit 文本编辑器
X-GNOME-FullName[zh_TW]=gedit 文字編輯器
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.18.2
X-GNOME-Bugzilla-ExtraInfoScript=/usr/libexec/gedit/gedit-bugreport.sh
Actions=new-window;new-document;
Keywords=Text;Editor;
Keywords[ar]=محرّر;نصوص;نص;
Keywords[bg]=Текст;Редактор;Text;Editor;
Keywords[bs]=Tekst; Uređivač;
Keywords[ca]=Text;Editor;
Keywords[cs]=text;editor;
Keywords[da]=Tekst;Tekstredigering;Redigering;
Keywords[de]=Text;Editor;
Keywords[el]=Text;Editor;κείμενο;επεξεργαστής;
Keywords[eo]=Teksto;Redaktilo;
Keywords[es]=texto;editor;
Keywords[et]=tekst;redaktor;toimeti;tekstitoimeti;
Keywords[eu]=Testua;Editorea;
Keywords[fa]=متن;ویرایشگر;
Keywords[fi]=Text;Editor;teksti;muokkain;editori;tekstieditori;tekstimuokkain;
Keywords[fr]=texte;éditeur;
Keywords[ga]=Téacs;Eagarthóir;
Keywords[gl]=Texto;Editor;
Keywords[gu]=લખાણ;સંપાદક;
Keywords[he]=טקסט;עורך;עריכה;
Keywords[hi]=पाठ;संपादक;
Keywords[hu]=Szöveg;Szerkesztő;
Keywords[is]=Texti;Ritill;Hreintexti;Skrifa;
Keywords[it]=Editor;Testo;Text;
Keywords[ja]=Text;Editor;テキスト;エディター;
Keywords[kk]=Мәтін;Түзеткіш;
Keywords[ko]=Text;Editor;텍스트;편집기;
Keywords[lt]=Tekstas;Redaktorius;
Keywords[lv]=Teksts;Redaktors;
Keywords[nb]=Tekst;Redigering;
Keywords[nl]=Text;Tekst;Editor;teksteditor;tekstverwerker;
Keywords[pa]=ਸ਼ਬਦ;ਟੈਕਸਟ;ਸੰਪਾਦਕ;ਐਡੀਟਰ;
Keywords[pl]=Tekst;Edytor;
Keywords[pt]=Texto;Editor;
Keywords[pt_BR]=Texto;Editor;
Keywords[ro]=Text;Editor;
Keywords[ru]=Текст;Редактор;
Keywords[sk]=Text;Editor;
Keywords[sl]=urejevalnik;besedilo;gedit;
Keywords[sr]=уређивач;текст;
Keywords[sv]=Text;Redigerare;
Keywords[ta]=உரை;திருத்தி;
Keywords[tr]=Metin;Düzenleyici;
Keywords[uk]=Текст;Редактор;
Keywords[vi]=Text;văn;bản;van;ban;Editor;sửa;sua;soạn;thảo;soan;thao;chữ;chu;
Keywords[zh_CN]=文本;编辑器;Text;Editor;
Keywords[zh_TW]=Text;Editor;文字;編輯器;
DBusActivatable=true

[Desktop Action new-window]
Name=Open a New Window
Name[ar]=افتح نافذة جديدة
Name[bg]=Отваряне на нов прозорец
Name[bs]=Otvori novi prozor
Name[ca]=Obre una finestra nova
Name[cs]=Otevřít nové okno
Name[da]=Åbn et nyt vindue
Name[de]=Ein neues Hauptfenster öffnen
Name[el]=Άνοιγμα νέου παραθύρου
Name[en_GB]=Open a New Window
Name[eo]=Malfermi novan fenestron
Name[es]=Abrir una ventana nueva
Name[et]=Uue akna avamine
Name[eu]=Ireki leiho berrira
Name[fa]=باز کردن یک پنجره جدید
Name[fi]=Avaa uusi ikkuna
Name[fr]=Ouvrir une nouvelle fenêtre
Name[ga]=Oscail Fuinneog Nua
Name[gl]=Abrir unha nova xanela
Name[gu]=નવી વિન્ડોને ખોલો
Name[he]=פתיחת חלון חדש
Name[hi]=एक नया विंडो खोलें
Name[hu]=Új ablak megnyitása
Name[is]=Opna nýjan glugga
Name[it]=Apri una nuova finestra
Name[ja]=新しいウィンドウを開く
Name[kk]=Жаңа терезені ашу
Name[km]=បើក​បង្អួច​ថ្មី
Name[ko]=새 창 열기
Name[lt]=Atverti naują langą
Name[lv]=Atvērt jaunu logu
Name[nb]=Åpne et nytt vindu
Name[nl]=Nieuw venster openen
Name[nn]=Opna eit nytt vindauge
Name[pa]=ਇੱਕ ਨਵੀਂ ਵਿੰਡੋ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz nowe okno
Name[pt]=Abrir uma nova janela
Name[pt_BR]=Abrir uma nova janela
Name[ro]=Deschide o fereastră nouă
Name[ru]=Открыть новое окно
Name[sk]=Otvoriť nové okno
Name[sl]=Odpri novo okno
Name[sr]=Отворите нови прозор
Name[sv]=Öppna ett nytt fönster
Name[ta]=புதிய சாளரத்தை திற
Name[tr]=Yeni Pencere Aç
Name[uk]=Створити нове вікно
Name[vi]=Mở cửa sổ mới
Name[zh_CN]=打开新窗口
Name[zh_TW]=開啟新的視窗
Exec=gedit --new-window

[Desktop Action new-document]
Name=Open a New Document
Name[ar]=افتح مستندا جديدا
Name[bg]=Отваряне на нов документ
Name[bs]=Otvori novi dokument
Name[ca]=Obre un document nou
Name[cs]=Otevřít nový dokument
Name[da]=Åbn et nyt dokument
Name[de]=Ein neues Dokument anlegen
Name[el]=Άνοιγμα νέου εγγράφου
Name[en_GB]=Open a New Document
Name[eo]=Malfermi novan dokumenton
Name[es]=Abrir un documento nuevo
Name[et]=Uue dokumendi avamine
Name[eu]=Ireki dokumentu berria
Name[fa]=باز کزدن یک سند جدید
Name[fi]=Avaa uusi asiakirja
Name[fr]=Ouvrir un nouveau document
Name[ga]=Oscail Cáipéis Nua
Name[gl]=Abrir un novo documento
Name[gu]=નવાં દસ્તાવેજને ખોલો
Name[he]=יצירת מסמך חדש
Name[hi]=एक नया दस्तावेज़ बनाएँ
Name[hu]=Új dokumentum megnyitása
Name[is]=Opna nýtt skjal
Name[it]=Apri un nuovo documento
Name[ja]=新しいドキュメントを作成
Name[kk]=Жаңа құжатты ашу
Name[km]=បើក​ឯកសារ​ថ្មី
Name[ko]=새 문서 열기
Name[lt]=Atverti naują dokumentą
Name[lv]=Atvērt jaunu dokumentu
Name[nb]=Åpne et nytt dokument
Name[nl]=Nieuw document openen
Name[nn]=Opna eit nytt dokument
Name[pa]=ਇੱਕ ਨਵਾਂ ਦਸਤਾਵੇਜ਼ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz nowy dokument
Name[pt]=Abrir um novo documento
Name[pt_BR]=Abrir um novo documento
Name[ro]=Deschide un document nou
Name[ru]=Открыть новый документ
Name[sk]=Otvoriť nový dokument
Name[sl]=Odpri nov dokument
Name[sr]=Отворите нови документ
Name[sv]=Öppna ett nytt dokument
Name[ta]=ஒரு புதிய ஆவணத்தை திற
Name[tr]=Yeni Belge Aç
Name[uk]=Відкрити новий документ
Name[vi]=Mở tài liệu mới
Name[zh_CN]=打开新文档
Name[zh_TW]=開啟新的文件
Exec=gedit --new-document
