[Desktop Entry]
Name=Network Login
Name[af]=Netwerkaanmelding
Name[ar]=ولوج الشبكة
Name[bg]=Мрежов вход
Name[bs]=Mrežna prijava
Name[ca]=Inici de sessió de la xarxa
Name[cs]=Přihlášení do sítě
Name[da]=Netværksindlogning
Name[de]=Netzwerkanmeldung
Name[el]=Σύνδεση δικτύου
Name[eo]=Reta ensaluto
Name[es]=Inicio de sesión de la red
Name[eu]=Sareko saio-hasiera
Name[fa]=ورود به سیستم شبکه
Name[fi]=Verkkokirjautuminen
Name[fr]=Identification réseau
Name[ga]=Logáil Isteach Líonra
Name[gl]=Inicio de sesión en rede
Name[he]=Network Login
Name[hu]=Hálózati bejelentkezés
Name[is]=Innskráning á neti
Name[it]=Accesso di rete
Name[ja]=ネットワークログイン
Name[kk]=Желілік кіру
Name[ko]=네트워크 로그인
Name[lt]=Tinklo prisijungimas
Name[lv]=Tīkla ierakstīšanās
Name[nb]=Nettverkspålogging
Name[nl]=Netwerkaanmelding
Name[pa]=ਨੈੱਟਵਰਕ ਗਲਤੀ
Name[pl]=Logowanie do sieci
Name[pt]=Sessão na rede
Name[pt_BR]=Sessão de Rede
Name[ro]=Logare prin rețea
Name[ru]=Сетевая авторизация
Name[sk]=Sieťové prihlásenie
Name[sl]=Omrežna prijava
Name[sr]=Мрежна пријава
Name[sv]=Nätverksinloggning
Name[tg]=Воридшавии шабакавӣ
Name[tr]=Ağ Girişi
Name[uk]=Мережевий вхід
Name[vi]=Đăng nhập mạng
Name[zh_CN]=网络登录
Name[zh_TW]=網路登入
Type=Application
Exec=gapplication launch org.gnome.Shell.PortalHelper
DBusActivatable=true
NoDisplay=true
Icon=network-workgroup
StartupNotify=true
OnlyShowIn=GNOME;
