[Desktop Entry]
Name=Contacts
Name[af]=Kontakte
Name[ar]=المتراسلين
Name[bg]=Контакти
Name[bs]=Kontakti
Name[ca]=Contactes
Name[cs]=Kontakty
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[en_GB]=Contacts
Name[eo]=Kontaktaro
Name[es]=Contactos
Name[et]=Kontaktid
Name[eu]=Kontaktuak
Name[fa]=آشناها
Name[fi]=Yhteystiedot
Name[fr]=Contacts
Name[ga]=Teagmhálacha
Name[gl]=Contactos
Name[gu]=સંપર્કો
Name[he]=אנשי קשר
Name[hi]=संपर्क
Name[hu]=Névjegyek
Name[is]=Tengiliðir
Name[it]=Contatti
Name[ja]=連絡先
Name[kk]=Контакттар
Name[ko]=연락처
Name[lt]=Kontaktai
Name[lv]=Kontakti
Name[mk]=Контакти
Name[nb]=Kontakter
Name[nl]=Contacten
Name[pa]=ਸੰਪਰਕ
Name[pl]=Kontakty
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[sk]=Kontakty
Name[sl]=Stiki
Name[sr]=Контакти
Name[sv]=Kontakter
Name[ta]=தொடர்புகள்
Name[tg]=Тамосҳо
Name[tr]=Kişiler
Name[uk]=Контакти
Name[vi]=Danh bạ
Name[zh_CN]=联系人
Name[zh_TW]=連絡人
Comment=A contacts manager for GNOME
Comment[ar]=مدير متراسلين لجنوم
Comment[bg]=Управление на контактите за GNOME
Comment[bs]=Kontakt upravitelj za GNOME
Comment[ca]=Un gestor de contactes per al GNOME
Comment[cs]=Správa kontaktů pro GNOME
Comment[da]=En kontaktpersonhåndtering til GNOME
Comment[de]=Eine Kontaktverwaltung für GNOME
Comment[el]=Ένας διαχειριστής επαφών του GNOME.
Comment[eo]=Kontakto-mastrumilo por GNOME
Comment[es]=Un gestor de contactos para GNOME
Comment[eu]=Kontaktuen kudeatzailea GNOMErako
Comment[fa]=یک مدیریت آشناها برای گنوم
Comment[fi]=Yhteystietojen hallinta Gnomelle
Comment[fr]=Un gestionnaire de contacts pour GNOME
Comment[gl]=Un xestor de contactos para GNOME
Comment[gu]=GNOME માટે સંપર્ક સંચાલક
Comment[he]=מנהל אנשי קשר עבור GNOME
Comment[hi]=गनोम के लिए संपर्क प्रबंधक
Comment[hu]=Egy névjegykezelő a GNOME-hoz
Comment[is]=Tengiliðastjórnun fyrir GNOME
Comment[it]=Un gestore di contatti per GNOME
Comment[ja]=GNOME の連絡先管理ツール
Comment[kk]=GNOME үшін контакттарды басқарушысы
Comment[ko]=— 그놈용 연락처 관리자
Comment[lt]=GNOME kontaktų valdymo programa
Comment[lv]=GNOME kontaktu pārvaldnieks
Comment[nb]=Håndtering av kontakter for GNOME
Comment[nl]=Contactenbeheer voor de Gnome-werkomgeving
Comment[pa]=ਗਨੋਮ ਲਈ ਸੰਪਰਕ ਮੈਨੇਜਰ
Comment[pl]=Menedżer kontaktów dla środowiska GNOME
Comment[pt]=Um gestor de contactos para o GNOME
Comment[pt_BR]=Um gerenciador de contatos para o GNOME
Comment[ru]=Менеджер контактов для GNOME
Comment[sk]=Správca kontaktov pre prostredie GNOME
Comment[sl]=Upravljalnik stikov namizja GNOME
Comment[sr]=Гномов управник контактима
Comment[sv]=En kontakthanterare för GNOME
Comment[ta]=GNOME க்கான தொடர்பு நிர்வாகி
Comment[tg]=Мудири тамосҳо барои GNOME
Comment[tr]=GNOME için Adres Defteri Yöneticisi
Comment[uk]=Керування контактами для GNOME
Comment[vi]=Bộ quản lý danh bạ dành cho GNOME
Comment[zh_CN]=GNOME 的联系人管理工具
Comment[zh_TW]=GNOME 的連絡人管理員
Keywords=friends;address book;
Keywords[ar]=أصدقاء;دفتر عناوين;
Keywords[bg]=приятели;адресник;контакт;friends;address book;contact;
Keywords[bs]=friends;address book;prijatelji;adresar;
Keywords[ca]=amics;llibreta d'adreces;
Keywords[cs]=přátelé;přítelkyně;kamarádi;kamarádky;adresář;
Keywords[da]=venner;adressebog;
Keywords[de]=Freunde;Adressbuch;Kontakte;
Keywords[el]=φίλοι;βιβλίο διευθύνσεων;επαφές;friends;address book;
Keywords[eo]=amikoj;adreslibro;
Keywords[es]=amigos;libreta de direcciones;
Keywords[et]=sõbrad;aadressiraamat;kontaktid;telefoniraamat;
Keywords[eu]=lagunak;helbide-liburua;
Keywords[fa]=friends;address book;دوستان;دفترچه نشانی;
Keywords[fi]=friends;address book;kaverit;ystävät;henkilöt;osoitekirja;
Keywords[fr]=amis;carnet d'adresses;
Keywords[ga]=cairde;leabhar seoltaí;
Keywords[gl]=amigos;caderno de enderezos;
Keywords[gu]=મિત્રો;સરનામાંપુસ્તિકા;
Keywords[he]=חברים;פנקס כתובות;ספר כתובות;אנשי קשר;
Keywords[hi]=मित्रों;पता पुस्तिका;
Keywords[hu]=barátok;címjegyzék;
Keywords[is]=vinir;nafnaskrá;netfangaskrá;
Keywords[it]=contatti;amici;rubrica;
Keywords[ja]=friends;address book;友達;アドレス帳;contacts;
Keywords[kk]=достар;адрестік кітапша;
Keywords[ko]=friends;친구;address book;주소록;
Keywords[lt]=draugai;adresų knyga;
Keywords[lv]=draugi;adrešu grāmata;
Keywords[nb]=venner;adressebok;
Keywords[nl]=friends;address book;vrienden;kennissen;contactpersonen;contacten;personen;adressen;adresboek;
Keywords[pa]=ਦੋਸਤ;ਮਿੱਤਰ;ਐਡਰੈਸਬੁੱਕ;ਸਿਰਨਾਵਾਂ;friends;address book;
Keywords[pl]=przyjaciele;znajomi;książka adresowa;
Keywords[pt]=amigos;livro de endereços;
Keywords[pt_BR]=amigos;catálogo de endereços;
Keywords[ru]=друзья;адресная книга;
Keywords[sk]=priatelia;adresár kontaktov;
Keywords[sl]=prijatelji;imenik;stiki;naslovi;vizitka;
Keywords[sr]=пријатељи;адресар;
Keywords[sv]=vänner;adressbok;
Keywords[ta]=நண்பர்கள்;முகவரி புத்தகம்;
Keywords[tg]=дӯстон;китоби суроғаҳо;
Keywords[tr]=arkadaşlar;adres defteri;
Keywords[uk]=друзі;адресна книга;
Keywords[vi]=friends;bạn;bè;ban;be;danh;ba;bạ;address book;sổ;địa;chỉ;so;dia;chi;liên;lạc;lien;lac;
Keywords[zh_CN]=friends;address book;好友;朋友;通讯录;地址簿;
Keywords[zh_TW]=friends;address book;朋友;通訊錄;
Icon=x-office-address-book
Exec=gnome-contacts
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Office;ContactManagement;
OnlyShowIn=GNOME;Unity;
DBusActivatable=true
