[Desktop Entry]
Name=Pluma
Name[ar]=قلم
Name[bg]=Текстов редактор - Pluma
Name[ca]=Pluma
Name[cs]=Pluma
Name[da]=Pluma
Name[de]=Pluma
Name[el]=Pluma
Name[en_GB]=Pluma
Name[es]=Pluma
Name[fr]=Pluma
Name[gl]=Pluma
Name[he]=עורך הטקסט Pluma
Name[hr]=Pluma
Name[hu]=Pluma
Name[it]=Pluma
Name[ja]=Pluma
Name[ko]=플루마
Name[lt]=Pluma
Name[lv]=Pluma
Name[ms]=Pluma
Name[nl]=Pluma
Name[pl]=Pluma
Name[pt]=Pluma
Name[pt_BR]=Pluma
Name[ro]=Pluma
Name[ru]=Pluma
Name[sk]=Pluma
Name[sl]=Pluma
Name[sv]=Pluma
Name[tr]=Pluma
Name[uk]=Pluma
Name[zh_CN]=Pluma
Name[zh_TW]=Pluma
Comment=Edit text files
Comment[af]=Redigeer tekslêers
Comment[ar]=تحرير الملفات النّصية
Comment[az]=Mətn fayllarını redaktə edin
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা করুন
Comment[br]=Embann restroù testenn
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Editeu fitxers de text
Comment[cs]=Úprava textových souborů
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Rediger tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en_GB]=Edit text files
Comment[eo]=Redakti tekstajn dosierojn
Comment[es]=Edite archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=עריכת קובצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstualnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[it]=Modifica file di testo
Comment[ja]=テキスト形式のファイルを編集します
Comment[kk]=Мәтіндік файлдарды түзету
Comment[ko]=텍스트 파일을 편집합니다
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta failus
Comment[mk]=Уредувај текстуални датотеки
Comment[mn]=Текст файл боловсруулах
Comment[ms]=Sunting fail teks
Comment[nb]=Rediger tekstfiler
Comment[nds]=Textdateien bewarken
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fișiere text
Comment[ru]=Редактор текстовых файлов
Comment[sk]=Úprava textových súborov
Comment[sl]=Urejanje besedilnih datotek
Comment[sr]=Уређивач текстуалних докумената
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும்
Comment[tr]=Metin dosyalarını düzenle
Comment[uk]=Редактор текстових файлів
Comment[vi]=Soạn thảo tập tin văn bản
Comment[zh_CN]=编辑文本文件
Comment[zh_TW]=編輯文字檔
Exec=pluma %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GTK;Utility;TextEditor;
Keywords=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;
X-MATE-DocPath=pluma/pluma.xml
X-MATE-FullName=pluma Text Editor
X-MATE-FullName[ar]=محرّر النّصوص "قلم"
X-MATE-FullName[bg]=Текстов редактор (pluma)
X-MATE-FullName[bn]=জিএডিট টেক্সট সম্পাদক
X-MATE-FullName[ca]=Editor de text pluma
X-MATE-FullName[cs]=Textový editor pluma
X-MATE-FullName[da]=Tekstredigeringen pluma
X-MATE-FullName[de]=pluma Texteditor
X-MATE-FullName[el]=Επεξεργαστής κειμένου pluma
X-MATE-FullName[en_GB]=pluma Text Editor
X-MATE-FullName[es]=Editor de textos pluma
X-MATE-FullName[et]=Tekstiredaktor pluma
X-MATE-FullName[eu]=pluma testu-editorea
X-MATE-FullName[fi]=pluma-tekstimuokkain
X-MATE-FullName[fr]=Éditeur de texte pluma
X-MATE-FullName[gl]=Editor de texto pluma
X-MATE-FullName[gu]=pluma લખાણ સંપાદક
X-MATE-FullName[he]=עורך הטקסט pluma
X-MATE-FullName[hi]=जीएडिट पाठ संपादक
X-MATE-FullName[hr]=pluma uređivač teksta
X-MATE-FullName[hu]=pluma szövegszerkesztő
X-MATE-FullName[it]=Editor di testo pluma
X-MATE-FullName[ja]=pluma テキストエディタ
X-MATE-FullName[ko]=플루마 텍스트 편집기
X-MATE-FullName[lt]=pluma tekstų redaktorius
X-MATE-FullName[lv]=pluma teksta redaktors
X-MATE-FullName[ms]=Penyunting Teks pluma
X-MATE-FullName[nb]=pluma tekstredigering
X-MATE-FullName[nds]=pluma textbewarker
X-MATE-FullName[nl]=pluma-teksteditor
X-MATE-FullName[nn]=pluma skriveprogram
X-MATE-FullName[pa]=ਜੀ-ਸੰਪਾਦਕ ਟੈਕਸਟ ਐਡੀਟਰ
X-MATE-FullName[pl]=Edytor tekstu pluma
X-MATE-FullName[pt]=Editor de Pexto Pluma
X-MATE-FullName[pt_BR]=Editor de texto pluma
X-MATE-FullName[ro]=Editor de text pluma
X-MATE-FullName[ru]=Текстовый редактор pluma
X-MATE-FullName[sk]=textový editor pluma
X-MATE-FullName[sl]=Urejevalnik besedil Pluma
X-MATE-FullName[sr]=Вилењакова бележница за уређивање текста
X-MATE-FullName[sv]=Textredigeraren pluma
X-MATE-FullName[ta]=pluma உரை திருத்தி
X-MATE-FullName[tr]=pluma Metin Düzenleyici
X-MATE-FullName[uk]=Текстовий редактор pluma
X-MATE-FullName[zh_CN]=文本编辑器
X-MATE-FullName[zh_TW]=pluma 文字編輯器
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=Pluma
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.1
X-MATE-Bugzilla-ExtraInfoScript=/usr/libexec/pluma/pluma-bugreport.sh
