[Desktop Entry]
Name=PyAlaMode (2.8)
Comment=GUI Python Shell with Filling and editor windows
Exec=pyalamode-2.8
Icon=/usr/share/pixmaps/PyCrust.png
Terminal=false
Type=Application
Categories=Development;
