[Desktop Entry]
Name=Passwords and Keys
Name[ar]=كلمات السرِّ ومفاتيح التعمية
Name[bg]=Пароли и ключове
Name[bs]=Lozinke i ključevi
Name[ca]=Contrasenyes i claus
Name[cs]=Hesla a klíče
Name[da]=Kodeord og nøgler
Name[de]=Passwörter und Verschlüsselung
Name[el]=Κωδικοί πρόσβασης και κλειδιά
Name[en_GB]=Passwords and Keys
Name[eo]=Pasvortoj kaj ŝlosiloj
Name[es]=Contraseñas y claves
Name[et]=Paroolid ja võtmed
Name[eu]=Pasahitzak eta gakoak
Name[fi]=Salasanat ja salausavaimet
Name[fr]=Mots de passe et clés
Name[ga]=Focail Fhaire agus Eochracha
Name[gl]=Contrasinais e chaves de cifrado
Name[he]=ססמאות ומפתחות
Name[hi]=कूटशब्द व कुंजी
Name[hu]=Jelszavak és kulcsok
Name[it]=Password e chiavi
Name[ja]=パスワードと鍵
Name[kk]=Парольдер және кілттер
Name[ko]=암호 및 키
Name[lt]=Slaptažodžiai ir raktai
Name[lv]=Paroles un atslēgas
Name[mk]=Лозинки и клучеви
Name[nb]=Passord og nøkler
Name[nl]=Wachtwoorden en sleutels
Name[pa]=ਪਾਸਵਰਡ ਅਤੇ ਕੁੰਜੀਆਂ
Name[pl]=Hasła i klucze
Name[pt]=Senhas e chaves
Name[pt_BR]=Senhas e chaves
Name[ro]=Parole și chei
Name[ru]=Пароли и ключи
Name[sk]=Heslá a kľúče
Name[sl]=Gesla in ključi
Name[sr]=Лозинке и кључеви
Name[sv]=Lösenord och nycklar
Name[ta]=கடவுச்சொற்கள் மற்றும் விசைகள்
Name[tr]=Parolalar ve Anahtarlar
Name[uk]=Паролі й ключі
Name[vi]=Mật khẩu và Chìa khóa
Name[zh_CN]=密码和密钥
Name[zh_TW]=密碼及加密金鑰
Comment=Manage your passwords and encryption keys
Comment[ar]=أدِر كلمات سرّك ومفاتيح تعميتك
Comment[bg]=Управление на паролите и ключовете за шифриране
Comment[bn]=পাসওয়ার্ড ও এনক্রিপশন-কী পরিচালনা করুন
Comment[br]=Ardeiñ ho tremengerioù hag alc'hwezioù enrinegañ
Comment[bs]=Uredite vaše lozinke i ključeve šifrovanja
Comment[ca]=Gestioneu les contrasenyes i claus d'encriptació
Comment[cs]=Spravujte svá hesla a šifrovací klíče
Comment[da]=Håndtér dine kodeord og krypteringsnøgler
Comment[de]=Verwalten Sie Ihre Passwörter und Schlüssel
Comment[el]=Διαχειριστείτε τους κωδικούς πρόσβασης και τα κλειδιά κρυπτογράφησης σας
Comment[en_GB]=Manage your passwords and encryption keys
Comment[es]=Administre sus claves y contraseñas de cifrado
Comment[et]=Sinu paroolide ja krüptimisvõtmete haldamine
Comment[eu]=Kudeatu pasahitzak eta enkriptatze-gakoak
Comment[fi]=Hallitse salasanoja ja salausavaimia
Comment[fr]=Gérer vos mots de passe et vos clés de chiffrement
Comment[ga]=Bainistigh d'fhocail faire agus eochracha criptithe
Comment[gl]=Xestione os seus contrasinais e chaves de cifrado
Comment[gu]=તમારા પાસવર્ડો અને એનક્રિપ્શન કીઓની વ્યવસ્થા કરો
Comment[he]=ניהול הססמאות ומפתחות ההצפנה שלך
Comment[hi]=अपना कूटशब्द और गोपन कुंजी प्रबंधित करें
Comment[hu]=Jelszavak és titkosítási kulcsok kezelése
Comment[it]=Gestisce le proprie password e chiavi di cifratura
Comment[ja]=パスワードや暗号鍵を管理します
Comment[ko]=암호 및 암호화 키를 관리합니다
Comment[lt]=Tvarkyti Jūsų slaptažodžius ir šifravimo raktus
Comment[lv]=Pārvaldīt paroles un šifrēšanas atslēgas
Comment[mk]=Менаџирајте ги Вашите лозинки и клучеви за енкриптирање
Comment[nb]=Håndter dine passord og krypteringsnøkler
Comment[nl]=Uw cryptografische sleutels en wachtwoorden beheren
Comment[nn]=Handter dine passord og krypteringsnøklar
Comment[pa]=ਆਪਣੇ ਪਾਸਵਰਡ ਅਤੇ ਇੰਕ੍ਰਿਪਸ਼ਨ ਕੁੰਜੀਆਂ ਦੀ ਦੇਖਭਾਲ ਕਰੋ
Comment[pl]=Zarządzanie hasłami i kluczami szyfrującymi
Comment[pt]=Efetue a gestão das suas senhas e chaves de encriptação
Comment[pt_BR]=Gerenciar suas senhas e chaves de criptografia
Comment[ro]=Administează parolele și cheile de criptare
Comment[ru]=Управление паролями и ключами шифрования
Comment[sk]=Spravuje vaše heslá a šifrovacie kľúče
Comment[sl]=Upravljanje z gesli in šifrirnimi ključi
Comment[sr]=Уредите ваше лозинке и кључеве шифровања
Comment[sv]=Hantera dina lösenord och krypteringsnycklar
Comment[ta]=உங்கள் கடவுச்சொற்கள் மற்றும் மறையாக்க விசைகளை மேலாளுங்கள்
Comment[tr]=Parolalarınızı ve şifreleme anahtarlarınızı yönetin
Comment[uk]=Керування паролями та ключами шифрування
Comment[vi]=Quản lý các mật khẩu và khóa mã hóa của bạn
Comment[zh_CN]=管理您的密码和加密密钥
Comment[zh_TW]=管理密碼及金鑰
Keywords=keyring;encryption;security;sign;ssh;
Keywords[ar]=حلقة مفاتيح;تعمية;سرية;أمن;ssh;
Keywords[bs]=prsten ključeva;šifrovanje;bezbjednost;potpisivanje;ssh;
Keywords[ca]=anell de claus;encriptació;seguretat;signatura;ssh;
Keywords[cs]=klíčenka;klíč;šifrování;bezpečnost;zabezpečení;podpis;ssh;
Keywords[da]=nøglering;kryptering;sikkerhed;signering;underskrift;ssh;
Keywords[de]=Schlüsselbund;Verschlüsselung;Sicherheit;Signieren;SSH;
Keywords[el]=κλειδοθήκη;κρυπτογράφηση;ασφάλεια;υπογραφή;ssh;keyring;encryption;security;sign;
Keywords[en_GB]=keyring;encryption;security;sign;ssh;
Keywords[es]=depósito de claves;cifrado;seguridad;firma;ssh;
Keywords[et]=võtmerõngas;krüpto;krüpteering;turvalisus;salasõnad;paroolid;allkirjastamine;ssh;
Keywords[eu]=gako-sorta;enkriptazioa;segurtasuna;sinadura;ssh;
Keywords[fi]=keyring;encryption;security;sign;ssh;avainnippu;salaus;turvallisuus;tietoturva;kirjautuminen;
Keywords[fr]=trousseau;chiffrement;sécurité;signature;ssh;
Keywords[gl]=anel de chaves;cifrado;seguranza;sinatura;ssh;
Keywords[he]=קבוצת מפתחות;הצפנה;אבטחה;חתימה;חיבור מוצפן;
Keywords[hi]=कीरिंग; एन्क्रिप्शन; सुरक्षा; हस्ताक्षर; ssh;
Keywords[hu]=kulcstartó;titkosítás;biztonság;aláírás;ssh;
Keywords[it]=portachiavi;cifratura;cifrare;crittare;sicurezza;firma;firmare;ssh;
Keywords[ja]=keyring;encryption;security;sign;ssh;キーリング;鍵束;暗号化;セキュリティ;サイン;署名;gpg;pgp;
Keywords[ko]=keyring;키모음;키링;encryption;암호화;security;보안;sign;서명;사인;ssh;보안셸;보안쉘;
Keywords[lt]=raktinė;šifravimas;saugumas;pasirašyti;ssh;
Keywords[lv]=atslēgu saišķis;šifrēšana;drošība;parakstīt;ssh;
Keywords[nb]=nøkkelring;kryptering;sikkerhet;signering;ssh;
Keywords[nl]=sleutelbos;sleutelring;encryptie;versleuteling;beveiliging;ssh;
Keywords[pa]=ਛੱਲਾ;ਕੀਰਿੰਗ;ਇੰਕ੍ਰਿਪਸ਼ਨ;ਸੁਰੱਖਿਆ;ਸਾਈਨ;ssh;
Keywords[pl]=baza kluczy;hasło;hasła;szyfrowanie;zaszyfruj;bezpieczeństwo;zabezpieczenia;podpisywanie;podpis;podpisz;ssh;
Keywords[pt]=chaveiro;encriptação;segurança;assinar;ssh;
Keywords[pt_BR]=chaveiro;criptografia;segurança;assinar;ssh;
Keywords[ru]=связка;шифрование;безопасность;подпись;ssh;
Keywords[sk]=zväzok kľúčov;kľúče;šifrovanie;bezpečnosť;podpísať;ssh;
Keywords[sl]=zbirka ključev;šifriranje;varnost;podpisovanje;ssh;gesla;
Keywords[sr]=привезак кључева;шифровање;безбедност;приступ;безбедна шкољка;
Keywords[sv]=nyckelring;kryptering;säkerhet;signera;ssh;
Keywords[ta]=விசைவளையம்;குறியாக்கம்;பாதுகாப்பு;கையெழுத்திடல்;எஸ்எஸ்ஹெச்;
Keywords[tr]=anahtarlık;şifreleme;güvenlik;imza;ssh;
Keywords[uk]=в’язка;шифрування;безпека;підпис;ssh;
Keywords[vi]=keyring;vòng;khóa;vong;khoa;encryption;mã;hóa;ma;hoa;mật;security;an;ninh;bảo;mật;bao;mat;sign;ký;ky;ssh;pgp;gpg;
Keywords[zh_CN]=密钥环;加密;安全;签名;密码;keyring;encryption;security;sign;ssh;
Keywords[zh_TW]=keyring;encryption;security;sign;ssh;金鑰;加密;安全;簽署;
Exec=/usr/bin/seahorse
Terminal=false
Type=Application
Icon=seahorse
Categories=GNOME;GTK;Security;Utility;DesktopSettings;X-XFCE-SettingsDialog;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.18.0
X-GNOME-DocPath=seahorse/seahorse.xml
