[Desktop Entry]
Version=1.0
Name=Shotwell Viewer
GenericName=Photo Viewer
Exec=shotwell %f
Icon=shotwell
Terminal=false
NoDisplay=true
Type=Application
MimeType=image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-3fr;image/x-adobe-dng;image/x-arw;image/x-bay;image/x-bmp;image/x-canon-cr2;image/x-canon-crw;image/x-cap;image/x-cr2;image/x-crw;image/x-dcr;image/x-dcraw;image/x-dcs;image/x-dng;image/x-drf;image/x-eip;image/x-erf;image/x-fff;image/x-fuji-raf;image/x-iiq;image/x-k25;image/x-kdc;image/x-mef;image/x-minolta-mrw;image/x-mos;image/x-mrw;image/x-nef;image/x-nikon-nef;image/x-nrw;image/x-olympus-orf;image/x-orf;image/x-panasonic-raw;image/x-pef;image/x-pentax-pef;image/x-png;image/x-ptx;image/x-pxn;image/x-r3d;image/x-raf;image/x-raw;image/x-rw2;image/x-rwl;image/x-rwz;image/x-sigma-x3f;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;image/x-sr2;image/x-srf;image/x-x3f;
Categories=Graphics;Viewer;Photography;GNOME;GTK;
X-GIO-NoFuse=true
X-GNOME-Gettext-Domain=shotwell
X-GNOME-FullName=Shotwell Photo Viewer
X-GNOME-FullName[af]=Shotwell Photo Viewer
GenericName[af]=Photo Viewer
X-GNOME-FullName[ar]=Shotwell Photo Viewer
GenericName[ar]=Photo Viewer
X-GNOME-FullName[as]=Shotwell Photo Viewer
GenericName[as]=Photo Viewer
X-GNOME-FullName[ast]=Shotwell Photo Viewer
GenericName[ast]=Photo Viewer
X-GNOME-FullName[bg]=Shotwell Photo Viewer
GenericName[bg]=Photo Viewer
X-GNOME-FullName[bn]=Shotwell Photo Viewer
GenericName[bn]=Photo Viewer
X-GNOME-FullName[bn_IN]=Shotwell Photo Viewer
GenericName[bn_IN]=Photo Viewer
X-GNOME-FullName[bs]=Shotwell Photo Viewer
GenericName[bs]=Photo Viewer
X-GNOME-FullName[ca]=Shotwell Photo Viewer
GenericName[ca]=Photo Viewer
X-GNOME-FullName[cs]=Shotwell Photo Viewer
GenericName[cs]=Photo Viewer
X-GNOME-FullName[da]=Shotwell Photo Viewer
GenericName[da]=Photo Viewer
X-GNOME-FullName[de]=Shotwell Photo Viewer
GenericName[de]=Photo Viewer
X-GNOME-FullName[el]=Shotwell Photo Viewer
GenericName[el]=Photo Viewer
X-GNOME-FullName[en_GB]=Shotwell Photo Viewer
GenericName[en_GB]=Photo Viewer
X-GNOME-FullName[eo]=Shotwell Photo Viewer
GenericName[eo]=Photo Viewer
X-GNOME-FullName[es]=Shotwell Photo Viewer
GenericName[es]=Photo Viewer
X-GNOME-FullName[et]=Shotwell Photo Viewer
GenericName[et]=Photo Viewer
X-GNOME-FullName[eu]=Shotwell Photo Viewer
GenericName[eu]=Photo Viewer
X-GNOME-FullName[fi]=Shotwell Photo Viewer
GenericName[fi]=Photo Viewer
X-GNOME-FullName[fr]=Shotwell Photo Viewer
GenericName[fr]=Photo Viewer
X-GNOME-FullName[gd]=Shotwell Photo Viewer
GenericName[gd]=Photo Viewer
X-GNOME-FullName[gl]=Shotwell Photo Viewer
GenericName[gl]=Photo Viewer
X-GNOME-FullName[gu]=Shotwell Photo Viewer
GenericName[gu]=Photo Viewer
X-GNOME-FullName[he]=Shotwell Photo Viewer
GenericName[he]=Photo Viewer
X-GNOME-FullName[hi]=Shotwell Photo Viewer
GenericName[hi]=Photo Viewer
X-GNOME-FullName[hr]=Shotwell Photo Viewer
GenericName[hr]=Photo Viewer
X-GNOME-FullName[hu]=Shotwell Photo Viewer
GenericName[hu]=Photo Viewer
X-GNOME-FullName[ia]=Shotwell Photo Viewer
GenericName[ia]=Photo Viewer
X-GNOME-FullName[id]=Shotwell Photo Viewer
GenericName[id]=Photo Viewer
X-GNOME-FullName[it]=Shotwell Photo Viewer
GenericName[it]=Photo Viewer
X-GNOME-FullName[ja]=Shotwell Photo Viewer
GenericName[ja]=Photo Viewer
X-GNOME-FullName[kk]=Shotwell Photo Viewer
GenericName[kk]=Photo Viewer
X-GNOME-FullName[km]=Shotwell Photo Viewer
GenericName[km]=Photo Viewer
X-GNOME-FullName[kn]=Shotwell Photo Viewer
GenericName[kn]=Photo Viewer
X-GNOME-FullName[ko]=Shotwell Photo Viewer
GenericName[ko]=Photo Viewer
X-GNOME-FullName[ky]=Shotwell Photo Viewer
GenericName[ky]=Photo Viewer
X-GNOME-FullName[lt]=Shotwell Photo Viewer
GenericName[lt]=Photo Viewer
X-GNOME-FullName[lv]=Shotwell Photo Viewer
GenericName[lv]=Photo Viewer
X-GNOME-FullName[mk]=Shotwell Photo Viewer
GenericName[mk]=Photo Viewer
X-GNOME-FullName[ml]=Shotwell Photo Viewer
GenericName[ml]=Photo Viewer
X-GNOME-FullName[mr]=Shotwell Photo Viewer
GenericName[mr]=Photo Viewer
X-GNOME-FullName[nb]=Shotwell Photo Viewer
GenericName[nb]=Photo Viewer
X-GNOME-FullName[nl]=Shotwell Photo Viewer
GenericName[nl]=Photo Viewer
X-GNOME-FullName[nn]=Shotwell Photo Viewer
GenericName[nn]=Photo Viewer
X-GNOME-FullName[or]=Shotwell Photo Viewer
GenericName[or]=Photo Viewer
X-GNOME-FullName[pa]=Shotwell Photo Viewer
GenericName[pa]=Photo Viewer
X-GNOME-FullName[pl]=Shotwell Photo Viewer
GenericName[pl]=Photo Viewer
X-GNOME-FullName[pt]=Shotwell Photo Viewer
GenericName[pt]=Photo Viewer
X-GNOME-FullName[pt_BR]=Shotwell Photo Viewer
GenericName[pt_BR]=Photo Viewer
X-GNOME-FullName[ro]=Shotwell Photo Viewer
GenericName[ro]=Photo Viewer
X-GNOME-FullName[ru]=Shotwell Photo Viewer
GenericName[ru]=Photo Viewer
X-GNOME-FullName[sk]=Shotwell Photo Viewer
GenericName[sk]=Photo Viewer
X-GNOME-FullName[sl]=Shotwell Photo Viewer
GenericName[sl]=Photo Viewer
X-GNOME-FullName[sr]=Shotwell Photo Viewer
GenericName[sr]=Photo Viewer
X-GNOME-FullName[sr@latin]=Shotwell Photo Viewer
GenericName[sr@latin]=Photo Viewer
X-GNOME-FullName[sv]=Shotwell Photo Viewer
GenericName[sv]=Photo Viewer
X-GNOME-FullName[ta]=Shotwell Photo Viewer
GenericName[ta]=Photo Viewer
X-GNOME-FullName[te]=Shotwell Photo Viewer
GenericName[te]=Photo Viewer
X-GNOME-FullName[th]=Shotwell Photo Viewer
GenericName[th]=Photo Viewer
X-GNOME-FullName[tr]=Shotwell Photo Viewer
GenericName[tr]=Photo Viewer
X-GNOME-FullName[uk]=Shotwell Photo Viewer
GenericName[uk]=Photo Viewer
X-GNOME-FullName[vi]=Shotwell Photo Viewer
GenericName[vi]=Photo Viewer
X-GNOME-FullName[zh_CN]=Shotwell Photo Viewer
GenericName[zh_CN]=Photo Viewer
X-GNOME-FullName[zh_HK]=Shotwell Photo Viewer
GenericName[zh_HK]=Photo Viewer
X-GNOME-FullName[zh_TW]=Shotwell Photo Viewer
GenericName[zh_TW]=Photo Viewer
