[Desktop Entry]
Name=Thunar File Manager
Name[ar]=مدير الملفات ثونار
Name[bg]=Файлов мениджър Thunar
Name[bn]=Thunar ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers Thunar
Name[cs]=Správce souborů Thunar
Name[da]=Thunar-filhåndtering
Name[de]=Thunar-Dateiverwaltung
Name[el]=Διαχειριστής αρχείων Thunar
Name[en_GB]=Thunar File Manager
Name[eo]=Thunar dosier-administrilo
Name[es]=Gestor de archivos Thunar
Name[et]=Failihaldur Thunar
Name[eu]=Thunar fitxategi kudeatzailea
Name[fi]=Thunar-tiedostonhallinta
Name[fr]=Gestionnaire de fichiers Thunar
Name[gl]=Xestor de ficheiros Thunar
Name[he]=סייר קבצים Thunar
Name[hr]=Thunar Upravitelj Datoteka
Name[hu]=Thunar fájlkezelő
Name[is]=Thunar skráastjóri
Name[it]=Il gestore di file Thunar
Name[ja]=Thunar ファイルマネージャー
Name[kk]=Thunar файлдар басқарушысы
Name[ko]=투나 파일 관리자
Name[lt]=Thunar failų tvarkytuvė
Name[lv]=Thunar failu pārvaldnieks
Name[ms]=Pengurus Fail Thunar
Name[nb]=Thunar Filbehandler
Name[nl]=Thunar bestandbeheerder
Name[nn]=Thunar filhandsaming
Name[pa]=ਥੰਨਰ ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików Thunar
Name[pt]=Gestor de ficheiros Thunar
Name[pt_BR]=Gerenciador de arquivos Thunar
Name[ro]=Managerul de fișiere Thunar
Name[ru]=Файловый менеджер Thunar
Name[sk]=Správca súborov Thunar
Name[sr]=Тунар управник датотека
Name[sv]=Filhanteraren Thunar
Name[tr]=Thunar Dosya Yöneticisi
Name[uk]=Файловий менеджер Thunar
Name[vi]=Trình quản lý tập tin Thunar
Name[zh_CN]=Thunar 文件管理器
Name[zh_TW]=Thunar 檔案管理員
Comment=Browse the filesystem with the file manager
Comment[ar]=تصفح ملفات النظام بمدير الملفات
Comment[bg]=Преглед на файловата система с файловият мениджър
Comment[bn]=ফাইল ম্যানেজার দিয়ে ফাইলসিস্টেম ব্রাউজ করুন
Comment[ca]=Navega el sistema de fitxers amb el gestor de fitxers
Comment[cs]=Procházet systém souborů správcem souborů
Comment[da]=Gennemsøg filsystem med filhåndteringen
Comment[de]=Das Dateisystem in der Dateiverwaltung anzeigen
Comment[el]=Περιήγηση του συστήματος αρχείων με τον διαχειριστή αρχείων
Comment[en_GB]=Browse the filesystem with the file manager
Comment[eo]=Rigardu dosier-sistemon per dosier-administrilo
Comment[es]=Explore el sistema de archivos con el gestor de archivos
Comment[et]=Failisüsteemi lehitsemine kasutades failihaldurit
Comment[eu]=Fitxategi kudeatzaileaz fitxategi sistema arakatu
Comment[fi]=Selaa tiedostojärjestelmää tiedostonhallinnassa
Comment[fr]=Parcourir le système de fichiers avec le gestionnaire de fichiers
Comment[gl]=Explorar o sistema de ficheiros co xestor de ficheiros
Comment[he]=עיין במערכת הקבצים בעזרת סייר קבצים
Comment[hr]=Pregledaj datotečni sustav sa upraviteljem datoteka
Comment[hu]=A fájlrendszer böngészése a fájlkezelővel
Comment[is]=Vafra um skráarkerfið með skráarstjóranum
Comment[it]=Esplora il file system con il gestore di file
Comment[ja]=ファイルマネージャーでファイルシステムを参照します
Comment[kk]=Файлдық жүйені файлдар басқарушысымен шолу
Comment[ko]=파일 관리자로 파일 시스템을 탐색합니다
Comment[lt]=Naršyti failų sistemą su failų tvarkytuve
Comment[lv]=Pārlūko failu sistēmu ar failu pārvaldnieku
Comment[ms]=Layar sistem fail dengan pengurus fail
Comment[nb]=Utforsk filsystemet med filbehandleren
Comment[nl]=Blader met de bestandbeheerder door het bestandssysteem
Comment[nn]=Bla gjennom filsystemet med filhandsamaren
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਨਾਲ ਫਾਇਲ ਸਿਸਟਮ ਨਾਲ ਬਰਾਊਜ਼ ਕਰੋ
Comment[pl]=Przegląda system plików za pomocą menedżera plików
Comment[pt]=Explorar sistema de ficheiros com o gestor de ficheiros
Comment[pt_BR]=Navegue no sistema de arquivos com o gerenciador de arquivos
Comment[ro]=Gestionați fișierele cu un manager dedicat
Comment[ru]=Просмотр файловой системы с помощью файлового менеджера
Comment[sk]=Prehliada súborový systém pomocou správcu súborov
Comment[sr]=Прегледај систем датотека управником датотека
Comment[sv]=Bläddra i filsystemet med filhanteraren
Comment[tr]=Dosya yöneticisi ile gezin
Comment[uk]=Перегляд файлової системи менеджером файлів
Comment[vi]=Duyệt hê thống tập tin với trình quản lý tập tin
Comment[zh_CN]=用文件管理器浏览文件系统
Comment[zh_TW]=使用檔案管理員瀏覽檔案系統
Exec=thunar %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;

# vi:set encoding=UTF-8:
