[Desktop Entry]
Version=1.0
Name=UNetbootin
Comment=Tool for creating Live USB drives
Categories=System;
Exec=/usr/bin/unetbootin
Terminal=false
Type=Application
Name[en_US]=UNetbootin
GenericName=UNetbootin
Comment[en_US]=Tool for creating Live USB drives
Icon=unetbootin
