[Desktop Entry]
Version=1.0
Name=Desktop 
Name[ar]=سطح المكتب 
Name[bg]=Работен плот
Name[bn]=ডেস্কটপ
Name[ca]=Escriptori 
Name[cs]=Pracovní plocha
Name[da]=Skrivebord 
Name[de]=Schreibtisch
Name[el]=Επιφάνεια εργασίας
Name[en_GB]=Desktop 
Name[es]=Escritorio
Name[et]=Töölaud
Name[eu]=Mahaigaina 
Name[fi]=Työpöytä 
Name[fr]=Bureau 
Name[gl]=Escritorio
Name[he]=שולחן עבודה
Name[hr]=Radna površina
Name[hu]=Asztal
Name[is]=Skjáborð
Name[it]=Scrivania
Name[ja]=デスクトップ 
Name[kk]=Жұмыс үстелі
Name[ko]=데스크톱
Name[lt]=Darbalaukis
Name[lv]=Darbvirsma
Name[ms]=Desktop 
Name[nb]=Skrivebord 
Name[nl]=Bureaublad
Name[nn]=Skrivebord
Name[pa]=ਡੈਸਕਟਾਪ 
Name[pl]=Pulpit
Name[pt]=Ambiente de trabalho
Name[pt_BR]=Área de trabalho 
Name[ro]=Desktop 
Name[ru]=Рабочий стол
Name[sk]=Plocha 
Name[sl]=Namizje
Name[sr]=Радна површ 
Name[sv]=Skrivbord 
Name[tr]=Masaüstü
Name[uk]=Стільниця
Name[uz]=Ish stoli
Name[zh_CN]=桌面 
Name[zh_TW]=桌面
Comment=Set desktop background and menu and icon behavior
Comment[ar]=حدد خلفية سطح المكتب و سلوك القائمة والأيقونات
Comment[bg]=Задаване на фон, менюта и поведение на иконите
Comment[ca]=Ajusta el fons de l'escriptori i el comportament del menú i de les icones
Comment[cs]=Nastavení pozadí pracovní plochy a nabídky a chování ikon
Comment[da]=Indstil skrivebordsbaggrund og menu- samt ikonopførsel
Comment[de]=Den Hintergrund des Schreibtischs sowie das Menü- und Symbolverhalten einstellen
Comment[el]=Ρύθμιση φόντου και συμπεριφοράς μενού και εικονιδίων
Comment[en_GB]=Set desktop background and menu and icon behaviour
Comment[es]=Configure el fondo de escritorio y el comportamiento de menús e iconos
Comment[et]=Määra töölaua taust ja menüüde ja ikoonide käitumine
Comment[eu]=Ezarri mahaigaineko atzeko planoa, menua eta ikonoaren portaera
Comment[fi]=Säädä työpöydän taustakuvaa, valikkoa ja kuvakkeita
Comment[fr]=Régler le fond d'écran du bureau, le menu et le comportement des icônes
Comment[gl]=Definir o fondo do escritorio e o comportamento do menú e das iconas
Comment[he]=הגדר התנהגות רקע, תפריט וסמלי שולחן עבודה
Comment[hr]=Postavi ponašanje pozadine radne površine i izbornika i ikona 
Comment[hu]=Az asztalháttér, valamint a menü- és ikonviselkedés beállítása
Comment[is]=Setja skjámynd, valmynd og hegðun tákna
Comment[it]=Impostazione dello sfondo della scrivania, del menu e del comportamento delle icone
Comment[ja]=デスクトップの背景およびメニューとアイコンの振る舞いを設定します
Comment[kk]=Жұмыс үстел суреті, мәзір мен таңбашалардың әрекеттерін баптау
Comment[ko]=데스크톱 배경, 메뉴, 아이콘 동작을 설정합니다
Comment[lt]=Nustatyti darbalaukio fono, meniu ir piktogramų elgseną
Comment[lv]=Uzstādīt darbvirsmas fonu un izvēlni, un ikonas uzvedību
Comment[ms]=Tetapkan latarbelakang desktop dan menu dan kelakuan ikon
Comment[nb]=Sett bakgrunnsbilde og innstillinger for menyen og ikoner
Comment[nl]=Stel het gedrag in van de bureaubladachtergrond, het menu en de pictogrammen
Comment[nn]=Set bakgrunnsbiletet og åtferda åt menyar og ikon
Comment[pl]=Konfiguruje tło pulpitu oraz ustawienia menu i ikon
Comment[pt]=Definir fundo do ambiente de trabalho e comportamento do menu e ícones
Comment[pt_BR]=Define a imagem de fundo da área de trabalho e o comportamento do menu e ícones
Comment[ro]=Schimbați fundalul desktopului și funcționalitatea sa
Comment[ru]=Задание фона рабочего стола и изменение настроек меню и значков
Comment[sk]=Nastavenie pozadia pracovnej plochy a ponuky a správania ikon
Comment[sl]=Nastavite ozadje namizja in obnašanje menijev in ikon
Comment[sr]=Подеси позадину површи и понашање изборника и иконица
Comment[sv]=Ange skrivbordsbakgrund samt meny- och ikonbeteende
Comment[tr]=Masaüstü arkaplan ve simge seti davranışını ayarla
Comment[uk]=Призначити фонове зображення стільниці, меню і значок заголовку
Comment[zh_CN]=设置桌面背景、菜单和图标行为
Comment[zh_TW]=設定桌面背景、選單、圖示行為
Exec=xfdesktop-settings
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
OnlyShowIn=XFCE;
StartupNotify=true
X-XfcePluggable=true
X-XfceHelpComponent=xfdesktop
X-XfceHelpPage=start
X-XfceHelpVersion=4.12
