[Desktop Entry]
Name=Help
Name[af]=Hulp
Name[ar]=مساعدة
Name[az]=Yardım
Name[bg]=Потребителско ръководство
Name[bn]=সহায়তা
Name[br]=Skoazell
Name[bs]=Pomoć
Name[ca]=Ajuda
Name[cs]=Nápověda
Name[cy]=Cymorth
Name[da]=Hjælp
Name[de]=Hilfe
Name[el]=Βοήθεια
Name[en_GB]=Help
Name[eo]=Helpo
Name[es]=Ayuda
Name[et]=Abi
Name[eu]=Laguntza
Name[fa]=راهنما
Name[fi]=Ohje
Name[fr]=Aide
Name[ga]=Cabhair
Name[gl]=Axuda
Name[gu]=મદદ
Name[he]=עזרה
Name[hi]=मदद
Name[hr]=Pomoć
Name[hu]=Súgó
Name[is]=Hjálp
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[kk]=Көмек
Name[km]=ជំនួយ
Name[ko]=도움말
Name[lt]=Žinynas
Name[lv]=Palīdzība
Name[mk]=Помош
Name[mn]=Тусламж
Name[ms]=Bantuan
Name[nb]=Hjelp
Name[nds]=Hulp
Name[nl]=Hulp
Name[nn]=Hjelp
Name[pa]=ਮਦਦ
Name[pl]=Pomoc
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ro]=Ajutor
Name[ru]=Справка
Name[rw]=Ifashayobora
Name[sk]=Pomocník
Name[sl]=Pomoč
Name[sr]=Помоћ
Name[sv]=Hjälp
Name[ta]=உதவி
Name[tg]=Кӯмак
Name[tr]=Yardım
Name[uk]=Довідка
Name[uz]=Yordam
Name[vi]=Trợ giúp
Name[zh_CN]=帮助
Name[zh_TW]=求助
Comment=Get help with GNOME
Comment[af]=Kry hulp met GNOME
Comment[ar]=احصل على المساعدة في جُنوم
Comment[az]=GNOME haqqında yardım alın
Comment[bg]=Помощ за GNOME
Comment[bn]=GNOME থেকে সহায়তা নিন
Comment[bs]=Dobavite pomoć s GNOME
Comment[ca]=Obtingueu ajuda per al GNOME
Comment[cs]=Získat nápovědu k GNOME
Comment[cy]=Cael cymorth â GNOME
Comment[da]=Få hjælp til GNOME
Comment[de]=Hilfe zu GNOME erhalten
Comment[el]=Λήψη βοήθειας για το GNOME
Comment[en_GB]=Get help with GNOME
Comment[eo]=Ricevi helpon pri GNOME
Comment[es]=Obtenga ayuda acerca de GNOME
Comment[et]=Abistab GNOME kasutamisel
Comment[eu]=Eskuratu GNOMEri buruzko laguntza
Comment[fa]=راهنمایی گرفتن در مورد گنوم
Comment[fi]=Apua Gnomen käyttöön
Comment[fr]=Obtenir de l'aide avec GNOME
Comment[ga]=Faigh cabhair ar GNOME
Comment[gl]=Obter axuda co Gnome
Comment[gu]=જીનોમ સાથે મદદ લો
Comment[he]=קבל עזרה עם GNOME
Comment[hi]=गनोम से मदद लें
Comment[hu]=A GNOME súgója
Comment[is]=Fá hjálp með GNOME
Comment[it]=Consulta l'aiuto di GNOME
Comment[ja]=GNOME のヘルプを表示します
Comment[kk]=GNOME көмегін алу
Comment[km]=ទទួល​យក​ជំនួយ​ជាមួយ GNOME
Comment[ko]=그놈에서 도움말을 봅니다
Comment[lt]=Gauti pagalbą dirbant su GNOME
Comment[lv]=Saņemt palīdzību ar GNOME
Comment[mk]=Побарај помош со GNOME
Comment[mn]=ГНОМЕ-р тусламж авах
Comment[ms]=Mendapatkan bantuan bersama GNOME
Comment[nb]=Få hjelp med GNOME
Comment[nds]=Hulp bie GNOME
Comment[nl]=Hulp bij Gnome
Comment[nn]=Få hjelp om GNOME
Comment[pa]=ਗਨੋਮ ਨਾਲ ਮੱਦਦ ਲਵੋ
Comment[pl]=Pomoc GNOME
Comment[pt]=Obtenha ajuda com o GNOME
Comment[pt_BR]=Obtenha ajuda sobre o GNOME
Comment[ro]=Ajutor pentru GNOME
Comment[ru]=Получение справки в среде GNOME
Comment[sk]=Zobraziť pomocníka pre GNOME
Comment[sl]=Iskanje pomoči namizja GNOME
Comment[sr]=Потражите Гномову помоћ
Comment[sv]=Få hjälp med GNOME
Comment[ta]=கனோமைப் பற்றி உதவி பெறு
Comment[tg]=Гирофтани мадад бо GNOME
Comment[tr]=GNOME ile yardım alın
Comment[uk]=Отримати довідку GNOME
Comment[vi]=Nhận trợ giúp từ GNOME
Comment[zh_CN]=获得 GNOME 的帮助
Comment[zh_TW]=顯示 GNOME 說明文件
Keywords=documentation;information;manual;
Keywords[ar]=توثيق;معلومات;كتيب;
Keywords[bg]=документация;информация;ръководство;documentation;information;manual;
Keywords[bs]=dokumentacja;informacija;priručnik;
Keywords[ca]=documentació;informació;manual;
Keywords[cs]=dokumentace;informace;příručka;manuál;návod;
Keywords[da]=dokumentation;information;manual;håndbog;
Keywords[de]=Dokumentation;Information;Handbuch;
Keywords[el]=τεκμηρίωση;πληροφορίες;εγχειρίδιο;documentation;information;manual;
Keywords[eo]=dokumentado;informo;manlibro;gvidilo;
Keywords[es]=documentación;información;manual;
Keywords[et]=dokumentatsioon;informatsioon;manuaal;käsiraamat;juhend;juhised;
Keywords[eu]=dokumentazioa;informazioa;eskuliburua;
Keywords[fa]=مستندات;اطلاعات;راهنما;
Keywords[fi]=documentation;information;manual;dokumentaatio;manuaali;ohje;
Keywords[fr]=documentation;information;manuel;
Keywords[gl]=documentación;información;manual;
Keywords[gu]=દસ્તાવેજીકરણ;જાણકારી;પુસ્તિકા;
Keywords[he]=תיעוד;פרטים;מידע;מדריך;
Keywords[hi]=दस्तावेजीकरण;सूचना;मैनुअल;
Keywords[hu]=dokumentáció;információ;kézikönyv;
Keywords[is]=Handbækur;Handbók;Hjálparskjöl;Skjölun;Upplýsingar;Leiðbeiningar;
Keywords[it]=documentazione;informazioni;manuali;aiuto;
Keywords[ja]=documentation;information;manual;ドキュメンテーション;ドキュメント;情報;マニュアル;help;ヘルプ;
Keywords[kk]=құжаттама;ақпарат;нұсқама;
Keywords[ko]=documentation;문서;information;정보;manual;설명서;매뉴얼;
Keywords[lt]=dokumentacija;informacija;vadovas;žinynas;
Keywords[lv]=dokumentācija;informācija;rokasgrāmata;
Keywords[nb]=dokumentasjon;informasjon;håndbok;
Keywords[nl]=documentatie;informatie;handleiding;hulp;help;docs;
Keywords[pa]=ਦਸਤਾਵੇਜ਼;ਜਾਣਕਾਰੀ;ਕਿਤਾਬਚਾ;documentation;information;manual;
Keywords[pl]=dokumentacja;informacje;podręcznik;przewodnik;manual;instrukcja;
Keywords[pt]=documentação;informação;manual;
Keywords[pt_BR]=documentação;informação;informações;manual;
Keywords[ro]=documentation;intormation;manual;documentație;informație;
Keywords[ru]=документация;информация;руководство;
Keywords[sk]=dokumentácia;informácie;návod;
Keywords[sl]=dokumentacija;podrobnosti;informacije;priročnik;vodnik;
Keywords[sr]=документација;подаци;упутство;
Keywords[sv]=dokumentation;information;manual;handbok;
Keywords[ta]=documentation;information;manual;
Keywords[tg]=санад;иттилоот;дастур;
Keywords[tr]=belgelendirme;bilgi;kılavuz;
Keywords[uk]=документація;інформація;посібник;
Keywords[vi]=documentation;information;manual;tài;liệu;tai;lieu;thông;tin;hướng;dẫn;huong;dan;trợ;tro;giúp;giup;help;
Keywords[zh_CN]=documentation;information;manual;文档;信息;手册;
Keywords[zh_TW]=documentation;information;manual;文件;資訊;手冊;
OnlyShowIn=GNOME;Unity;
Exec=yelp %u
Icon=help-browser
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Documentation;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Yelp
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.18.1
MimeType=x-scheme-handler/ghelp;x-scheme-handler/help;x-scheme-handler/info;x-scheme-handler/man;
