[Desktop Entry]
Version=1.0
Type=Application
Name=GNU Image Manipulation Program
Name[ar]=برنامج جنو لمعالجة الصور
Name[bg]=Редактор на изображения (GIMP)
Name[br]=Goulev da zornata skeudennoù GNU
Name[ca]=Programa de retoc d'imatges de GNU
Name[cs]=GNU Image Manipulation Program
Name[da]=GNU Image Manipulation Program
Name[de]=GNU Image Manipulation Program
Name[el]=Πρόγραμμα επεξεργασίας εικόνων GNU
Name[en_GB]=GNU Image Manipulation Program
Name[eo]=Bildmanipulilo (GIMP = GNU Image Manipulation Program)
Name[es]=Programa de manipulación de imágenes de GNU
Name[et]=GIMP - GNU pilditöötlusprogramm
Name[eu]=GNUren Irudiak Manipulatzeko Programa
Name[fa]=برنامهٔ روتوش تصاویر گنو
Name[fi]=GIMP-kuvankäsittely
Name[fr]=Éditeur d'image GIMP
Name[gl]=Programa de Manipulación de Imaxes de GNU
Name[gu]=GNU ચિત્ર જાળવણી કાર્યક્રમ
Name[he]=תוכנת עיבוד התמונה של GNU
Name[hu]=A GNU képszerkesztő program
Name[is]=GNU Myndvinnsluforrit
Name[it]=GNU Image Manipulation Program
Name[ja]=GIMP (GNU Image Manipulation Program)
Name[km]=កម្មវិធី​រៀបចំ​រូបភាពរបស់ GNU
Name[ko]=GNU Image Manipulation Program
Name[lt]=GNU paveikslėlių manipuliavimo programa
Name[lv]=GNU attēlu apstrādes programma
Name[mk]=ГНУ програма за манипулација со слики
Name[nb]=GNU bildebehandlingsprogram
Name[nds]=GNU Billbewarkenprogramm
Name[nl]=GNU Image Manipulation Program
Name[nn]=GNU biletbehandlingsprogram
Name[pa]=ਗਨੂ ਈਮੇਜ਼ ਮੈਨੂਪਲੇਸ਼ਨ ਪਰੋਗਰਾਮ
Name[pl]=Edytor obrazów GIMP
Name[pt]=Programa de Manipulação de Imagens GNU
Name[pt_BR]=Programa de manipulação de imagem do GNU
Name[ro]=GIMP
Name[ru]=GNU Image Manipulation Program
Name[sk]=GNU program na manipuláciu s obrázkami
Name[sl]=GIMP - program GNU za obdelavo slik
Name[sr]=Гнуов програм за обраду слика
Name[sv]=GNU:s bildmanipuleringsprogram
Name[ta]=க்னூ பட கையாளல் நிரல்
Name[tr]=GNU Görüntü İşleme Programı
Name[uk]=GNU Image Manipulation Program
Name[vi]=Chương Trình Thao Tác Ảnh GNU
Name[zh_CN]=GNU 图像处理程序
Name[zh_TW]=GNU 圖片處理程式
GenericName=Image Editor
GenericName[ar]=محرر صور
GenericName[bg]=Редактор на изображения
GenericName[br]=Embanner skeudennoù
GenericName[ca]=Editor d'imatges
GenericName[cs]=Editor obrázků
GenericName[da]=Billedredigering
GenericName[de]=Bildeditor
GenericName[el]=Επεξεργαστής εικόνων
GenericName[en_GB]=Image Editor
GenericName[eo]=Bildredaktilo
GenericName[es]=Editor de imagen
GenericName[et]=Pildiredaktor
GenericName[eu]=Irudi-editorea
GenericName[fa]=ویرایشگر تصویر
GenericName[fi]=Kuvankäsittely
GenericName[fr]=Éditeur d'image
GenericName[gl]=Editor de imaxes
GenericName[gu]=ચિત્ર સંપાદક
GenericName[hu]=Képszerkesztő
GenericName[is]=Myndvinnsluforrit
GenericName[it]=Modifica immagine
GenericName[ja]=画像エディター
GenericName[km]=កម្មវិធី​និពន្ធ​រូបភាព
GenericName[ko]=이미지 편집기
GenericName[lt]=Paveikslėlių rengyklė
GenericName[lv]=Attēla redaktors
GenericName[mk]=Уредник за слики
GenericName[nb]=Bildebehandler
GenericName[nds]=Billbewarker
GenericName[nl]=Editor Afbeeldingen
GenericName[nn]=Bilethandterar
GenericName[pa]=ਚਿੱਤਰ ਐਡੀਟਰ
GenericName[pl]=Edytor obrazów
GenericName[pt]=Editor de Imagens
GenericName[pt_BR]=Editor de imagens
GenericName[ro]=Editor de imagini
GenericName[ru]=Редактор изображений
GenericName[sk]=Editor obrázkov
GenericName[sl]=Urejevalnik slik
GenericName[sr]=Уређивач слика
GenericName[sv]=Bildredigerare
GenericName[ta]=பிம்ப திருத்தி
GenericName[tr]=Görüntü Düzenleyici
GenericName[uk]=Редактор зображень
GenericName[vi]=Bộ biên soạn ảnh
GenericName[zh_CN]=图像编辑器
GenericName[zh_TW]=圖片編輯器
Comment=Create images and edit photographs
Comment[ar]=أنشئ صورا وحرّر لقطات
Comment[bg]=Създаване на изображения и редакция на снимки
Comment[br]=Krouiñ hag embann skeudennoù pe luc'hskeudennoù
Comment[ca]=Creeu imatges i editeu fotografies
Comment[cs]=Vytvářet obrázky a upravovat fotografie
Comment[da]=Opret billeder og redigér fotografier
Comment[de]=Bilder erstellen und Fotografien bearbeiten
Comment[el]=Δημιουργία εικόνων και επεξεργασία φωτογραφιών
Comment[en_GB]=Create images and edit photographs
Comment[eo]=Krei bildojn aŭ redakti fotaĵojn
Comment[es]=Cree imágenes y edite fotografías
Comment[et]=Loo pilte ja redigeeri fotosid
Comment[eu]=Sortu irudiak eta editatu argazkiak
Comment[fi]=Luo kuvia ja muokkaa valokuvia
Comment[fr]=Créer des images et modifier des photographies
Comment[gl]=Crear imaxes e editar fotografías
Comment[gu]=ચિત્રો બનાવો અને ફોટાઓમાં ફેરફાર કરો
Comment[hu]=Képek létrehozása és fotók szerkesztése
Comment[is]=Búa til myndir og breyta ljósmyndum
Comment[it]=Crea immagini e modifica fotografie
Comment[ja]=画像の作成と写真の編集を行います
Comment[km]=បង្កើត​រូបភាព និង កែសម្រួល​រូបថត
Comment[ko]=이미지를 만들고 사진을 편집합니다
Comment[lt]=Kurti paveikslėlius ir redaguoti fotografijas
Comment[lv]=Veido attēlus vai rediģē fotogrāfijas
Comment[mk]=Направи слики и уреди фотографии
Comment[nb]=Lag bilder og rediger fotografier
Comment[nl]=Afbeeldingen of foto's aanmaken en bewerken
Comment[nn]=Lag teikningar eller rediger foto
Comment[pa]=ਚਿੱਤਰ ਬਣਾਓ ਅਤੇ ਤਸਵੀਰਾਂ ਸੋਧੋ
Comment[pl]=Tworzenie oraz obróbka obrazów i fotografii
Comment[pt]=Criar imagens e editar fotografias
Comment[pt_BR]=Crie e edite imagens ou fotografias
Comment[ro]=Creează imagini și editează fotografii
Comment[ru]=Создание изображений и редактирование фотографий
Comment[sk]=Vytvárajte a upravujte obrázky alebo fotografie
Comment[sl]=Ustvari slike in uredi fotografije
Comment[sr]=Направите слике и уредите фотографије
Comment[sv]=Skapa bilder och redigera fotografier
Comment[ta]=பிம்பங்களை உருவாக்கவும் மற்றும் படங்களை திருத்தவும்
Comment[tr]=Görüntü oluşturur ve fotoğraf düzenler
Comment[uk]=Створення зображень та редагування фотографій
Comment[vi]=Tạo và biên soạn ảnh hay ảnh chụp
Comment[zh_CN]=创建图像或编辑照片
Comment[zh_TW]=建立圖像與編輯照片
Exec=gimp-2.8 %U
TryExec=gimp-2.8
Icon=gimp
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=GIMP
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=2.8.14
X-GNOME-Bugzilla-OtherBinaries=gimp-2.8
StartupNotify=true
MimeType=image/bmp;image/g3fax;image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/x-xcf;image/x-compressed-xcf;image/x-gimp-gbr;image/x-gimp-pat;image/x-gimp-gih;image/tiff;image/jpeg;image/x-psp;image/png;image/x-icon;image/x-xpixmap;image/svg+xml;application/pdf;image/x-wmf;image/x-xcursor;
