[Desktop Entry]
Name=Notepad++
Exec=env WINEPREFIX="/home/fusion809/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/fusion809/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/Notepad++/Notepad++.lnk
Type=Application
StartupNotify=true
Path=/home/fusion809/.wine/dosdevices/c:/Program Files (x86)/Notepad++
Icon=1DE5_notepad++.0
