[Desktop Entry]
Name=Arch Linux
Comment[en_AU]=Starts the VirtualBox machine Arch Linux
Comment=Starts the VirtualBox machine Arch Linux
Encoding=UTF-8
Exec=/usr/lib/virtualbox/VirtualBox --comment "Arch Linux" --startvm "224bdb28-d2ba-4829-9b70-13feab5b5a5a"
Icon=/home/fusion809/.local/share/icons/Arch_Linux.png
StartupNotify=true
Terminal=false
Categories=System;Emulation;Virtualization;
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
