[Desktop Entry]
Hidden=false
Exec=/usr/lib/virtualbox/VirtualBox --comment "Lubuntu 15.10" --startvm "83b55aa2-d4d5-443f-a9e6-96b2c050a9bd"
Icon=Lubuntu.png
Type=Application
NoDisplay=false
Version=1.0
StartupNotify=false
Comment=Starts the VirtualBox machine Lubuntu 15.10
DBusActivatable=false
Categories=System;Emulation;Virtualization;
Terminal=false
Name=Lubuntu 15.10
Icon[en_US]=Lubuntu.png
Name[en_US]=Lubuntu 15.10
Comment[en_US]=Starts the VirtualBox machine Lubuntu 15.10
