[Desktop Entry]
Hidden=false
Exec=/usr/lib/virtualbox/VirtualBox --comment "openSUSE Tumbleweed" --startvm "8c84c2ea-dca9-4446-9ee8-d42a0b5744e7"
Icon=openSUSE-black.png
Type=Application
NoDisplay=false
Version=1.0
StartupNotify=false
Comment=Starts the VirtualBox machine openSUSE Tumbleweed
DBusActivatable=false
Categories=System;Emulation;Virtualization;
Terminal=false
Name=openSUSE Tumbleweed
Icon[en_US]=openSUSE-black.png
Name[en_US]=openSUSE Tumbleweed
Comment[en_US]=Starts the VirtualBox machine openSUSE Tumbleweed
