[Desktop Entry]
Type=Application
Name=MarvinSpace-16.1.25.0
Exec=/bin/sh "/home/fusion809/ChemAxon/MarvinBeans/MarvinSpace"
Icon=/home/fusion809/ChemAxon/MarvinBeans/.install4j/MarvinSpace.png
Categories=Education;Science;
