[Desktop Entry]
Type=Application
Name=MarvinView-16.1.25.0
Exec=/bin/sh "/home/fusion809/ChemAxon/MarvinBeans/MarvinView"
Icon=/home/fusion809/ChemAxon/MarvinBeans/.install4j/MarvinView.png
Categories=Education;Science;
