[Desktop Entry]
Comment=
Exec=atom /home/fusion809/GitHub/PKGBUILDs/
Icon=atom
Name=PKGBUILDs
Categories=Atom;TextEditor;Development;
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
