[Desktop Entry]
Comment=
Exec=atom /home/makerpm/rpmbuild/
Icon=atom
Name=RPM Build
Categories=Atom;TextEditor;Development;
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
