[Desktop Entry]
Name=Future Pinball Manual
Exec=env WINEPREFIX="/home/fusion809/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/fusion809/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/Future\\ Pinball/Future\\ Pinball\\ Manual.lnk
Type=Application
StartupNotify=true
Path=/home/fusion809/.wine/dosdevices/c:/Games/Future Pinball
Icon=3CA3_Future Pinball.8
