[Desktop Entry]
Encoding=UTF-8
Name=NetBeans IDE 8.2
Comment=The Smarter Way to Code
Exec=/bin/sh "/home/fusion809/netbeans-8.2/bin/netbeans"
Icon=netbeans
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0

