[Desktop Entry]
Name=License
Exec=env WINEPREFIX="/home/fusion809/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/fusion809/.wine/dosdevices/c:/users/fusion809/Start\\ Menu/Programs/RuneScape/License.lnk
Type=Application
StartupNotify=true
Path=/home/fusion809/.wine/dosdevices/c:/jagexlauncher/jagexlauncher/
Icon=6CC6_LICENSE.0
