[Desktop Entry]
Categories=GTK;Utility;TerminalEmulator;
Comment=Opens a terminal as the root user, using gksu to ask for the password
Encoding=UTF-8
Exec=kdesu "konsole"
Icon=gksu-root-terminal
Name=Root Terminal
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
TryExec=gnome-terminal
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false
