[Desktop Entry]
Comment=Terminal (Zsh)
Exec=konsole2
GenericName=Terminal
Icon=utilities-terminal
Name=Konsole (Zsh)
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
