[Desktop Entry]
Comment=
Exec=gvim -c ":call FGI()"
Icon=gvim
Name=The Hornery
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=TextEditor;gVim;Development;
