[Desktop Entry]
Categories=Qt;KDE;Utility;TextEditor;
Comment=KDE Advanced Text Editor
Exec[$e]=kate -b %U
GenericName=
Icon=kate
InitialPreference=9
MimeType=text/plain;
Name=Kate
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.kate
X-DBUS-StartupType=Multi
X-DocPath=kate/index.html
X-KDE-HasTempFileOption=true
X-TDE-SubstituteUID=false
X-TDE-Username=
