[Desktop Entry]
Categories=Qt;KDE;System;FileTools;FileManager;
Comment=
Exec[$e]=dolphin %u
GenericName=
Icon=system-file-manager
InitialPreference=10
MimeType=inode/directory;
Name=Dolphin
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.dolphin
X-DocPath=dolphin/index.html
X-TDE-SubstituteUID=false
X-TDE-Username=
