[Desktop Action NewWindow]
Exec=konsole
Name=Open a New Window

[Desktop Entry]
Actions=NewWindow;
Categories=Qt;KDE;System;TerminalEmulator;
Comment=
Exec[$e]=konsole
GenericName=
Icon=utilities-terminal
Name=Konsole
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
TryExec=konsole
Type=Application
X-DBUS-StartupType=Unique
X-DocPath=konsole/index.html
X-KDE-AuthorizeAction=shell_access
X-TDE-SubstituteUID=false
X-TDE-Username=
