[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Annex - Map Editor
GenericName=Game tool. Annex v4.0
Comment=A real time strategy game.
Icon=/home/fusion809/annex/annex_editor.png
Exec="/home/fusion809/annex/annex_editor"
Categories=Game;StrategyGame

