[Desktop Entry]
Categories=Qt;System;TerminalEmulator;
Comment=A drop-down terminal emulator.
Exec[$e]=qterminal --drop
GenericName=
Icon=utilities-terminal
Name=QTerminal drop down
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-TDE-SubstituteUID=false
X-TDE-Username=
