#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Mado
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=gmmlaihnodfojphcmjeemhaeajaldcdj
Icon=chrome-gmmlaihnodfojphcmjeemhaeajaldcdj-Default
StartupWMClass=crx_gmmlaihnodfojphcmjeemhaeajaldcdj
