[Desktop Entry]
Categories=Qt;KDE;Development;IDE;
Comment=
Exec=kdevelop %u
GenericName=
Icon=kdevelop
MimeType=application/x-kdevelop;
Name[en_GB]=KDevelop 4
Name=KDevelop 4
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DocPath=kdevelop/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
