[Desktop Action new-document]
Exec=gedit --new-document
Name[en_GB]=Open a New Document
Name=Open a New Document

[Desktop Action new-window]
Exec=gedit --new-window
Name[en_GB]=Open a New Window
Name=Open a New Window

[Desktop Entry]
Actions=new-window;new-document;
Categories=GNOME;GTK;Utility;TextEditor;
Comment=Edit text files
DBusActivatable=true
Exec=gedit %U
Icon=gedit
Keywords=Text;Editor;
MimeType=text/plain;
Name=gedit
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-ExtraInfoScript=/usr/lib/gedit/gedit-bugreport.sh
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Version=3.20.1
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-FullName[en_GB]=gedit Text Editor
X-GNOME-FullName=gedit Text Editor
X-KDE-SubstituteUID=false
X-KDE-Username=
