[Desktop Entry]
Categories=GNOME;GTK;System;
Comment=Update software installed on the system
Exec=pamac-updater
Icon=system-software-update
Name=Pamac Updater
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
