[Desktop Entry]
Categories=System;FileTools;FileManager;Utility;Core;GTK;
Comment=Browse the file system and manage the files
Exec=pcmanfm %U
GenericName[en_GB]=File Manager
GenericName=File Manager
Icon=system-file-manager
MimeType=inode/directory;
Name=PCManFM
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
