[Desktop Entry]
Categories=System;Utility;Core;GTK;FileTools;FileManager;
Comment=Browse the filesystem with the file manager
Exec=thunar %F
GenericName[en_GB]=File Manager
GenericName=File Manager
Icon=Thunar
Name=Thunar
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
