[Desktop Entry]
Categories=System;Utility;
Comment=Easy to use task manager
Exec=xfce4-taskmanager
GenericName[en_AU]=Task Manager
GenericName=Task Manager
Icon=utilities-system-monitor
Name=Xfce4 Task Manager
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
