[Desktop Entry]
Categories=GNOME;GTK;System;PackageManager;
Comment=Add, remove or update software on this computer
DBusActivatable=true
Exec[$e]=gnome-software %U
GenericName=
Icon=org.gnome.Software
Keywords=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
MimeType=x-scheme-handler/appstream;
Name=GNOME Software
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=gnome-software
X-GNOME-Bugzilla-Product=gnome-software
X-GNOME-UsesNotifications=true
X-TDE-SubstituteUID=false
X-TDE-Username=
X-Ubuntu-Gettext-Domain=gnome-software
