[Desktop Entry]
Comment=
Exec="gitkraken"
Icon=gitkraken.png
Name=GitKraken
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-TDE-SubstituteUID=false
X-TDE-Username=
